{$header}
<!--content_begin-->
<div class="mainContent clear">
	<div class="help_left">
		<div><img src="catalog/view/theme/default/image/helpTitle.jpg" /></div>
		{$left}
	</div>
	
	<div class="help_right">
		<div class="helpContent clearfix">
			<h2>联系我们</h2>
			<div class="content">
			<!--帮助内容开始-->
			  <table cellspacing="0" cellpadding="0">
               <!--  <tr>
                  <td height="30">联系我们</td>
                </tr> -->
                <tr>
                  <td><table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <tr>
         
						  <td>公司地址：{$address}</td>
                        </tr>
						<tr>
						  
						  <td>{$telphone}</td>
						</tr>
                      </tbody>
                  </table></td>
                </tr>
                <tr>
                  <td height="23"> </td>
                </tr>
                  </table>
                  <img src="catalog/view/theme/default/image/help_ad.jpg" width="700" height="190" /></td>
                </tr>
		      </table>
			<!--帮助内容结束-->
		    </div>
		</div>
	</div>
</div>
<!--content_end-->
{$footer}