{$header}
<style>
			.tabletd{ margin:10 auto; line-height:30px;}
			.fontrenB{ font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#df3866;}
			.tdline{ border-bottom:#CCCCCC solid 1px; line-height:30px;}
			.fontren14{color:#df3866;font-size:14px;}
			</style>
<!--content_begin-->
<div class="mainContent clear">
	<div class="help_left">
		<div><img src="catalog/view/theme/default/image/helpTitle.jpg" /></div>
		{$left}
	</div>
	
	<div class="help_right">
		<div class="helpContent clearfix">
			
			<div class="content">
			<!--帮助内容开始-->
			  <table cellspacing="0" cellpadding="0">
                <!-- <p>
                  <td height="30">上门自提</span>
                </p> -->
                <p>
                  <span><table border="0" cellspacing="0" cellpadding="0" width="100%">
                      <tbody>
                        <p>
                          <span><table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="tabletd">
			  <tr>
				<td class="fontrenB tdline">自提流程</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/helppic09.jpg"/></td>
			  </tr>
			  <tr>
				<td class="fontren14">注意事项：</td>
			  </tr>
			  <tr>
				<td>商品需客户当面检验，离开商家后将不再对此商品负责；</td>
			  </tr>
			  <tr>
				<td class="fontren14">特殊说明：</td>
			  </tr>
			  <tr>
				<td>1. 上门自提的订单，请在规定的时间内到商家提取货物。上门自提订单原则上免收配送费用，但如果一个ID帐号在一个月内有
过1次以上或一年内有过3次以上，在规定的时间内无理由不履约提货，我司将在相应的ID帐户里每单扣除50个积分做为运费；时间
计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算；</td>
			  </tr>
			  <tr>
				<td>2. 对于上门自提的客户，商家可以接受现金、POS机刷卡两种付款方式。POS机刷卡只支持带有银联标识的银行卡；</td>
			  </tr>
			  <tr>
				<td>3. 信用卡POS机刷卡消费超过4500元时，发卡银行按照相关规定有可能不向您赠送积分，具体信息请致电发卡行确认。 </td>
			  </tr>
			</table></span>
                        </p>
                      </tbody>
                  </table></span>
                </p>
                <p>
                  <td height="23"> </span>
                </p>
                      
                  </table>
                  <img src="catalog/view/theme/default/image/help_ad.jpg" width="700" height="190" /></span>
                </tr>
		      </table>           
			<!--帮助内容结束-->
		    </div>
		</div>
	</div>
</div>
<!--content_end-->
{$footer}