{$header}
<style>
			.tabletd{ margin:10 auto;}
			.tabletd td.lh{ line-height:10px;}
			.fontrenB{ font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#df3866;}
			.tdline{ border-bottom:#CCCCCC solid 1px; line-height:30px;}
			.fontren14{color:#df3866;font-size:14px;}
			</style>
<!--content_begin-->
<div class="mainContent clear">
	<div class="help_left">
		<div><img src="catalog/view/theme/default/image/helpTitle.jpg" /></div>
		{$left}
	</div>
	
	<div class="help_right">
		<div class="helpContent clearfix">
			<!-- <h2>退换货物</h2> -->
			<div class="content">
			<!--帮助内容开始-->
			 <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="tabletd">
			  <tr>
				<td class="fontrenB tdline">交易进行中买家申请退货退款操作流程</td>
			  </tr>
			  <tr>
				<td class="lh"><img src="catalog/view/theme/default/image/support/helppic04.jpg"/></td>
			  </tr>
			  <tr>
				<td class="lh"><img src="catalog/view/theme/default/image/support/helppic05.jpg"/></td>
			  </tr>
			  <tr>
				<td class="lh"><img src="catalog/view/theme/default/image/support/helppic06.jpg"/></td>
			  </tr>
			  <tr>
				<td class="lh"><img src="catalog/view/theme/default/image/support/helppic07.jpg"/></td>
			  </tr>
			  <tr>
				<td ><span class="fontren14">注意：</span>卖家有5天的时间来同意和拒绝买家的退款申请，若卖家同意退货协议，页面上会出现卖家的
                        退货地址，买家可以根据此地址进行退货的操作。退货后，请到退款页面“填写退货信息”</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/helppic08.jpg"/></td>
			  </tr>
			</table>
                  <img src="catalog/view/theme/default/image/help_ad.jpg" width="700" height="190" /></td>
                </tr>
		      </table>
			<!--帮助内容结束-->
		    </div>
		</div>
	</div>
</div>
<!--content_end-->
{$footer}