{$header}
<style>
			.tabletd{ margin:10 auto; line-height:30px;}
			.fontrenB{ font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#df3866;}
			.tdline{ border-bottom:#CCCCCC solid 1px; line-height:30px;}
			.fontren14{color:#df3866;font-size:14px;}
			</style>
<!--content_begin-->
<div class="mainContent clear">
	<div class="help_left">
		<div><img src="catalog/view/theme/default/image/helpTitle.jpg" /></div>
		{$left}
	</div>
	
	<div class="help_right">
		<div class="helpContent clearfix">
			<!-- <h2>购物流程</h2> -->
			<div class="content">
			<!--帮助内容开始-->
			 <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="tabletd">
			  <tr>
				<td class="fontrenB tdline">产品图片上传</td>
			  </tr>
			  <tr>
				<td>登录后，进入卖家后台，单击左侧菜单的“发布商品”选项，即可进行商品发布。</td>
			  </tr>
			  <tr>
				<td>1、单击“上传新图片”按钮，弹出“批量添加图片”对话框；</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/image_upload4.jpg" width="690" height="94" /></td>
			  </tr>
			  <tr>
				<td>2、在“批量添加图片”对话框中单击“添加图片”按钮；即可在弹出的对话框中选择需要上传的图片，添加后效果如下图：</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/image_upload1.jpg" width="653" height="512" /></td>
			  </tr>
			  <tr>
				<td>3、添加完成后，单击“开始上传”按钮，即可上传图片，上传后效果如下图：</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/image_upload2.jpg" width="652" height="512" /></td>
			  </tr>
			  <tr>
				<td>4、上传完成后，单击“全部插入”按钮，即可完成产品图片的上传，效果如下图：</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/image_upload3.jpg" width="690" height="176" /></td>
			  </tr>
			</table>
			<!--帮助内容结束-->
		    </div>
		</div>
	</div>
</div>
<!--content_end-->
{$footer}