<div class="leftClass">
	<dl>
		<dt>{$text_manual}</dt>
		<dd><a href="{$register}">{$text_register}</a></dd>
		<dd><a href="{$shoppingProcess}">{$text_shoppingProcess}</a></dd>
	</dl>
	<dl>
		<dt>{$text_shoppingMethod}</dt>
		<dd><a href="{$diy}">{$text_diy}</a></dd>
		<dd><a href="{$transport}">{$text_transport}</a></dd>
		<dd><a href="{$arrivedIntime}">{$text_arrivedIntime}</a></dd>
	</dl>
	<dl>
		<dt>{$text_payMethod}</dt>
		<dd><a href="{$payment}">{$text_payment}</a></dd>
		<dd><a href="{$onlinePay}">{$text_onlinePay}</a></dd>
		<dd><a href="{$installments}">{$text_installments}</a></dd>
	</dl>
	<dl>
		<dt>{$text_support}</dt>
		<dd><a href="{$exchange}">{$text_exchange}</a></dd>
		<dd><a href="{$warrant}">{$text_warrant}</a></dd>
	</dl>
	<dl>
		<dt>{$text_help}</dt>
		<dd><a href="{$forgotten}">{$text_forgotten}</a></dd>
		<dd><a href="{$faq}">{$text_faq}</a></dd>
		<dd><a href="{$feedback}">{$text_feedback}</a></dd>
		<dd><a href="{$contact}">{$text_contact}</a></dd>
	</dl>
	<dl>
		<dt>{$text_aboutus}</dt>
		<dd><a href="{$company}">{$text_company}</a></dd>
	</dl>
</div>