{$header}
<!--content_begin-->
<style>
.tabletd{ margin:10 auto; line-height:30px;}
.fontrenB{ font-family:"微软雅黑"; font-size:18px; font-weight:bold; color:#df3866;}
.tdline{ border-bottom:#CCCCCC solid 1px; line-height:30px;}
.fontren14{color:#df3866;font-size:14px;}
</style>
<div class="mainContent clear">
	<div class="help_left">
		<div><img src="catalog/view/theme/default/image/helpTitle.jpg" /></div>
		{$left}
	</div>
	
	<div class="help_right">
		<div class="helpContent clearfix">
			<!-- <h2>假一罚三</h2> -->
			<div class="content">
			<!--帮助内容开始-->
			  <table cellspacing="0" cellpadding="0">
               <!--  <p>
                  <span>假一罚三</span>
                </p> -->
                <p>
                  <span><table width="700" border="0" align="center" cellpadding="0" cellspacing="0" class="tabletd">
			  <tr>
				<td class="fontrenB tdline">假一罚三的服务</td>
			  </tr>
			  <tr>
				<td>假一赔三服务是指卖家在承诺消费者保障服务的基础上，根据店铺主营类目自愿选择向买家提供的特色服务之一。具体
为，当买家使用支付宝担保交易服务购买支持“假一赔三”的商品，在收到货物后，认为该商品为假货，且与卖家协商
未果，买家有权在穿悦商城指定期限内发起维权，并申请“假一赔三”赔付。如穿悦商城判定买家赔付申请成立，卖家
应向买家退回其实际支付的商品价款，并增加赔偿其受到的损失，增加赔偿的金额为买家实际支付商品价款的二倍，并
承担维权所涉商品的所有物流费用。</td>
			  </tr>
			  <tr>
				<td class="fontrenB tdline">假一罚三政策流程</td>
			  </tr>
			  <tr>
				<td><img src="catalog/view/theme/default/image/support/helppic03.jpg" width="720"/></td>
			  </tr>
			  <tr>
				<td class="fontrenB tdline">提出假一陪三的申请条件</td>
			  </tr>
			  <tr>
				<td>1.买家提出赔付申请所指向的卖家已参加“消费保障服务”并承诺提供“假一赔三”服务；</td>
			  </tr>
			  <tr>
				<td>2.买家收到货物后，在交易成功之日起15天内，若认为该商品为假货，且与卖家协商未果，买家有权在穿悦商城指定期间内发起维权，并申请
“假一赔三”赔付；</td>
			  </tr>
			  <tr>
				<td>3.消费者的赔付申请在形式上符合相关法律法规的规定；</td>
			  </tr>
			  <tr>
				<td>4.买家需要提供实物真假对比图片，聊天记录截图等凭证来说明商品问题。</td>
			  </tr>
			</table></span>
                        </p>
                      </tbody>
                  </table></span>
                </p>
               
                <p>
                  <td height="23"> </span>
                </p>
                  <img src="catalog/view/theme/default/image/help_ad.jpg" width="700" height="190" /></span>
                </p>
		      </table>
			<!--帮助内容结束-->
		    </div>
		</div>
	</div>
</div>
<!--content_end-->
{$footer}