<ul class="brand">
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand1.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand2.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand3.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand4.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand5.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand6.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand7.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand8.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand9.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand1.jpg" width="90" height="60" alt="brand" /></a></li>
	<li><a href="?route=product/category&category_id=149"><img src="catalog/view/theme/default/image/nousefulpic/brand2.jpg" width="90" height="60" alt="brand" /></a></li>
</ul>

<script type="text/javascript">
    $("ul.brand li").hover(function(){
	    $(this).css({'border':'1px solid #ac34df'});
	},function(){
	    $(this).css({'border':'none'});
	});

</script>