<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/footer.css" type="text/css" />
<div id="footer" class="box cl">
	<div class="cl_div"></div>
	
	<div class="support wp cl">
		<ul class="support_ser z"><li></li></ul>
		<ul class="support_lis z">
			<li class="lis_l"><dl>
				<dt><em class="supportem1"></em><a href="javascript:void(0);" class="f_j f2">{$text_manual}</a></dt>
				<dd><a href="{$register}">{$text_register}</a></dd>
				<dd><a href="{$shoppingProcess}">{$text_shoppingProcess}</a></dd>
			</dl></li>
			<li class="lis_l"><dl>
				<dt><em class="supportem2"></em><a href="javascript:void(0);" class="f_j f2">{$text_shoppingMethod}</a></dt>
				<dd><a href="{$diy}">{$text_diy}</a></dd>
				<dd><a href="{$transport}">{$text_transport}</a></dd>
				<dd><a href="{$arrivedIntime}">{$text_arrivedIntime}</a></dd>
			</dl></li>
			<li class="lis_l"><dl>
				<dt><em class="supportem3"></em><a href="javascript:void(0);" class="f_j f2">{$text_payMethod}</a></dt>
				<dd><a href="{$payment}">{$text_payment}</a></dd>
				<dd><a href="{$onlinePay}">{$text_onlinePay}</a></dd>
				<dd><a href="{$installments}">{$text_installments}</a></dd>
			</dl></li>
			<li class="lis_l"><dl>
				<dt><em class="supportem4"></em><a href="javascript:void(0);" class="f_j f2">{$text_support}</a></dt>
				<dd><a href="{$exchange}">{$text_exchange}</a></dd>
				<dd><a href="{$warrant}">{$text_warrant}</a></dd>
			</dl></li>
			<li class="lis_l"><dl>
				<dt><em class="supportem5"></em><a href="javascript:void(0);" class="f_j f2">{$text_help}</a></dt>
				<dd><a href="{$forgotten}">{$text_forgotten}</a></dd>
				<dd><a href="{$faq}">{$text_faq}</a></dd>
				<dd><a href="{$feedback}">{$text_feedback}</a></dd>
				<dd><a href="{$contact}">{$text_contact}</a></dd>
			</dl></li>
			<li><dl>
				<dt><em class="supportem6"></em><a href="javascript:void(0);" class="f_j f2">{$text_aboutus}</a></dt>
				<dd><a href="{$company}">{$text_company}</a></dd>
			</dl></li>
		</ul>
	</div>
	<div class="bottom wp cl tc">
		{$bottom}<p>{$address} {$telphone} {$icp}</p>
	</div>
	
	<div class="cart-bottom">
	    {$cart_bottom}
	</div>
	
	<div id="backtotop" class="showme">
	   <div class="bttbg"></div>
	</div>
</div>

</body>
<script type="text/javascript">
    if(getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
	    $('.cart-bottom').remove();
	}

    {if empty($userid)}
		$(".tmMCHandler").hover(function(){
			$(this).addClass('unlogin_hover');
			$(".tmMCNum").css({'display':'none'});
		},function(){
			$(this).removeClass('unlogin_hover');
			$(".tmMCNum").css({'display':'inline-block'});
		}).click(function(){
			window.location.href='index.php?route=account/login';
		});
	{/if}
	
	$("#J_BrandBar").hover(function(){
	    $(this).css({'background-color':'#D9D1D1'});
	},function(){
	    $(this).css({'background-color':'#EEE'});
	});
	
	$(".tmMCBotLink .tmMCNum").hover(function(){
		$(this).css({'color':'white'});
	},function(){
		$(this).css({'color':'black'});
	});
		
	/*弹出伸缩*/
	{if $countProducts>0}
        $("#J_TMiniCart").css({'width':'283px'});
        
		/*
		$(".tmMCHdLeft").toggle(function(){
			$(".tmMCBody").css({'display': 'block', 'top': '-283px',' -webkit-transition':'none'});
			$(".tmMCLoading").css({'display': 'none', 'margin-top': '5px'});
			$(".tmMCCon").css({'height': '269px', 'overflow-y': 'scroll'});
			$('.tmMCHandler').removeClass('HdlShort');
		},function(){
			$('.tmMCHandler').addClass('HdlShort');
			$(".tmMCBody").css({'display': 'none', 'top': '-4px', '-webkit-transition': 'none'});
		});
		*/
	{/if}
	
	
	function initGoToTop(){
    var b=jQuery("#footer").position().top - jQuery(window).height()-200;
	jQuery(function(){jQuery(window).scroll(function(){if(jQuery(this).scrollTop()>100){jQuery("#backtotop ").addClass("showme ")}else{jQuery("#backtotop ").removeClass("showme ")}});
	jQuery("#backtotop ").click(function(){jQuery("body,html ").animate({scrollTop:0},400);return false})});if(jQuery(window).scrollTop()==0){jQuery("#backtotop ").removeClass("showme ")}else{jQuery("#backtotop ").addClass("showme ")}}

	initGoToTop();
</script>
</html>