{$header}
<script type="text/javascript" src="catalog/view/javascript/initial_css_jquery.js"></script>

<script type="text/javascript"><!--
		$(function(){$('#promotion').cnckSuperMarquee({distance: 760,duration: 30,time: 6,direction: 'left',navId:'#promotion_nv'});});
		$(function(){$('#brand_c').cnckSuperMarquee({distance: 810,duration: 50,time: 8,direction: 'left',btnGo:{left:'#brand_z',right:'#brand_y'}});});
		MyCYAutoTabCon=setInterval("cnckMyAutoTabCon('#rankingl_list_ta','#rankingl_list_co')",3000);
</script>
<!--content begin-->
<div id="con" class="wp cl">
	<div id="con_z" class="z">
		<!--classify_promotion_brand 960*510-->
		<div class="classify_promotion_brand h">
			<!--左侧分类列表begin-->
			{$left}
            <!--左侧分类列表end-->

			<div class="promotion_box z h">
				<div id="promotion" class="promotion h">
				<ul>
					<li class="z"><img src="catalog/view/theme/default/image/nousefulpic/ad2.gif" width="760" height="420" alt="promotion" /></li>
					<li class="z"><img src="catalog/view/theme/default/image/nousefulpic/ad1.gif" width="760" height="420" alt="promotion" /></li>					
				</ul>				
				</div>
				
			
			    <div id="promotion_nv" ></div>
				<div class="brand_box  h">
					<div id="brand_z" class="brand_z z"></div>
					<div id="brand_c" class="brand_c z h">
						{$brand}
					</div>
					<div id="brand_y" class="brand_y z"></div>
				</div>
			</div>
		</div>
		<!--classify_promotion_brand over-->
		
		<!--rankingw_ad_list 960*310-->
		<div class="rankingw_ad_list cl h">
			<div class="rankingw_ad z">
				<div class="rankingw_ad_box1 cl h"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/ads7.gif" width="198" height="198" alt="rankingw_ad" /></a></div>
				<div class="rankingw_ad_box2 cl h"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/ads8.gif" width="198" height="98" alt="rankingw_ad" /></a></div>
			</div>
			<div class="rankingw_list z">
				<ul id="rankingw_list_ta" class="cl">
					<li class="lio f1 f_b">热点目的地</li>
					<li class="f1 f_b">热门活动</li>
					<li class="f1 f_b">网友推荐</li>
				</ul>
				<ul id="rankingw_list_co" class="cl h">
					<!-- <li class="dn">
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro1.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro1.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro1.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro1.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
					</li>
					<li class="dn">
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro2.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro2.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro2.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro2.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
					</li>
					<li class="dn">
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro3.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro3.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro3.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
						<dl class="tc">
							<dt><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wpro3.gif" width="146" height="200" alt="rankingw" /></a></dt>
							<dd><a href="#">最美的高铁游</a></dd>
						</dl>
					</li> -->
				</ul>
			</div>
		</div>
		<!--rankinfw_ad_list over-->
		
		<!--walk 960*x-->
		<div class="tour cl h">
			<dl class="t_f_p_z z h">
				<dt><a href="#">车行天下</a></dt>
				<dd><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/travel001_200x380.gif" width="200" height="380" alt="tour" /></a></dd>
			</dl>
			<dl class="t_f_p_y z h">
			    {if $routinMaintain}
				    {loop $routinMaintain $r}
						<dd>
							<div class="dd1 f3 f_b">￥<font class="f1 f_b">{$r['price']}</font>元</div>
							<div class="dd2"><a href="?route=product/product&product_id={$r['product_id']}"><img src="{$r['image']}" width="230" height="140" alt="{$r['name']}" /></a></div>
							<div class="dd3"><div class="wtxt"><a href="?route=product/product&product_id={$r['product_id']}">{$r['name']}</a></div></div>
						</dd>
					{/loop}
				{/if}
			</dl>
		</div>
		<div class="ads960_90 cl h"><img src="catalog/view/theme/default/image/nousefulpic/house001_960x90.gif" width="960" height="90" alt="车行天下" /></div>
		
		<div class="fours cl h">
			<dl class="t_f_p_z z h">
				<dt><a href="#">汽摩美容</a></dt>
				<dd><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/travel002_200x380.gif" width="200" height="380" alt="tour" /></a></dd>
			</dl>
			<dl class="t_f_p_y z h">
				<!-- <dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd> -->
			</dl>
		</div>
		<div class="ads960_90 cl h"><img src="catalog/view/theme/default/image/nousefulpic/house002_960x90.gif" width="960" height="90" alt="车行天下" /></div>
		
		<div class="post cl h">
			<dl class="t_f_p_z z h">
				<dt><a href="#">娱乐驿站</a></dt>
				<dd><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/travel003_200x380.gif" width="200" height="380" alt="tour" /></a></dd>
			</dl>
			<dl class="t_f_p_y z h">
				<!-- <dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd>
				<dd>
					<div class="dd1 f3 f_b">￥<font class="f1 f_b">780</font>元</div>
					<div class="dd2"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wprot1.gif" width="230" height="140" alt="tour" /></a></div>
					<div class="dd3"><div class="wtxt"><a href="#">三亚玉龙湾五号别墅酒店 会所双床房 亚龙湾酒店 别墅酒店 热卖</a></div></div>
				</dd> -->
			</dl>
		</div>
		<div class="ads960_90 cl h"><img src="catalog/view/theme/default/image/nousefulpic/house002_960x90.gif" width="960" height="90" alt="车行天下" /></div>
		<!--walk over-->
	</div>
	
	
	
	<div id="con_y" class="z">

		<!--winfomation_lads 240*510-->
			<dl class="winfomation h">
				<dt><font class="f2 f_q z">旅行小常识</font><a href="#" class="y">更多>></a></dt>
				<!-- <dd class="tip"><a class="f_la" href="#">淘宝旅行邀请您入驻淘宝商城</a></dd>
				<dd class="tip"><a class="f_la" href="#">旅游度假”0“元试用</a></dd>
				<dd class="tip"><a class="f_la" href="#">旅游度假”0“元试用</a></dd>
				<dd class="tip"><a class="f_la" href="#">旅游度假”0“元试用</a></dd>
				<dd class="tip"><a class="f_la" href="#">旅游度假”0“元试用</a></dd>
				<dd class="tip"><a class="f_la" href="#">旅游度假”0“元试用</a></dd> -->
			</dl>
			<dl class="lads"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/travel001_240x135.gif" width="240" height="135" alt="wads" /></a></dl>
			<dl class="lads"><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/travel002_240x135.gif" width="240" height="135" alt="wads" /></a></dl>
		<!--/div-->
		<!--winfomation_lads over-->
		<!--wactivity 240*310-->
			<dl class="wactivity h">
				<dt><font class="f2 f_q">主题活动</font></dt>
				<!-- <dd><div><img class="z" src="catalog/view/theme/default/image/nousefulpic/wadsa1.gif" width="90" height="70" alt="wactivity" /><p><a class="f2 f_d" href="#">黄山自由行</a></p><p><a href="#">览大美黄山，享品质服务</a></p></div></dd>
				<dd><div><img class="z" src="catalog/view/theme/default/image/nousefulpic/wadsa1.gif" width="90" height="70" alt="wactivity" /><p><a class="f2 f_d" href="#">黄山自由行</a></p><p><a href="#">览大美黄山，享品质服务</a></p></div></dd>
				<dd><div><img class="z" src="catalog/view/theme/default/image/nousefulpic/wadsa1.gif" width="90" height="70" alt="wactivity" /><p><a class="f2 f_d" href="#">黄山自由行</a></p><p><a href="#">览大美黄山，享品质服务</a></p></div></dd> -->
			</dl>
		<!--wactivity over-->
		
		<!--top_walk-->
			<dl class="top_walk top_walk_ h">
				<dt><font class="f2 f_q">精选推荐</font></dt>
				<dd>
					<!-- <div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div> -->
				</dd>
			</dl>
		<!--top_walk over-->
		<!--lads-------------->
			<dl><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/house001_240x90.gif" width="240" height="90" alt="fads" /></a></dl>
		<!--lads-------------->
		
		<!--top_walk-->
			<dl class="top_walk top_walk_ h">
				<dt><font class="f2 f_q">精选推荐</font></dt>
				<dd>
					<!-- <div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div> -->
				</dd>
			</dl>
		<!--top_walk over-->
		<!--lads-------------->
			<dl><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/house001_240x90.gif" width="240" height="90" alt="fads" /></a></dl>
		<!--lads-------------->
		
		<!--top_walk-->
			<dl class="top_walk top_walk_ h">
				<dt><font class="f2 f_q">精选推荐</font></dt>
				<dd>
					<!-- <div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div>
					<div><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/wadsa2.gif" width="93" height="93" alt="top_walk" /></a></div> -->
				</dd>
			</dl>
		<!--top_walk over-->
		<!--lads-------------->
			<dl><a href="#"><img src="catalog/view/theme/default/image/nousefulpic/house001_240x90.gif" width="240" height="90" alt="fads" /></a></dl>
		<!--lads-------------->
	</div>
</div>
<div class="cl_div"></div>
<!--content over-->
<script type="text/javascript">
    gotoTop();//返回顶部
</script>
{$footer}