<link rel="stylesheet" type="text/css" href="view/stylesheet/general.css">
<link rel="stylesheet" type="text/css" href="view/stylesheet/main.css">
<script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link type="text/css" href="view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

<style type="text/css">
tr.over td {
	background:#cfeefe;
} 
.list tr td{
    text-align:center;
}
</style>

{if $error_warning}
<div class="warning">{$error_warning}</div>
{/if}
{if $success}
<div class="success">{$success}</div>
{/if}

<h1>
  <img src="view/image/category.png" alt="" /> {$heading_title}
  <span class="action-span">
	  <a href="javascript:void(0);"  >{$button_delete}</a>
	  <a href="{$refresh}">{$button_refresh}</a>
  </span>
</h1>

<div class="list-div" style="margin-bottom:10px;padding:5px;">
    <form action="{$refresh}" method="post" >
		{$column_comment_id}<input type="text" name="comment_id" value="{$comment_id}" />
		{$column_starttime}<input type="text" name="starttime" value="{$starttime}" class="date"/>
		{$column_endtime}<input type="text" name="endtime" value="{$endtime}" class="date" />
		{$column_comment}<input type="text" name="comment" value="{$comment}" />
		{$column_isShow}
		    <select name="isShow">
			    <option  value=""  {if $isShow==''}selected="selected"{/if}>--全部--</option>
				<option  value="1" {if $isShow==1}selected="selected"{/if}>显示</option>
				<option  value="2" {if $isShow==2}selected="selected"{/if}>删除</option>
				<option  value="3" {if $isShow==3}selected="selected"{/if}>不显示</option>
			</select>	
		<input type="reset"  name="rst" value="重置" style="cursor:pointer" />
	    <input type="submit" name="sbt" value="提交" style="cursor:pointer" />
	</form>
</div>

<div class="list-div" id="listDiv">
  <form action="{$delete}" method="post" enctype="multipart/form-data" id="form">
	<table class="list">
	  <thead>
		<tr>
		  <td><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
		  <td>{$column_comment_id}</td>
		  <td width="45%">{$column_comment}</td>
		  <td width="6%">{$column_createtime}</td>
		  <td width="15%">{$column_userid}</td>
		  <td width="10%">{$column_username}</td>
		  <td width="3%">{$column_content_id}</td>
		  <td>{$column_isShow}</td>
		  <td>{$column_action}</td>
		</tr>
	  </thead>
	  <tbody>
		{if $comments}
		{loop $comments  $comment}
		<tr>
		  <td style="text-align: center;">{if $comment['selected']}
			<input type="checkbox" name="selected[]" value="{$comment['comment_id']}" checked="checked" />
			{else}
			<input type="checkbox" name="selected[]" value="{$comment['comment_id']}" />
			{/if}
		 </td>
		  <td>{$comment['comment_id']}</td>
		  <td>{$comment['comment']}</td>
		  <td>{$comment['createtime']}</td>
		  <td>{$comment['userid']}</td>
		  <td>{$comment['username']}</td>
		  <td><a href="javascript:void(0)" onclick='parent.addTab("","index.php?route=show/contents&content_id={$comment[content_id]}&token={$token}")' >{$comment['content_id']}</a></td>
		  <td>{if $comment['isShow']==1}显示{elseif $comment['isShow']==2}删除{else}不显示{/if}</td>
		  <td>{loop $comment['action']  $action}
			[ <a href="{$action['href']}">{$action['text']}</a> ]
			{/loop}</td>
		</tr>
		{/loop}
		 
		{else}
		<tr>
		  <td style="text-align:center" colspan="11">{$text_no_results}</td>
		</tr>
	   {/if}
	  </tbody>
	</table>
  </form>
  {$pagination}
</div>
	
  
</div>
<script type="text/javascript">
$(function(){
	$(".list tr").mouseover(function(){
		$(this).addClass("over");
	}).mouseout(function(){
		$(this).removeClass("over");	
	})

});

function checkForm(){
    var sum=0;
    $("input[name^='select']").each(function(i,n){
		if($(this).prop("checked")==true){
		   sum++;
		}
  
    });
  
    if(sum<1) {
       alert("请选择要删除的项！");
	   return false;
    }
	
	return true

};


</script>

<script type="text/javascript"><!--
$('.date').datepicker({dateFormat: 'yy-mm-dd'});
//--></script> 

<script type="text/javascript"><!--
 $("span.action-span a:eq(0)").click(function(){
    if(checkForm()){
	    if(confirm('你确认删除吗？')){
			$('#form').submit();
		}
	}
 });


//--></script>