<link rel="stylesheet" type="text/css" href="view/stylesheet/general.css">
<link rel="stylesheet" type="text/css" href="view/stylesheet/main.css">

<script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link type="text/css" href="view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

    <h1><img src="view/image/product.png" alt="" /> {$heading_title}
        <span class="action-span">
	      <a href="javascript:;"  onclick="$('#form').submit();" >{$button_save}</a>
	      <a href="{$cancel}">{$button_cancel}</a>
	    </span>
    </h1>
   <!-- {if $error_warning}
      <div class="warning">{$error_warning}</div>
   {/if}
   {if $success}
      <div class="success">{$success}</div>
   {/if}  -->
    <div class="list-div" id="listDiv">
      
      <form action="{$action}" method="post" enctype="multipart/form-data" id="form">

        <!--基本信息-->
          <table class="form">
            <tr>
              <td width="5%"><span class="required">*</span> {$column_title}</td>
              <td><input type="text" name="title" value="{if isset($content['title'])}{$content['title']}{/if}" size="100"/>
                {if $error_title}
                <span class="error">{$error_title}</span>
                {/if}</td>
            </tr>
            <tr>
              <td width="5%">{$column_present}</td>
              <td ><textarea cols="100"  rows="5" name="present"  >{if isset($content['present'])}{$content['present']}{/if}</textarea>
			  {if $error_present}
                <span class="error">{$error_present}</span>
                {/if}
			  </td>
            </tr>
            <tr>
              <td width="5%">{$column_content}</td>
              <td><textarea name="content" id="content" >{if isset($content['content'])}{$content['content']}{/if}</textarea>
			  {if $error_content}
                <span class="error">{$error_content}</span>
                {/if}
			  </td>
            </tr>
          
            <tr>
                <td width="5%">{$column_imageUrl}</td>
                <td>
			        <div class="image">
					    <img src="{if isset($content['imageUrl'])}{$content['imageUrl']}{/if}" alt="" id="thumb" /><br />
                        <input type="hidden" name="image" value="{if isset($content['imageUrl'])}{$content['imageUrl']}{/if}" id="image" />
                        <a href="javascript:;" onclick="image_upload('image', 'thumb');">{$text_browse}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a  href="javascript:;" onclick="$('#thumb').attr('src', '{$no_image}'); $('#image').attr('value', '');">{$text_clear}</a>
					</div>
				</td>
            </tr>
            <tr>
              <td >{$column_favoriate}</td>
              <td><input type="text" name="favoriate" value="{if isset($content['favoriate'])}{$content['favoriate']}{/if}" /></td>
            </tr>
			
			
    
            <tr>
              <td>{$column_share}</td>
              <td><input type="text" name="share" value="{if isset($content['share'])}{$content['share']}{/if}"  /></td>
            </tr>
            
            
            
            <tr>
              <td>{$column_createtime}</td>
              <td><input type="text" name="createtime" value="{if isset($content['createtime'])}{$content['createtime']}{/if}" size="12" class="date" /></td>
            </tr>
            
           
            <tr>
                <td>{$column_isShow}</td>
                <td><select name="isShow">
					<option value="1" {if isset($content['isShow']) && $content['isShow']==1}  selected="selected"{/if}>{$text_show}</option>
					<option value="2" {if isset($content['isShow']) && $content['isShow']==2}  selected="selected"{/if}>{$text_delete}</option>
					<option value="3" {if isset($content['isShow']) && $content['isShow']==3}  selected="selected"{/if}>{$text_hidden}</option>
                </select></td>
            </tr>
            
          </table>

      </form>
</div>
<script type="text/javascript" src="view/javascript/ckeditor/ckeditor.js"></script> 
<script type="text/javascript"><!--

CKEDITOR.replace('content', {
	filebrowserBrowseUrl: 'index.php?route=common/filemanager&token={$token}',
	filebrowserImageBrowseUrl: 'index.php?route=common/filemanager&token={$token}',
	filebrowserFlashBrowseUrl: 'index.php?route=common/filemanager&token={$token}',
	filebrowserUploadUrl: 'index.php?route=common/filemanager&token={$token}',
	filebrowserImageUploadUrl: 'index.php?route=common/filemanager&token={$token}',
	filebrowserFlashUploadUrl: 'index.php?route=common/filemanager&token={$token}'
});

//--></script> 

<script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript"><!--
$('.date').datepicker({dateFormat: 'yy-mm-dd'});
$('.datetime').datetimepicker({
	dateFormat: 'yy-mm-dd',
	timeFormat: 'h:m'
});
//--></script> 


<script type="text/javascript"><!--
function image_upload(field, thumb) {
	$('#dialog').remove();
	
	$('#listDiv').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"><iframe src="index.php?route=common/filemanager&token={$token}&field=' + encodeURIComponent(field) + '" style="padding:0; margin: 0; display: block; width: 100%; height: 100%;" frameborder="no" scrolling="auto"></iframe></div>');
	
	$('#dialog').dialog({
		title: '{$text_image_manager}',
		close: function (event, ui) {
			if ($('#' + field).attr('value')) {
				$.ajax({
					url: 'index.php?route=common/filemanager/image&token={$token}&image=' + encodeURIComponent($('#' + field).attr('value')),
					dataType: 'text',
					success: function(text) {
						$('#' + thumb).replaceWith('<img src="' + text + '" alt="" id="' + thumb + '" />');
					}
				});
			}
		},	
		bgiframe: false,
		width: 800,
		height: 400,
		resizable: false,
		modal: false
	});
};
//--></script> 
