<link rel="stylesheet" type="text/css" href="view/stylesheet/general.css">
<link rel="stylesheet" type="text/css" href="view/stylesheet/main.css">
<script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script>
<!-- <script type="text/javascript" src="view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link type="text/css" href="view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" /> -->
<style type="text/css">
tr.over td {
	background:#cfeefe;
} 
</style>
    <h1><img src="view/image/user-group.png" alt="" /> {$heading_title}
        <span class="action-span">
		   <a href="{$refresh}" class="button">{$button_refresh}</a>
		   <a href="{$insert}" class="button">{$button_insert}</a>
		   <a href="javascript:;" onclick="$('form').submit();" class="button">{$button_delete}</a>
		</span>
    </h1>
	
     <div class="list-div" id="listDiv">
      <form action="{$delete}" method="post" enctype="multipart/form-data" id="form" onsubmit="return checkForm();">
        <table class="list">
          <thead>
            <tr>
              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
              <td class="left">{if $sort == 'navcode'}
                <a href="{$sort_navcode}" class="{strtolower($order)}">{$column_navcode}</a>
                 {else}
                <a href="{$sort_navcode}">{$column_navcode}</a>
                {/if}</td>
			  <td class="left">{if $sort == 'navdesc'}
                <a href="{$sort_navdesc}" class="{strtolower($order)}">{$column_navdesc}</a>
                 {else}
                <a href="{$sort_navdesc}">{$column_navdesc}</a>
                {/if}</td>
			  <td class="left">{if $sort == 'actioncode'}
                <a href="{$sort_actioncode}" class="{strtolower($order)}">{$column_actioncode}</a>
                 {else}
                <a href="{$sort_actioncode}">{$column_actioncode}</a>
                {/if}</td>
			  <td class="left">{if $sort == 'actiondesc'}
                <a href="{$sort_actiondesc}" class="{strtolower($order)}">{$column_actiondesc}</a>
                 {else}
                <a href="{$sort_actiondesc}">{$column_actiondesc}</a>
                {/if}</td>
              <td class="right">{$column_action}</td>
            </tr>
          </thead>
          <tbody>
            {if $user_actions}
            {loop $user_actions   $user_action}
            <tr>
              <td style="text-align: center;">{if $user_action['selected']}
                <input type="checkbox" name="selected[]" value="{$user_action['id']}" checked="checked" />
                 {else}
                <input type="checkbox" name="selected[]" value="{$user_action['id']}" />
                {/if}</td>
			  <td class="navcode">{$user_action['navcode']}</td>
              <td class="navdesc">{$user_action['navdesc']}</td>
			  <td>{$user_action['actioncode']}</td>
			  <td class="left">{$user_action['actiondesc']}</td>
              <td class="right">{loop $user_action['action']   $action}
                <a href="{$action['href']}">{$action['text']}</a>
                {/loop}</td>
            </tr>
            {/loop}
             {else}
            <tr>
              <td class="center" colspan="6">{$text_no_results}</td>
            </tr>
            {/if}
          </tbody>
        </table>
      </form>
      <div class="pagination">{$pagination}</div>
    </div>
<script type="text/javascript">
$(function(){
	$(".list tr").mouseover(function(){
		$(this).addClass("over");
	}).mouseout(function(){
		$(this).removeClass("over");	
	})

});



function checkForm(){
    var sum=0;
    $("input[name^='select']").each(function(i,n){
		if($(this).prop("checked")==true){
		   sum++;
		}
  
    });
  
    if(sum<1) {
       alert("请选择要删除的项！");
	   return false;
    }

};



$(".navdesc").css({'cursor':'pointer','color':'red'});
$(".navdesc").click(function(){
  var x=$.trim($(this).html());

  var url='index.php?route=user/user_action&token={$token}&navdesc='+encodeURIComponent(x);
  location.href=url;
 
});
</script>