
<!--footer_begin-->
<div class="footer clear">
	<div class="w980">
    	<!-- <div class="policy">
		<ul>
			<li class="policyem1"><b class="f14">正品保证</b><br />中华保险</li>
			<li class="policyem2"><b class="f14">开箱验货</b><br />先验货再签收</li>
			<li class="policyem3"><b class="f14">7天保障</b><br />无理由退货</li>
			<li class="policyem4"><b class="f14">货到付款</b><br />全国范围</li>
			<li class="policyem5"><b class="f14">免运费</b><br />购满288元</li>
			<li class="policyem6"><b class="f14">积分抵现金</b><br />100分=￥1元</li>
		</ul>
		</div> -->
    </div>
	<div class="footbg w980">
	<div class="w980">
		<h1><img src="catalog/view/theme/default/image/member/footleft.png"/></h1>
    	<div class="support">
		<ul>
			<li>
				<dl>
				<dt class="supportem1"><a href="javascript:void(0);"><b class="f60">{$text_manual}</b></a></dt>
				<dd class="arrow"><a href="{$register}">{$text_register}</a></dd>
				<dd class="arrow"><a href="{$shoppingProcess}">{$text_shoppingProcess}</a></dd>
				</dl>			
			</li>
			<li>
				<dl>
				<dt class="supportem2"><a href="javascript:void(0);"><b class="f60">{$text_shoppingMethod}</b></a></dt>
				<dd class="arrow"><a href="{$diy}">{$text_diy}</a></dd>
				<dd class="arrow"><a href="{$transport}">{$text_transport}</a></dd>
				<dd class="arrow"><a href="{$arrivedIntime}">{$text_arrivedIntime}</a></dd>
				</dl>			
			</li>
			<li>
				<dl>
				<dt class="supportem3"><a href="javascript:void(0);"><b class="f60">{$text_payMethod}</b></a></dt>
				<dd class="arrow"><a href="{$payment}">{$text_payment}</a></dd>
				<dd class="arrow"><a href="{$onlinePay}">{$text_onlinePay}</a></dd>
				<dd class="arrow"><a href="{$installments}">{$text_installments}</a></dd>
				</dl>			
			</li>
			<li>
				<dl>
				<dt class="supportem4"><a href="javascript:void(0);"><b class="f60">{$text_support}</b></a></dt>
				<dd class="arrow"><a href="{$exchange}">{$text_exchange}</a></dd>
				<dd class="arrow"><a href="{$warrant}">{$text_warrant}</a></dd>
				</dl>			
			</li>
			<li>
				<dl>
				<dt class="supportem5"><a href="javascript:void(0);"><b class="f60">{$text_help}</b></a></dt>
				<dd class="arrow"><a href="{$forgotten}">{$text_forgotten}</a></dd>
				<dd class="arrow"><a href="{$faq}">{$text_faq}</a></dd>
				<dd class="arrow"><a href="{$feedback}">{$text_feedback}</a></dd>
				<dd class="arrow"><a href="{$contact}">{$text_contact}</a></dd>
				</dl>			
			</li>
			<li>
				<dl>
				<dt class="supportem6"><a href="javascript:void(0);"><b class="f60">{$text_aboutus}</b></a></dt>
				<dd class="arrow"><a href="{$company}">{$text_company}</a></dd>
				</dl>			
			</li>
		</ul>
		</div>
    </div>
	</div>
	<div class="w980 h98">
	{$bottom}<p>{$address}  {$telephone} {$icp}</p>
	</div>
</div>
<!--footer_end-->
</body>
</html>