<div class="left">
	<div class="leftClass">
		<dl>
			<dt>{$text_account}</dt>
		
			<dd><a href="{$edit}">{$text_edit}</a></dd>
			<dd><a href="{$password}">{$text_password}</a></dd>
			<dd><a href="{$address}">{$text_address}</a></dd>
			<dd><a href="{$wishlist}">{$text_wishlist}</a></dd>
		</dl>
		<dl>
			<dt>{$text_myorder}</dt>
			<dd><a href="{$order}">{$text_bought}</a></dd>
		
			<dd><a href="{$return}">{$text_exchange}</a></dd>
			<dd><a href="{$transaction}">{$text_boughtstore}</a></dd>
		</dl>
		<dl>
			<dt>{$text_myshow}</dt>
			<!-- <dd><a href="{$myshow}">{$text_issueshow}</a></dd> -->
			<dd><a href="{$mytry}">{$text_try}</a></dd>
		</dl>
	</div>
</div>

<script type="text/javascript">



$(".leftClass dd ").hover(function(){
   $(this).addClass('current');
},function(){
   $(this).removeClass('current');
});

$(".leftClass dd ").click(function(){
    var href=$(this).children('a').attr('href');
	location.href=href;
});

$(document).ready(function(){
	//if(getURLVar('route') == 'account/account') {
	//	$('.leftClass dl:eq(0) dd:eq(0)').addClass('selected');
	//}else{
	    var s=location.search;
		
		var href;
		$('dd a').each(function(i,w){
		    href=$(w).attr('href');
			console.log(href);
		    if(href.indexOf(s)>=0){
			    $(w).parent().addClass('selected');
				return false;
			}
		})
	//}
});

</script>