<div class="left">
	<div class="leftClass">
		<dl>
			<dt>我的帐户</dt>
			<!-- <dd><a href="#">我的帐户</a></dd> -->
			<dd><a href="{$edit}">编辑帐户</a></dd>
			<dd><a href="{$password}">修改密码</a></dd>
			<dd><a href="{$address}">收货地址</a></dd>
			<dd><a href="{$wishlist}">收藏列表</a></dd>
		</dl>
		<dl>
			<dt>我的订单</dt>
			<dd><a href="{$order}">已买到的宝贝</a></dd>
			<!-- <dd><a href="{$download}">下载商品</a></dd> -->
			<dd><a href="{$return}">商品退换</a></dd>
			<dd><a href="{$transaction}">购买过的店铺</a></dd>
		</dl>
		<dl>
			<dt>我的秀</dt>
			<dd><a href="{$myshow}">发布秀主题</a></dd>
		</dl>
	</div>
</div>

<script type="text/javascript">



$(".leftClass dd ").hover(function(){
   $(this).addClass('current');
},function(){
   $(this).removeClass('current');
});

$(".leftClass dd ").click(function(){
    var href=$(this).children('a').attr('href');
	location.href=href;
});

$(document).ready(function(){
	//if(getURLVar('route') == 'account/account') {
	//	$('.leftClass dl:eq(0) dd:eq(0)').addClass('selected');
	//}else{
	    var s=location.search;
		
		var href;
		$('dd a').each(function(i,w){
		    href=$(w).attr('href');
			console.log(href);
		    if(href.indexOf(s)>=0){
			    $(w).parent().addClass('selected');
				return false;
			}
		})
	//}
});

</script>