{$header}
<!--个人中心body_begin-->
<div class="mainContent clear">
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right">
         <!--my subscription-->
        	<div class="account_box">
			    <div class="ac_bgs clearfix">
                    <div class="ac_t_l">{$column_mytry}</div>
                    <div class="ac_t_r">
                        <div class="ac_t_l_s"><img src="catalog/view/theme/default/image/member/pic_account_title_011.gif" /></div>
                        <div class="account_contianer">
                        	<h4 class="line">{$column_mytry}  <input type="button" name="cancel" class="p_btn_s r" value="返回" /></h4>
                            <div class="line_bot">
								<div class="content">
								<!--个人设置-->
								<div class="listForm" style="margin-bottom:10px;padding:5px;">
									<form action="{$refresh}" method="post" >
										<!-- {$column_try_id}<input type="text" name="try_id" value="{$try_id}" size="10" /> -->
										{$column_starttime}<input type="text" name="starttime" value="{$starttime}"  size="10"/>
										{$column_endtime}<input type="text" name="endtime" value="{$endtime}" size="10" />
										{$column_product_id}<input type="text" name="product_id" value="{$product_id}" size="10" />
										{$column_store_id}<input type="text" name="store_id" value="{$store_id}" size="10" />
										{$column_is_try}
											<select name="is_try">
												<option  value="0"  {if $is_try==0}selected="selected"{/if}>{$column_no_try}</option>
												<option  value="1"  {if $is_try==1}selected="selected"{/if}>{$column_try}</option>
												
											</select>	
										<input type="reset"  name="rst" value="重置" style="cursor:pointer" />
										<input type="submit" name="sbt" value="提交" style="cursor:pointer" />
									</form>
								</div>

								<div class="listShow">
								  <form action="{$delete}" method="post" enctype="multipart/form-data" id="form">
									<table  border="1" align="center" cellpadding="0" cellspacing="0" >
									  <thead>
										<tr>
										  <td class="center" width="5%" ><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
										
										  <td class="center" width="8%">{$column_product_id}</td>
										  <td class="center" width="25%">{$column_product_name}</td>
										  <td class="center" width="10%">{$column_store_id}</td>
										
										  <td class="center" width="14%">{$column_try_time}</td>
										  
										  <td class="center" width="5%">{$column_is_try}</td>
										  <td class="center" width="9%">{$column_action}</td>
										</tr>
									  </thead>
									  <tbody>
										{if isset($contents)}
										{loop $contents  $content}
											<tr>
											  <td style="text-align: center;">{if $content['selected']}
												<input type="checkbox" name="selected[]" value="{$content['try_id']}" checked="checked" />
												{else}
												<input type="checkbox" name="selected[]" value="{$content['try_id']}" />
												{/if}
											 </td>
											
											  <td class="center">{$content['product_id']}</td>
											  <td class="center"><a href="?route=try/product&product_id={$content['product_id']}&store_id={$content['store_id']}" target="_blank"> {$content['product']['name']}{if !empty($content['attribute'])}({$content['attribute']}){/if}</a></td>
											  <td class="center">{$content['store_id']}</td>
											
											  <td class="center">{$content['trytime']}</td>
											  <!-- <td class="center"><a href="?route=product/joy/joyDetail&id={$content['content_id']}" target="_blank"> {$content['title']}</a></td> -->
											  <td  class="center">{if $content['is_try']==0}{$column_no_try}{elseif $content['is_try']==1}{$column_try}{/if}</td>
											  <td class="center">{loop $content['action']  $action}
												<a  class="{$action['class']}" href="{$action['href']}">{$action['text']}</a>
												{/loop}</td>
											</tr>
										{/loop}
										 
										{else}
										<tr>
										  <td class="center" colspan="9">{$text_no_results}</td>
										</tr>
									   {/if}
									  </tbody>
									  <tfoot><tr><td class="center"><input type="submit"  class="delete" value="{$text_delete}" /></td><td colspan="8" class="center">{$pagination}</td></tr></tfoot>
									</table>
								  </form>
								  
								</div>
								
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end-->
		 
    </div>
<!-- </div> -->
{$footer}

<script type="text/javascript">
$(function(){
	$(".listShow tbody tr").mouseover(function(){
		$(this).addClass("over");
	}).mouseout(function(){
		$(this).removeClass("over");	
	})

});

function checkForm(){
    var sum=0;
    $("input[name^='select']").each(function(i,n){
		if($(this).prop("checked")==true){
		   sum++;
		}
  
    });
  
    if(sum<1) {
       alert("请选择要删除的项！");
	   return false;
    }
	
	return true;

};


 $("td .delete").click(function(){
    if(checkForm()){
	    if(confirm('你确认删除吗？')){
			$('#form').submit();
		}
	}
 });

 $("td a.deleteid").click(function(){
    if(!confirm("您确认删除吗？")){
	    return false;
	}
 });
 
 $(":reset").click(function(){
　　var resetArr = $(this).parents("form").find(":text");
    var len=resetArr.length;
　　for(var i=0;i<len ; i++){
　　　　resetArr.eq(i).val("");
　　}
　　return false;　　//一定要return false，阻止reset按钮功能，不然值又会变成aa
});

$("input[name=cancel]").click(function(){
   location='{$back}';
});

$("input[name=issue]").click(function(){
   location='{$insert}';
});
</script>



<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script> 
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" /> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/i18n/jquery.ui.datepicker-zh-CN.js"></script> 
<script type="text/javascript"><!--
$("input[name=starttime],input[name=endtime]").datepicker({
    dateFormat: 'yy-mm-dd',
	numberOfMonths: 2 //显示两个月
});
//--></script> 