
{$header}
 <!--个人中心body_begin-->
<div class="mainContent clear">
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right">
	
	
	
	 <!--我的订单-->
        	<div class="account_box">
            	<div class="ac_bgs clearfix">
                    <div class="ac_t_l">订单明细</div>
                    <div class="ac_t_r">
                        <div class="ac_t_l_s"><img src="catalog/view/theme/default/image/member/pic_account_title_012.gif" /></div>
                        <div class="account_contianer">
                        	<div class="line">订单明细  &nbsp;&nbsp;&nbsp;&nbsp;<a href="{$continue}">返回</a></div> 
                            <div class="line_bot">
								<div class="txt">
									<!--个人设置-->
									<h4>订单详情</h4>
									<table width="96%" class="table">
										<tr>
											<td class="h" width="100">状态</td>
											<td class="t">{$order_status['name']}</td>
											<td class="h" width="80"></td>
											<td class="t"></td>
										</tr>
										<tr>
											<td class="h">收货人</td>
											<td class="t">{$shipping_username}</td>
											<td class="h">邮政编码</td>
											<td class="t">{$shipping_postcode}</td>
										</tr>
										<tr>
											<td class="h">移动电话</td>
											<td class="t">{$shipping_mobile}</td>
											<td class="h">联系电话</td>
											<td class="t">{$shipping_telephone}</td>
										</tr>
										<tr>
											<!-- <td class="h">公司</td>
											<td class="t">{$shipping_company}</td> -->
											<td class="h" >收货人地址</td>
											<td class="t" colspan='3'>{$shipping_address}</td>
										</tr>
									</table>           
									<br />
									<br />
									<h4>配送详情&nbsp;&nbsp;<!-- <a style="color:#AB0036; font-weight:normal;" target="_blank" href="">随时随地查物流</a> --></h4>
									<table width="96%" class="table">
										<tr>
											<td class="h" >订单号</td>
											<td class="t" >{$orderid}</td>
											<td class="h" >下单日期</td>
											<td class="t">{$date_added}</td>
										</tr>
										<!-- <tr>
											<td class="h" style="width:100px;">发票编号</td>
											<td class="t">{if $invoice_no}{$invoice_no}{/if}</td>
											<td class="h" style="width:100px;">发票明细</td>
											<td class="t"><a href="">查看</a></td>
										</tr> -->
										<tr>
											<td class="h">配送方式</td>
											<td class="t">{$shipping_method}</td>
											<td class="h">备注</td>
											<td class="t">{$shipping_comment}</td>
										</tr>
										<tr>
											<td class="h" >订单处理日期/时间</td>
											<td class="t"></td>
											<td class="h">处理内容</td>
											<td class="t"></td>
										</tr>
										{if $histories}
											{loop $histories   $history}
												<tr>
													<td colspan="3">{$history['date_added']}</td>
													<td style=" text-align:left;">{$history['status']}，{$history['comment']}</td>
												</tr>
										    {/loop}
										{/if}
										
									</table>
									<br />
									<br />
									<h4>订单金额</h4>
									<table width="96%" class="table">
									   
										<tr>
									    {loop $totals $total}
											<td class="h">{$total['title']}</td>
											<td class="t">{$total['value']}</td>
										{/loop}
										</tr>
										
										<!-- <tr>
											<td colspan="4" class="h" style="text-align: center;">支付明细</td>
										</tr>
										<tr>
											<td colspan="4">
												<table width="96%" border="0" class="table_nob">                                
													<tr>
														<td>支付宝(在线)</td>
														<td>￥119.00</td>
														<td>支付成功</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
										   <td colspan="4" bgcolor="#FFFFFF" height="28">注：因网络延迟，有可能造成“支付状态”更新不及时，若您已在银行支付成功，请耐心等待，我们会尽快处理您的订单。</td>
										</tr> -->
									</table>
									<br />
									<br />
									<h4>商品明细</h4>
									<div class="clear"></div>
									<table width="96%" class="table">
									
									<thead> <class="h">
										<td width="10%">商品号</td>
										<td width="45">商品名称</td>

										<td width="10%">单价(元)</td>
										<td width="10%">数量</td>
										<td width="10%">小计</td>
										{if $order_status['order_status_id']==1}<td width="10%">操作</td>{/if}
									</thead>
									<tbody>
									{loop $products   $product}
										<tr>
											<td><a href="{$product['href']}">{$product['product_id']}</a></td>
											<td style="text-align: left; padding-left: 10px;height:60px;"><a href="{$product['href']}">{$product['name']} </a></td>
											<td>{$product['price']}</td>
											<td>{$product['quantity']}</td>
											<td>{$product['total']}</td>
											{if $order_status['order_status_id']==1}<td><a href="{$product['return']}" title="退换商品" ><img src="catalog/view/theme/default/image/return.png" /></a></td>{/if}
											
										</tr>
									{/loop}
									</tbody>
									</table>
								<!--个人设置结束-->
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--我的订单end-->
     </div>
 	<!--右侧end-->
</div>
 <!--个人中心body_end-->
	
	
	
<!--	
<div id="content">
  <div class="breadcrumb">
    {loop $breadcrumbs   $breadcrumb}
    {$breadcrumb['separator']}<a href="{$breadcrumb['href']}">{$breadcrumb['text']}</a>
    {/loop}
  </div>
  <h1>{$heading_title}</h1>
  <table class="list">
    <thead>
      <tr>
        <td class="left" colspan="2">{$text_order_detail}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left" style="width: 50%;">{if $invoice_no}
          <b>{$text_invoice_no}</b> {$invoice_no}<br />
          {/if}
          <b>{$text_order_id}</b> #{$order_id}<br />
          <b>{$text_date_added}</b> {$date_added}</td>
        <td class="left" style="width: 50%;">{if $payment_method}
          <b>{$text_payment_method}</b> {$payment_method}<br />
          {/if}
          {if $shipping_method}
          <b>{$text_shipping_method}</b> {$shipping_method}
          {/if}</td>
      </tr>
    </tbody>
  </table>
  <table class="list">
    <thead>
      <tr>
        <td class="left">{$text_payment_address}</td>
        {if $shipping_address}
        <td class="left">{$text_shipping_address}</td>
        {/if}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">{$payment_address}</td>
        {if $shipping_address}
        <td class="left">{$shipping_address}</td>
        {/if}
      </tr>
    </tbody>
  </table>
  <table class="list">
    <thead>
      <tr>
        <td class="left">{$column_name}</td>
        <td class="left">{$column_model}</td>
        <td class="right">{$column_quantity}</td>
        <td class="right">{$column_price}</td>
        <td class="right">{$column_total}</td>
        {if $products}
        <td style="width: 1px;"></td>
        {/if}
      </tr>
    </thead>
    <tbody>
      {loop $products   $product}
      <tr>
        <td class="left">{$product['name']}
          {loop $product['option']   $option}
          <br />
          &nbsp;<small> - {$option['name']}: {$option['value']}</small>
          {/loop}</td>
        <td class="left">{$product['model']}</td>
        <td class="right">{$product['quantity']}</td>
        <td class="right">{$product['price']}</td>
        <td class="right">{$product['total']}</td>
        <td class="right"><a href="{$product['return']}"><img src="catalog/view/theme/default/image/return.png" alt="{$button_return}" title="{$button_return}" /></a></td>
      </tr>
      {/loop}
      {loop $vouchers   $voucher}
      <tr>
        <td class="left">{$voucher['description']}</td>
        <td class="left"></td>
        <td class="right">1</td>
        <td class="right">{$voucher['amount']}</td>
        <td class="right">{$voucher['amount']}</td>
        {if $products}
        <td></td>
        {/if}
      </tr>
     {/loop}
    </tbody>
    <tfoot>
      {loop $totals   $total}
      <tr>
        <td colspan="3"></td>
        <td class="right"><b>{$total['title']}:</b></td>
        <td class="right">{$total['text']}</td>
        {if $products}
        <td></td>
        {/if}
      </tr>
      {/loop}
    </tfoot>
  </table>
  {if $comment}
  <table class="list">
    <thead>
      <tr>
        <td class="left">{$text_comment}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="left">{$comment}</td>
      </tr>
    </tbody>
  </table>
  {/if}
  {if $histories}
  <h2>{$text_history}</h2>
  <table class="list">
    <thead>
      <tr>
        <td class="left">{$column_date_added}</td>
        <td class="left">{$column_status}</td>
        <td class="left">{$column_comment}</td>
      </tr>
    </thead>
    <tbody>
      {loop $histories   $history}
      <tr>
        <td class="left">{$history['date_added']}</td>
        <td class="left">{$history['status']}</td>
        <td class="left">{$history['comment']}</td>
      </tr>
      {/loop}
    </tbody>
  </table>
  {/if}
  <div class="buttons">
    <div class="right"><a href="{$continue}" class="button">{$button_continue}</a></div>
  </div>
  </div> -->
{$footer} 