{$header}
<link href="catalog/view/theme/default/stylesheet/shopping_car.css" type="text/css" rel="stylesheet" />
<div class="mainContent clear">
	<!-- <div class="buyPhoto"><img src="images/ad/xhy_012.jpg" width="980" height="210" /></div> -->
	<div class="buyPhoto"><img src="catalog/view/theme/default/image/order/shopping_steps.jpg" width="980" height="50" /></div>
	{if $success}
	<div class="success" >{$success}<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div> 
	{/if}
	{if $error_warning}
	<div class="warning">{$error_warning}<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
	{/if}
	<div class="buyTitle"><img src="catalog/view/theme/default/image/order/order_buy_pay1.jpg" width="193" height="30" /></div>
	<div class="buyContent">
	    <form id="cart" method="POST" action="{$action}" enctype="multipart/form-data" >
		<table class="list">
			<thead>
			  <tr>
				<td class="photo">商品图片</td>
				<td class="productName">商品名称</td>
				<td class="quantity">数量</td>
				<td class="price">单价</td>
				<td class="total">总价</td>
				<td class="operation">操作</td>
			  </tr>
			</thead>
			<tbody>
			{loop $products   $product}
			
			<tr>
				<td >{if $product['thumb']} <a href="{$product['href']}"><img src="{$product['thumb']}"  width="50" height="60"  alt="{$product['name']}" title="{$product['name']}" /></a>{/if}</td>
				<td ><a href="{$product['href']}">{$product['name']}></a>
				  {if !$product['stock']}
				  <span class="stock">***</span>
				  {/if}
				  <div>
					{loop $product['attribute']   $attribute}
					<small>{$attribute['name']}</small> 
					{/loop}
				  </div>
				  {if $product['reward']}
				  <small>{$product['reward']}</small>
				  {/if}
				</td>
				<td ><span class="subadd"> - </span><input type="text" name="quantity[{$product['key']}]" value="{$product['quantity']}" size="1" /><span class="subadd">+</span></td>
				<td >{$product['price']}</td>
				<td class="total_">{$product['total']}</td>
			    <input type="submit" name="sbt" id="sbt" style="display:none" />
				<td ><a class="deleteProduct" href="{$product['remove']}">删除</a></td>
			</tr>
			{/loop}
		    </tbody>
	    </table>
		</form>
	    <div class="containue"></div> 
	</div>
	
	<!-- <h1><b>您希望使用下列的哪个功能</b></h1>
	<div class="coupon_bor">
		<ul>
			<li>选择使用折扣券， 或奖励积分</li>
			<li><label for="use_coupon"><input type="radio" name="next" value="coupon" id="use_coupon" />使用折扣券</label></li>
			<li><label for="use_voucher"><input type="radio" name="next" value="voucher" id="use_voucher" />使用礼品券</label></li>
		</ul>	
			 
	</div> 

	<div class="cart-module">
		<div id="coupon" class="content" style="display: {if $next == 'coupon'}'block'{else}'none'{/if};">
		  <form action="{$action}" method="post" enctype="multipart/form-data">
			请输入您的折扣券：&nbsp;
			<input type="text" name="coupon" value="{$coupon}" />
			<input type="hidden" name="next" value="coupon" />
			&nbsp;
			<input type="submit" value="使用折扣券" class="button" />
		  </form>
		</div>
		<div id="voucher" class="content" style="display:{if $next == 'voucher'}'block'{else}'none'{/if};">
		  <form action="{$action}" method="post" enctype="multipart/form-data">
			请输入您的礼品券：&nbsp;
			<input type="text" name="voucher" value="{$voucher}" />
			<input type="hidden" name="next" value="voucher" />
			&nbsp;
			<input type="submit" value="使用礼品券" class="button" />
		  </form>
		</div>
    </div> -->
	
	
	
	<div class="paybutton">
	    <div class="floatbar">
			<ul>
			    <!-- {loop $totals   $total}
				<li>{$total['title']}：{$total['text']}</li>
				{/loop} -->
				<li>商品总价(不含运费)：<span class="rmb">¥</span><span class="show_total_"></span></li>
			</ul>
		</div>
     
      
		<div class="shoppingAndcheckout" >
		    <a href="{$continue}"><img src="catalog/view/theme/default/image/order/continue.jpg" border="0" /></a>&nbsp;&nbsp;&nbsp;
		    <a href="{$checkout}"><img src="catalog/view/theme/default/image/order/checkout.jpg" /></a>
		</div>
	</div>
</div>


<!-- {if $attention}
<div class="attention">{$attention}<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
{/if}
{if $success}
<div class="success">{$success}<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
{/if}
{if $error_warning}
<div class="warning">{$error_warning}<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
{/if} -->



<script type="text/javascript"><!--
$('input[name=\'next\']').bind('change', function() {
	$('.cart-module > div').hide();
	
	$('#' + this.value).show();
});

$(".subadd").each(function(index){
	$(this).mouseenter(function(){
	  $(this).css({'border-width':'1px','border-style':'solid','border-color':'#111'});
	  $(this).css("cursor","pointer");
	  
	}).mouseleave(function(){
	  $(this).css({'border-width':'1px','border-style':'solid','border-color':'#fcd'});
	});
});


$(".subadd").each(function(index){
  
   $(this).click(function(){
	   var operator=$.trim($(this).html());
	   var v=parseInt($(this).siblings('input').val());
	   if(operator=='-'){
	       if (v>1) $(this).siblings('input').val(v-1);
	   }else if(operator='+'){
		   $(this).siblings('input').val(v+1);
	   }
	   setTimeout(function(){$("#sbt").click()},1000);
	  
	   
	});
});

$(".deleteProduct").click(function(){
  if(!confirm("确认要删除这个产品吗?")){
     return false;
  }
  return true;
});

$(document).ready(function(){
    var sum=0;
	var x;
	$('.total_').each(function(i,w){
	    x=parseFloat($(w).html());
	    sum =sum+x;
	});
	sum=Number(sum).toFixed(2);
	$('.show_total_').html(sum);
});
//--></script>

{$footer}