{$header}
 
<link href="catalog/view/theme/default/stylesheet/shopping_car.css" type="text/css" rel="stylesheet" />
<div class="mainContent clear">
	<!-- <div class="buyPhoto"><img src="images/ad/xhy_012.jpg" width="980" height="210" /></div> -->
	<div class="buyPhoto"><img src="catalog/view/theme/default/image/order/shopping_steps.jpg" width="980" height="50" /></div>
	<div class="buyTitle"><a name="sendAddress_" id="sendAddress_" >&nbsp;</a><img src="catalog/view/theme/default/image/order/consignee.jpg" width="224" height="30" /></div>
	<div class="sendAddress">
	    {loop $addresses $address}
		<dl {if $address['status']==1}class="present"{/if} id="{$address['address_id']}">
			
			<dt><input  name="addressopt" type="radio" {if $address['status']==1}checked="checked"{/if} /></dt>
			<dd>
				{$address['address']} {$address['username']}<span class="mobile">{$address['mobile']}</span> {if $address['status']==1}默认地址{/if}
			</dd>
			
		</dl>
		{/loop}
		
		<div class="new">
		  <a><img src="catalog/view/theme/default/image/order/new_address.jpg" width="89" height="25" border="0" /></a>
		</div>
	</div>
	
	<div class="sendInfo" >
		<div class="title">收货信息</div>
		<dl>
			<dt>收 货 人：</dt>
			<dd><input  type="text" name="username" size="20" />
			</dd>
		</dl>
		
		<dl>
			<dt>收货地址：</dt>
			<dd><input name="address" type="text" size="80" /> <span class="star">*</span></dd>
		</dl>
		<dl>
			<dt>邮　　编：</dt>
			<dd><input type="text" name="postcode" size="20" />
			</dd>
		</dl>
		<dl>
			<dt>手机号码：</dt>
			<dd><input type="text" name="mobile" size="20" /> <span class="star">*</span></dd>
		</dl>
		<dl>
			<dt>固定电话：</dt>
			<dd><input type="text" name="telphone" size="20" />
			</dd>
		</dl>
		<div class="opaddr">
			<a class="save"><img src="catalog/view/theme/default/image/order/saveAddress.gif" /></a>&nbsp;&nbsp;
			<a class="cancel"><img src="catalog/view/theme/default/image/order/cancel.gif" /></a>
		</div>
	</div>
	
	
	<div class="buyTitle"><img src="catalog/view/theme/default/image/order/shopping_list.jpg" width="218" height="30" /></div>
	<div class="buyContent bottonLine">
		<table class="list" >
			<thead>
			  <tr>
				<td colspan="2" >店铺宝贝</td>
				<td class="price">单价</td>
				<td class="count">数量</td>
				<td>优惠方式</td>
				<td class="total">小计</td>
				<!-- <span class="operator">操作</span> -->
			  </tr>
			</thead>
			
			{loop $products $product_}
			<tbody class="store_{$product_['store']['store_id']}">
			<tr class="first"><td colspan="6"></td></tr>
			<tr><td class="store" colspan="6">店铺：<a href="index.php?route=store/store&store_id={$product_['store']['store_id']}" target="_blank">{$product_['store']['name']}</a>，卖家：{$product_['store']['owner']}</td></tr>
			
			{loop $product_['product'] $product}
			<tr>
				<td class="photo" ><a href="{$product['href']}" title="{$product['name']}"><img src="{$product['thumb']}" width="50" height="60" /></a></td>
				<td class="productName" ><a href="{$product['href']}" title="{$product['name']}">{$product['name']}</a> {if !$product['stock']}
				  <span class="stock">***</span>
				  {/if}
				  <div>
					{loop $product['attribute']   $attribute}
					<small>{$attribute['name']}</small> 
					{/loop}
					
				  </div>
				  {if $product['reward']}
				  <small>{$product['reward']}</small>
				  {/if}</td>
				<td  class="price" >{$product['price']}</td>
				<td  class="quantity" >{$product['quantity']}</td>
				<td class="total">
					<select name="vc">
						<option value=''>无优惠</option>
					</option>
				</td>
				<td class="operation"><span>{$product['total']}</span></td>
				<!-- <span class="operator"><a href="#">删除商品</a></span> -->
			</tr>
			{/loop}
			<tr class="other">
			    <td colspan="6">
				    <ul>
					    <li class="dib">
						    <div class="gbook">
								<label class="label">给卖家留言：</label>
								<textarea title="选填，可以告诉卖家您对商品的特殊要求，如：颜色、尺码等" name="931142711:2|memo" id="931142711_2_memo" class="tips" autocomplete="off" data-point-url="" placeholder="选填，可以告诉卖家您对商品的特殊要求，如：颜色、尺码等"></textarea>
							</div>
						</li>
					    <li class="dib extra-info">
						    <div class="gbook">
							    <ul>
									{if $payment_methods}
									<li class="dib title">支付方式：</li>
									<li class="dib sel"><select name="payment_method" >
										{loop $payment_methods $payment_method}
											<option  value="{$payment_method['code']}">{$payment_method['title']}</option>
										{/loop}
										</select>
									</li>
									{/if}
									
								</ul>
							</div>
							<div class="farearea">
							    <ul>
								    <li class="dib title">配送方式：</li>
								    <li class="dib sel">
									    <select name="shipping_method" class="shippingMethod" data-id="{$product_['store']['store_id']}">
										    <option  value="express,快递公司"  {if isset($shipping_method['code']) && $shipping_method['code']=='express'}selected="selected"{/if} />快递公司</option>
										    <option  value="ems,EMS邮政专递" {if isset($shipping_method['code']) && $shipping_method['code']=='ems'}selected="selected"{/if} />EMS邮政专递</option>
										    <option  value="diy,上门自提" {if isset($shipping_method['code']) && $shipping_method['code']=='diy'}selected="selected"{/if} />上门自提</option>
								        </select>
									</li>
									<li class="dib shipping_fee"><span></span></li>
								</ul>
								
							</div>
						</li>
					</ul>
				</td>
			</tr>
			<tr class="other">
			    <td class="subtotal" colspan="6">店铺合计(含运费)：<span></span></td>
			</tr>
			</tbody>
			{/loop}
			 {loop $vouchers   $voucher}
			  <tr>
			    <td></td>
				<td class="name">{$voucher['description']}</td>
				<td class="model"></td>
				<td class="quantity">1</td>
				<td class="price">{$voucher['amount']}</td>
				<td class="total">{$voucher['amount']}</td>
			  </tr>
			  {/loop}
			</tbody>
		</table>
	</div>
	<div class="paybutton">
		<div class="moneyinfo">
			<!-- {loop $totals   $total}
			  <dl>
				<dt>{$total['title']}:</dt>
				<dd>{$total['text']}</dd>
			  </dl>
			{/loop} -->
			<dl>
			    <dt>实付款：<span>¥</span></dt>
				<dd><span></span></dd>
			</dl>
		</div>
		
		<div class="cl">
			<!-- {if empty($dbuy)}<a href="{$cart}"><img src="catalog/view/theme/default/image/order/returnCart.jpg" width="161" height="33" /></a>{/if} -->
			<a class="submit"> <img src="catalog/view/theme/default/image/order/submitOrder.jpg" width="160" height="33" /></a>
		</div>
		
	</div>
</div>
<!-- <input type="hidden" name="dbuy" {if isset($dbuy)} value="{$dbuy}"{else} value="" {/if} /> -->
<input type="hidden" name="payment_method_code" value="{$payment_method_code}" />
<script type="text/javascript">
   //initilization
    $(document).ready(function(){ 
	    var sum=0;
        $('table.list tbody').map(function(x,y){
		    var store_num=0;
			$(y).find('td.operation span').each(function(m,g){
			    store_num +=Number($(g).html());
			})
			
			var shipping_fee=Number($(y).find('.shipping_fee span').html());
			
			$(y).find('.subtotal span').html((store_num+shipping_fee).toFixed(2));
		    
			sum +=store_num+shipping_fee;
		});
		
		$('.moneyinfo dl dd span').html(sum.toFixed(2));
		
		sum=null;
    });
   
 
    //提交订单
    $(".paybutton .submit").click(function(){
        /*
        {if $shipping_required}
			var flag=false;
			$(".shippingContent dl dd input").each(function(i,w){
				if($(this).attr("checked")=='checked'){
				   flag=true;
				   return false;//退出循环
				}
			});
			
			if(flag===false) {
				alert('请选择配送方式！');
				location.hash="#shipping_";
				return false;
			}
			
			//================================
			var flag_=false;
			$(".sendAddress dl dt input").each(function(i,w){
				if($(this).attr("checked")=='checked'){
				   flag_=true;
				   return false;
				}
			});
			
			if(flag_===false) {
				alert('请选择收货地址！');
				location.hash="#sendAddress_";
				return false;
			}
			
			//================================
			var flag__=false;
			$(".paymentContent dl dd input").each(function(i,w){
				if($(this).attr("checked")=='checked'){
				   flag__=true;
				   return false;//退出循环
				}
			});
			
			if(flag__===false) {
				alert('请选择支付方式！');
				location.hash="#payment_";
				return false;
			}
		{/if}
		*/

        $.ajax({
	        type:'POST',
	        url:'index.php?route=checkout/confirm_order',
			dataType:'json',
			data:$('select[name=\'shipping_method\'] ,select[name=\'payment_method\'],input[type=\'hidden\']'),// ,input[name=\'dbuy\']
			success:function(json){
                console.log(json['redirect']);
			    if (json['redirect']){
				    location.href=json['redirect'];
					return false;
				}else if (typeof json['redirect']=='undefined'){
				    //window.location.href='{$payment_action}';
					var payment_method_code=$('input[name=payment_method_code]').val();
					console.log(payment_method_code);
					$.ajax({
					    url:'index.php?route=payment/'+payment_method_code,
						type:'post',
						dataType:'json',
						success:function(json_){
						    console.log(json_);
						    location.href=json_['action'];
						}
					});
				}
			}
		});
   
   });

   //MOUSE 收货地址
   $(".sendAddress dl").each(function(){
      $(this).mouseenter(function(){
	     if($(this).prop('class')=='present'){
	        //$(this).css({'background-color':'#FFFAE5'});
		 }else{
		    $(this).css({'background-color':'#FFFAE5'});
		 }
	  }).mouseleave(function(){
	     if($(this).prop('class')=='present'){
	       //$(this).css({'background-color':'#FFE5CC','border-color':'FFE5CC'});
		 }else{
		   $(this).css({'background-color':''});
		 }
	  });
   });
   
   //支付方式
    $("select[name=payment_method]").change(function(){
		$.ajax({
			url:'index.php?route=checkout/checkout/paymentMethod',
			type:'post',
			dataType:'json',
			data:$('.other select'),
			success:function(json){
			    //console.log(json);
				if(json['code']){
					$('input[name=payment_method_code]').val(json['code']);
				}
			}
		});
	});
   
   //货运方式
   $(".shippingMethod").change(function(){
        var that_=$(this);
		var store_id=$(this).attr('data-id');

		$.ajax({
			url:'index.php?route=checkout/checkout/shippingMethod',
			type:'post',
			dataType:'json',
			data:$('.other select'),
			beforeSend: function() {
				$('.moneyinfo dl dd span').html('<img src="catalog/view/theme/default/image/loading.gif" alt="" />');
			},
			complete: function() {
				$('.moneyinfo dl dd span img').remove();
			},	
			success:function(json){ 
				//console.log(json['cost']);
				//运费
				var shipping_fee=parseFloat(json['cost']).toFixed(2);
				that_.parent().next().children('span').html(shipping_fee);
				
			
				
				//分店铺金额合计
				var store_sum=0;
			    that_.parents('tbody.store_'+store_id).children('tr').children('.operation').children('span').each(function(m,z){
				    //console.log(z);
					store_sum +=Number($(z).html());
				});
				
				store_sum=(Number(shipping_fee)+Number(store_sum)).toFixed(2);
				that_.parents('tbody.store_'+store_id).children('tr').children('.subtotal').children('span').html(store_sum.toString());
				
			    //总金额合计
				var sum=0;
				$('td.operation span').each(function(i,w){
				    //console.log(w);
				    sum +=Number($(w).html());
				});
				
				var shipping_fee_sum=0
				$('.shipping_fee span').each(function(i,s){
				    //console.log(s);
				    shipping_fee_sum +=Number($(s).html());
				});

				sum=(Number(sum)+Number(shipping_fee_sum)).toFixed(2);
				$('.moneyinfo dl dd span').html(sum.toString());
				
				/*$.ajax({
					url: 'index.php?route=checkout/checkout/refreshTotal',
					dataType: 'html',
					success: function(html) {
						$('.moneyinfo dl dd span').html(html);
					}
				});
				*/
			}
			
		
		});	
	   
   });
   
   
   
   //点击单选按钮,设置默认收货地址
   $(".sendAddress>dl").live('click',function(){
      var self=$(this);
   
	  if(!confirm('您要设置此项为默认收货地址吗?')) return false;
	  var dataid=$.trim($(this).prop('id'));
	  
	  $.post('index.php?route=account/address/setDefault',{dataid:dataid},function(data){
	     if(data==1){
		   //alert("设置成功！");
		  
		   $(".sendAddress dl").removeClass('present');
		   self.css({'background-color':''});
           self.addClass('present');
	       self.children('dt').children('input[type=radio]').prop('checked','checked');
		 }else{
		   alert("设置失败!");
		 }
	  })
   });
   
   
   //新增地址
   $(".sendInfo").css('display','none');
   $(".new").click(function(){
      if($(".sendInfo").css('display')=='none'){
	    //$(".sendInfo").css('display','block');
		$(".sendInfo").fadeIn('slow');
	  }
   });
   
   
   //地址取消
    $(".sendInfo a.cancel").click(function(){
        if($(".sendInfo").css('display')=='block'){
	     //$(".sendInfo").css('display','none');
		 $(".sendInfo").fadeOut('slow');
	    }
    });
   
   
    $("input[name=mobile]").blur(function(){
        var   mobile=$.trim($("input[name=mobile]").val());
		var   self=$(this);
		$.ajax({
			  url:'index.php?route=account/register/ajaxMobile&mobile='+mobile,
			  dataType:'json',
			  success:function(json){	
				    if(json.mobile>=1){
					    //alert("手机号已经存在！");
						if(!self.parent().children('span').hasClass('ggg')){
					        self.parent().append('<span class="ggg">手机号已经存在！</span>');
						}
					    return false;
				    }else{
				        self.parent().children('span').remove('.ggg');
				    }
			   }
		});
    });
   
   
				 
   
   //保存地址
   $(".sendInfo a.save").click(function(){
        var count=$(".sendAddress dl").size();
		if  (count>=6){
		    alert('不能超过6条地址记录！');
			return false;
		}
		
        var arr=[];
	    var username=$.trim($(".sendInfo input[name=username]").val());

	    if(!(/^[\u4E00-\u9FA5]{2,5}$/.test(username))) {
	       arr.push("输入的用户名不少于2个汉字!");
	    }
	   
	    var mobile=$.trim($(".sendInfo input[name=mobile]").val());

	    if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(mobile))){
		   arr.push("输入的手机号格式不正确！");
	    }
		
		var ggg=$("input[name=mobile]").siblings('.ggg').html();
		if(ggg){
		   arr.push("手机号已经存在！");
		}
	   
	    if(telphone){
			var telphone=$.trim($(".sendInfo input[name=telphone]").val());
			if(!(/(^0\d{2,3}-?)?\d{7,8}$/.test(telphone))) {
			   arr.push("输入的电话格式不正确!");
			}
	    }
		
	    var address=$.trim($(".sendInfo input[name=address]").val());
	    if(!(/^[\w\u4E00-\u9FA5]{5,}$/.test(address))) {
	       arr.push("输入的地址格式不正确，不少于5个字符!");
	    }
	   
	    if(postcode){
			var postcode=$(".sendInfo input[name=postcode]").val();
			if(!(/^[1-9][0-9]{5,5}$/.test(postcode))) {
			   arr.push("输入的邮编格式不正确!");
			}
	    }
		
	    if (arr.length>0){
	      var s;
		  s=arr.join("\n");
		  alert(s);
	      return false;
	   
	    }
	   
	    $.post('index.php?route=account/address/insert',{username:username,mobile:mobile,telphone:telphone,address:address,postcode:postcode},function(data){
		    if (data){
			    alert("新增成功!");
			    var dl=$("<dl id='"+data+"'><dt><input  name='addressopt' type='radio'  /></dt><dd>"+address+' '+username+"<span class='mobile'> "+mobile+"</span></dd> </dl>");
				$(".sendAddress").append(dl);
			    $(".sendInfo input").val('');
			    $(".sendInfo").fadeOut('slow');
		     
		    }else{
		        alert("新增失败！");
		    }
	    });
    });
</script>
{$footer}