{if $error_warning}
<div class="warning">{$error_warning}</div>
{/if}
{if $shipping_methods}
	<p>{$text_shipping_method}</p>
	<table class="radio">
	  {loop $shipping_methods   $shipping_method}
	  <tr>
		<td colspan="3"><b>{$shipping_method['title']}</b></td>
	  </tr>
	  {if !$shipping_method['error']}
		  {loop $shipping_method['quote']   $quote}
		  <tr class="highlight">
			<td>
			  {if $quote['code'] == $code || !$code}
				 {php $code = $quote['code']}
				 <input type="radio" name="shipping_method" value="{$quote['code']}" id="{$quote['code']}" checked="checked" />
			   {else}
				 <input type="radio" name="shipping_method" value="{$quote['code']}" id="{$quote['code']}" />
			  {/if}</td>
			<td><label for="{$quote['code']}">{$quote['title']}</label></td>
			<td style="text-align: right;"><label for="{$quote['code']}">{$quote['text']}</label></td>
		  </tr>
		  {/loop}
	   {else}
		  <tr>
			<td colspan="3"><div class="error">{$shipping_method['error']}</div></td>
		  </tr>
	  {/if}
	  {/loop}
	</table>
	<br />
{/if}
<b>{$text_comments}</b>
<textarea name="comment" rows="8" style="width: 98%;">{$comment}</textarea>
<br />
<br />
<div class="buttons">
  <div class="right">
    <input type="button" value="{$button_continue}" id="button-shipping-method" class="button" />
  </div>
</div>
