{$header}
<link href="catalog/view/theme/default/stylesheet/notfound.css" rel="stylesheet" type="text/css" />

<div class="content-title">
				<span class="right-title">消息提示</span>
			</div><!--content-title end-->
			<div class="c-center">			
				<div class="wrong-tips cl">
					<div class="wrong-tips-title"></div>
					<div class="wrong-tips-c">
						<div class="wrong-tips-icon">
							<img src="catalog/view/theme/default/image/msg/{$type}.gif" />
						</div>
						<dl class="w-t-c-right">
							<dt>
								<p class="msg-title">提示信息</p>
							</dt>
							<dd>{$message}</dd>
							
						</dl>
						<div class="clear"></div>
					</div>
					<div class="wrong-tips-bottom"></div>
				</div>
			
			</div>
{$footer}