<div class="box">
  <div class="box-heading">{$heading_title}</div>
  <div class="box-content">
    <div class="box-category">
      <ul>
        {loop $categories   $category}
        <li>
          {if $category['category_id'] == $category_id}
          <a href="{$category['href']}" class="active">{$category['name']}</a>
           {else}
          <a href="{$category['href']}">{$category['name']}</a>
          {/if}
          {if $category['children']}
          <ul>
            {loop $category['children']   $child}
            <li>
              {if $child['category_id'] == $child_id}
              <a href="{$child['href']}" class="active"> - {$child['name']}</a>
               {else}
              <a href="{$child['href']}"> - {$child['name']}</a>
              {/if}
            </li>
            {/loop}
          </ul>
          {/if}
        </li>
       {/loop}
      </ul>
    </div>
  </div>
</div>
