{if count($currencies) > 1}
<form action="{$action}" method="post" enctype="multipart/form-data">
  <div id="currency">{$text_currency}<br />
    {loop $currencies   $currency}
    {if $currency['code'] == $currency_code}
    {if $currency['symbol_left']}
    <a title="{$currency['title']}"><b>{$currency['symbol_left']}</b></a>
     {else}
    <a title="{$currency['title']}"><b>{$currency['symbol_right']}</b></a>
    {/if}
     {else}
    {if $currency['symbol_left']}
    <a title="{$currency['title']}" onclick="$('input[name=\'currency_code\']').attr('value', '{$currency['code']}'); $(this).parent().parent().submit();">{$currency['symbol_left']}</a>
     {else}
    <a title="{$currency['title']}" onclick="$('input[name=\'currency_code\']').attr('value', '{$currency['code']}'); $(this).parent().parent().submit();">{$currency['symbol_right']}</a>
    {/if}
    {/if}
    {/loop}
    <input type="hidden" name="currency_code" value="" />
    <input type="hidden" name="redirect" value="{$redirect}" />
  </div>
</form>
{/if}
