{$header}
<div id="content">
  <div class="breadcrumb">
    {loop $breadcrumbs   $breadcrumb}
    {$breadcrumb['separator']}<a href="{$breadcrumb['href']}">{$breadcrumb['text']}</a>
    {/loop}
  </div>
  {if $error_warning}
  <div class="warning">{$error_warning}</div>
  {/if}
  <div class="box">
    <div class="heading">
      <h1><img src="view/image/language.png" alt="" /> {$heading_title}</h1>
      <div class="buttons"><a onclick="$('#form').submit();" class="button">{$button_save}</a><a onclick="location = '{$cancel}';" class="button">{$button_cancel}</a></div>
    </div>
    <div class="content">
      <form action="{$action}" method="post" enctype="multipart/form-data" id="form">
        <table class="form">
          <tr>
            <td><span class="required">*</span> {$entry_name}</td>
            <td><input type="text" name="name" value="{$name}" />
              {if $error_name}
              <span class="error">{$error_name}</span>
              {/if}</td>
          </tr>
          <tr>
            <td><span class="required">*</span> {$entry_code}</td>
            <td><input type="text" name="code" value="{$code}" />
              {if $error_code}
              <span class="error">{$error_code}</span>
              {/if}</td>
          </tr>
          <tr>
            <td><span class="required">*</span> {$entry_locale}</td>
            <td><input type="text" name="locale" value="{$locale}" />
              {if $error_locale}
              <span class="error">{$error_locale}</span>
              {/if}</td>
          </tr>
          <tr>
            <td><span class="required">*</span> {$entry_image}</td>
            <td><input type="text" name="image" value="{$image}" />
              {if $error_image}
              <span class="error">{$error_image}</span>
              {/if}</td>
          </tr>
          <tr>
            <td><span class="required">*</span> {$entry_directory}</td>
            <td><input type="text" name="directory" value="{$directory}" />
              {if $error_directory}
              <span class="error">{$error_directory}</span>
              {/if}</td>
          </tr>
          <tr>
            <td><span class="required">*</span> {$entry_filename}</td>
            <td><input type="text" name="filename" value="{$filename}" />
              {if $error_filename}
              <span class="error">{$error_filename}</span>
              {/if}</td>
          </tr>
          <tr>
            <td>{$entry_status}</td>
            <td><select name="status">
                {if $status}
                <option value="1" selected="selected">{$text_enabled}</option>
                <option value="0">{$text_disabled}</option>
                 {else}
                <option value="1">{$text_enabled}</option>
                <option value="0" selected="selected">{$text_disabled}</option>
                {/if}
              </select></td>
          </tr>
          <tr>
            <td>{$entry_sort_order}</td>
            <td><input type="text" name="sort_order" value="{$sort_order}" size="1" /></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
{$footer}