{$header}
<style type="text/css">.ds-powered-by {display:none;}</style>
<div id="show_main">
	<div class="blank10"></div>
	<div class="bg980">
	<!--左边-->
		<div class="great_l">
			<!---------->
			<div class="share-user">
				<p class="share-avatar"><a><img src="{$msg['poster']['avatar']}" width="50" height="50" /></a></p>
				<p><a class="f16b">{if isset($msg['poster']['nickname'])}{$msg['poster']['nickname']}{else}游客{/if}</a></p>
				<p><span class="when">{$msg['createtime']}</span><span>来自穿悦网</span></p>
			</div>
			<div class="share-cont">
				<div class="share-txt">
					<h4 class="share-title">{if isset($msg['title'])}【{$msg['title']}】{/if}</h4><p>{if isset($msg['content'])}{$msg['content']}{/if}</p>
				</div>
			<!---------->
				<!-- <div class="share-pic-cont">						
					<div class="share-pic"><a href="$msg['href']"><img class="share-img" src="{if isset($msg['image'])}{$msg['image']}{/if}"></a>
					</div>					
				</div> -->
			<!---------->
			</div>
			
			<!-- <div class="tools cls">
				<span>分享<b class="c-count">(5)</b></span>
				<span><a class="digg like-btn" ><em><strong>{$msg['favoriate']}</strong></em></a></span>
			</div>
			<div class="comment">
				<div class="comment-post" style="zoom:1">
					<div class="txt"><textarea id="remark"></textarea></div>
					<div class="submit cls">
						<a href="javascript:void(0);" class="comment-btn btns btn-default-20" ><span>评论</span></a>
					</div>
					<ul>
						{loop $comments $comment}
							<li>
								<div class="comment-hf">
									<div class="comment-hf-l">
										<ul>
											<li><img src="{$comment['avatar']}"></li>
											<li><span class="c588">{if !empty($comment['userid'])}{$comment['username']}{else}游客{/if}：</span>{$comment['comment']}<br>{php echo date('Y-m-d H:i:s',$comment['createtime'])}</li>
										</ul>
									</div>
								</div>
							</li>
						{/loop}
					</ul>
				</div>
			</div> -->	
			
			<!-- Duoshuo Comment BEGIN -->
			<div class="ds-thread"></div>
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"g0551"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = 'http://static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
			</script>
			<!-- Duoshuo Comment END -->
 
		<!-- <div class="post-liked-hd">
			<h2>你可能喜欢</h2>
		</div>
		<div class="post-liked-bd">
			<ul class="cls">
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
				<li>
					<div class="share-liked-bd cls"><a><img src="catalog/view/theme/default/image/s_detail/11.jpg" width="208" height="208"/></a></div>
					<div class="share-liked-bt"><a><img src="catalog/view/theme/default/image/s_detail/30-1.jpg" />夜之谜猫</a></div>
				</li>
			</ul>
		</div> -->
		
		</div>
	<!--左边end-->
	<!--右边-->
		<div class="great_r">
			
			<div class="side-con cls">
				<div class="post-wrap">
					<div class="title cls">
						<h3><a>春之韵</a>的分享</h3><a class="right-a">更多</a>
					</div>
					<div class="cls">
						<ul class="pic-list post-pic cls">
								<li>
									<div class="pic-wrap"><a><img src="catalog/view/theme/default/image/s_detail/t01.jpg"></a></div>
									<div class="con-wrap cls"><p>小王子被巫婆施了咒语吗？<a>查看全部</a></p></div>
								</li>
								<li>
									<div class="pic-wrap"><a><img src="catalog/view/theme/default/image/s_detail/t01.jpg"></a></div>
									<div class="con-wrap cls"><p>小王子被巫婆施了咒语吗？<a>查看全部</a></p></div>
								</li>
								<li>
									<div class="pic-wrap"><a><img src="catalog/view/theme/default/image/s_detail/t01.jpg"></a></div>
									<div class="con-wrap cls"><p>小王子被巫婆施了咒语吗？<a>查看全部</a></p></div>
								</li>
						</ul>
					</div>
					<div class="toggle-btn cls">
						<a class="btn-l"></a>
						<span class="digital">1 / 7</span>
						<a class="btn-r"></a>
					</div>
				</div>
			</div>
			<div class="adpic-220-136">
			<a href=""><img src="catalog/view/theme/default/image/s_detail/ad1.jpg"/></a><br></br>
			<a href=""><img src="catalog/view/theme/default/image/s_detail/ad2.jpg"/></a><br></br>
			<!-- <a href=""><img src="catalog/view/theme/default/image/s_detail/ad3.jpg"/></a><br></br>
			<a href=""><img src="catalog/view/theme/default/image/s_detail/ad4.jpg"/></a><br></br> -->
			</div>	
		</div>
	<!--右边end-->
	</div>

	<!--content_end-->

		

</div>
<!-- <script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_button.js" charset="utf-8"></script> -->

<script type="text/javascript">
	function addFavoriate(){
		$.post("?route=product/joy/addFavoriate",{id:{$msg['content_id']}},function(str){
		    alert('献爱成功！');
		});
	}
	
	function addComment(){
		var comment = $.trim($("#remark").val());
		var content_id={$msg['content_id']};
        var username;
		{if !empty($userid)}
		    username='{$username}'+'：';
		{else}
		    username='游客：'
		{/if}
		
		if(!comment){
		    alert('请输入评论内容！');
			return false;
		}
		
		$.post("?route=product/joy/addComment",{id:content_id,comment:comment},function(str){
		    if(str==1){
				alert('评论成功！');
				$("#remark").val('');
				if($('.comment-hf').length<=0){
				    var remark=$('<ul><li><div class="comment-hf"><div class="comment-hf-l"><ul><li><img src="{$customer[avatar]}" width="50" height="50"></li><li><span class="c588">'+username+'</span>'+comment+'<br>'+CurrentTime()+'</li></ul></div></div></li></ul>');
					$('.comment-post').prepend(remark);
				}else{
					var remark=$('<li><div class="comment-hf"><div class="comment-hf-l"><ul><li><img src="{$customer[avatar]}" width="50" height="50"></li><li><span class="c588">'+username+'</span>'+comment+'<br>'+CurrentTime()+'</li></ul></div></div></li>');
					$(".comment-post ul li:eq(0)").prepend(remark);
				}
			}else{
			    alert('评论失败！');
			}
		});
	}
	
	$(".comment .submit a").click(function(){
	    addComment();
	});
	
	
	
	//若要显示:当前日期加时间(如:2009-06-12 12:00:00)
	function CurrentTime(){ 
		var now = new Date();
	   
		var year = now.getFullYear();       //年
		var month = now.getMonth() + 1;     //月
		var day = now.getDate();            //日
	   
		var hh = now.getHours();            //时
		var mm = now.getMinutes();          //分
		var ss = now.getSeconds();          //秒
	   
		var clock = year + "-";
	   
		if(month < 10)
			clock += "0";
	   
		clock += month + "-";
	   
		if(day < 10)
			clock += "0";
		   
		clock += day + " ";
	   
		if(hh < 10) clock += "0";
		clock += hh + ":";
		
		if (mm < 10) clock += '0'; 
		clock += mm + ":"; 
		
		if(ss<10)  clock += '0';
		clock +=ss;
		
		return(clock); 
	} 
	
</script>

{$footer} 
