@charset "utf-8";
/* 商家中心 */

label{font-size:12px;}
.productImg{width:170px; height:170px;}
.hidden{display:none;}
.account_box1 {margin-bottom:20px; padding:1px; border:solid 1px #AED2FF;}
.fa{color:#0579C6;}

/* body>:last-child{display:none;} 加上此行 编辑器全屏有问题 清除底部多余的空白*/ 

/* 商家中心已出售商品 */
#main-content{*padding-right:9px; border:1px #AED2FF solid;position:relative;}

.item-list-tabs .current .tips{background-color:#FFFADA;display:block;position:absolute;top:-24px;width:auto;text-align:left;border:1px solid #ddd;padding:0 4px;color:#404040;cursor:text;left:0;white-space:nowrap;}
.item-list-tabs .current .tips a{padding:0;display:inline;float:none;background:none;padding:0 4px;text-decoration:none;height:auto;font-weight:bold;color:#999!important;}
.item-list-tabs .current .tips i{position:absolute;width:12px;height:6px;background:transparent url(../image/member/12-6.png) no-repeat scroll 0 0;left:10px;top:21px;}
.item-list-tabs{position:relative;left:20px;}
.item-list-tabs li{float:left;position:relative;margin-right:3px;padding-top:8px;width:130px;height:27px;line-height:21px;text-align:center;background:url(../image/member/tabview_bg.gif) no-repeat 0 6px;cursor:pointer;}
.item-list-tabs .current{background-position:0 -40px;}
.item-list-tabs .current a{color:#333;font-weight:bold;}
.item-list-tabs .current a:hover{text-decoration:none;cursor:default;}
.item-list-tabs a{color:#111!important;display:block;width:130px;}
.item-list-tabs-flexible{float:left;margin-top:-2px;}
.item-list-tabs-flexible li,.item-list-tabs-flexible li a{background:url(../image/member/tabview_bg_flexible.png) no-repeat;}
.item-list-tabs-flexible li{background-position:0 8px;width:auto;height:29px;}
.item-list-tabs-flexible li a{float:left;width:auto;padding:0 9px;background-position:right -24px;height:24px;}
.item-list-tabs-flexible .current{background-position:0 -43px;}
.item-list-tabs-flexible .current a{background-position:right -75px;background-color:transparent;height:24px;margin-top:-3px;padding-top:3px;}

.item-list-bd{position:relative;left:0;clear:both;z-index:8;border-top:1px solid #aed2ff;}
.item-list-bd table{table-layout:fixed;border-collapse:collapse;*position:relative;width:100%;}
.item-list-bd th{height:29px;border-bottom:1px solid #aec7e5;background:url(../image/member/itemlist_bg.gif) repeat-x 0 0;text-align:center;color:#000;}
.th_topbor{border-top:1px solid #aec7e5;}
.item-list-bd th.order-price em{z-index:1;text-align:left;position:absolute;margin-top:22px;margin-left:-179px;padding:8px 0 0 3px;width:220px;height:27px;background:url(../image/member/price-editor-tip.png) no-repeat;}
.item-list-bd th.order-price em a{position:absolute;right:6px;top:14px;width:8px;height:8px;overflow:hidden;text-indent:-999em;}

.item-list{position:relative;color:#808080;margin:2px auto 10px;clear:both;}
.item-list th.price{text-align:right;}
.item-list-hd{position:relative;top:6px;z-index:9;height:25px;}
.item-list .item-list-bd table{width:100%;}
.item-list td{padding:8px 5px;line-height:130%;text-align:center;overflow:hidden;}
.item-list .desc img{vertical-align:middle;}
.item-list .price{padding-right:5px;text-align:right;}
.item-list .act td{padding:2px 0 0;}

.item-list .all-selector,.item-list .selector{margin:0 8px 0 6px;}

.item-list{margin-top:10px;}
.item-list-hd{*top:-4px;_top:6px;}
.item-list .operations{*zoom:1;}
.item-list .all-selector{*margin:0 8px 0 3px;_margin:2px 8px 0 4px;}
.item-list .selector{*margin:-2px 8px 0 2px;}

td.single-col{padding-top:5px;padding-left:5px;padding-right:5px;}


tr.order-hd td{border:1px solid #B4D5FF;border-bottom-color:#eee;padding:8px 0;}

td label  .date{width:150px;}

.tab_bor table{border-spacing:1px;background:#e6e6e6; margin-bottom:10px;}
.tab_bor table.nostyle{border-spacing:0px;background:none;margin:0px;}
.tab_bor table.nostyle td{padding:0px;}
.order_num{margin-left:9px;display:inline-block;width:260px;color:#404040;}
.deal_time{text-align:left;color:#404040;}
.txt_color{color:#3366cc;}
.props{ color:#808080; line-height:20px; padding-top:5px;}
.props span{margin-right:10px;}
.price{color:#333; font-size:14px;}
.num{color:#333; font-weight:bold; font-size:14px;}



/* 商家中心评分管理 */
.credit{width:790px; margin:0 auto; height:32px; line-height:30px;}
.credit_left{ float:left; color:#000000; padding-left:10px;}
.credit_right{ float:right;}
.color_f60{color:#f60; font-size:14px;}


.rate-tab li,.rate-tab li a,.rate-tab li a span{background:url(../image/member/tab.png) no-repeat scroll 1000px 1000px}
.rate-tab li,.rate-tab li a,.rate-tab li span{display:block;height:29px;line-height:29px}
.rate-tab{border-bottom:2px solid #0266fd}
.rate-tab li{float:left;margin-right:5px;background-position:0 -147px;padding-left:4px}
.rate-tab li a span{background-position:right -196px;background-repeat:repeat-x;padding:0 10px}
.rate-tab li a{padding-right:4px;background-position:right -245px;color:#000}
.rate-tab li a:hover{text-decoration:none}
.rate-tab li.selected{background-position:0 0}
.rate-tab li.selected a{background-position:right -98px;font-weight:700;color:#fff}
.rate-tab li.selected a span{background-position:0 -49px;background-repeat:repeat-x}
.rate-tab-orange{border-color:#ff8c40}
.rate-tab-orange li.selected{background-position:0 -293px}
.rate-tab-orange li.selected a{background-position:right -395px}
.rate-tab-orange li.selected a span{background-position:0 -344px}
.show-rate-table{table-layout:fixed;}
.show-rate-table tbody td{padding-top:10px;}
.show-rate-table tfoot td,.show-rate-table th{background:#f8f8f8}
.show-rate-table tfoot td{text-align:right;}
.show-rate-table th.ratee,.show-rate-table th.things,.show-rate-table .operate{text-align:center}
.show-rate-table td,.show-rate-table th{padding:5px;border-bottom:1px solid #d5d5d5}
.show-rate-table th.rate{text-align:center}
.show-rate-table th.comment{padding-left:10px}
.show-rate-table td{vertical-align:top;padding-top:10px}
.show-rate-table th.ratee,.show-rate-table th.things{text-align:left;padding-left:10px}
.show-rate-table td{padding:5px 10px}
.show-rate-table td.rate{width:60px;padding:5px 0}
.show-rate-table .time-left{color:#555}
.show-rate-table td ._btn_{font-size:12px;font-weight:400;margin-bottom:5px}
.show-rate-table td.rate{text-align:center}
.show-rate-table td.rate span{display:block}
.rate-icon{background:url(../image/member/icon_v1.gif) no-repeat scroll 1000px 1000px}
.rate-ok{background-position:-0px -0px}
.show-rate-table td.rate span.rate-icon{width:20px;height:1em;padding:5px 0 0 0;margin:5px auto;text-indent:-999em;color:#999}
.show-rate-table td.rate .result{text-align:center}
.show-rate-table td.rate .effecting{color:#f60}

.show-rate-table .date{color:#999}
.show-rate-table p.rate{max-width:360px;word-wrap:break-word;margin-bottom:2px;line-height:18px;text-align:justify;overflow:hidden;*overflow:auto}
.show-rate-table p.rate a,.show-rate-table p.exp .link,.show-rate-table p.rate .link{white-space:nowrap;margin-right:5px}
.show-rate-table p.exp a{margin-right:5px}
.show-rate-table p.exp{color:#960;margin-bottom:2px;max-width:250px;word-wrap:break-word;overflow:hidden;*overflow:auto}
.personal-info-fullwidth .show-rate-table p.exp{*width:250px}
.show-rate-table .price{display:block;line-height:18px}
.show-rate-table .price em{color:#f60;margin:0 2px}
.show-rate-table .things{width:300px}
.rate-tab li a,.rate-tab li a span{*float:left;*cursor:pointer}

/* 商家中心优惠券 */
.coupon_container{ margin:0px auto;overflow:hidden}
.coupon_container td span{color:#999999;}
.top{ height:40px; background:url(../image/member/topbg.jpg)}
.t_left{ float:left}
.xiangmu{ border:solid 1px #ccc; border-bottom:solid 1px #fff; padding-left:10px; padding-right:10px; height:30px; line-height:30px; font-weight:bold; position:absolute; left:5px; width:60px; top:-15px; _top:-2px}
.zhekou{padding-left:10px; padding-right:10px; border:solid 1px #ccc;  height:30px; line-height:30px;font-weight:bold; background:#f0f0f0; position:absolute; left:88px; width:65px; top:-15px; _top:-2px}
.t_txt{ font-weight:bold; color:#003a88; font-size:14px; padding-top:5px}
.t_right{ float:right;padding-right:10px;}
.br input{ background:#06c; border:0px; border-radius:5px; color:#ffffff; height:22px; line-height:22px; width:40px;}
.sub{}
.bianji td{ padding:5px; border-bottom:dashed 1px #ccc;}


.red{color:#FF0000;}

/* 商家中心发布商品 */
.blue_bor{width:780px; margin:0 auto; border:#C1DBFF solid 1px; border-radius:5px; overflow:hidden;padding:1px;}
.blue_topbg{height:28px; background:url(../image/member/blue_topbg.jpg) repeat-x; border-bottom:#C1DBFF solid 1px;}
.blue_topbg .bl{float:left; background:url(../image/member/product_edit_h3.png) no-repeat 10px 6px; padding-left:30px; line-height:28px; font-size:14px; font-weight:bold; color:#004D80;}
.blue_topbg .br{float:right; padding-right:20px; line-height:28px;}
.red{color:#FF0000;}
.blue_l{width:180px;  float:left;}
.blue_r{float:left;}
.blue_r table td{padding:6px;}

.attribute{ color:#000;}
.attribute table{ border:#ececec solid 1px;}
.attribute td{ line-height:32px;}
.attribute table .nostyle{border-spacing:0px;background:none;margin-top:0px; border:0;}
.input_txt{font-size:12px;border:1px solid #a7a6aa;height:16px; margin:0 0 0 0;padding:3px 2px 0 3px;background:white url(../image/member/input-bg.png) 0 0 no-repeat;}
.fcc{color:#999;}
.select{ margin:5px;} 
.color_lump{background:url(../image/member/color-bg.gif) no-repeat -999em -999em transparent;overflow:hidden;width:14px;height:14px;display:inline-block;*display:inline;*zoom:1;border:1px solid #E4E4E4;vertical-align:middle;margin-bottom:5px;}
.labelname{height:22px;line-height:32px;overflow:hidden;white-space:nowrap;display:inline-block;*display:inline;*zoom:1}
.color{}
.color li{float:left; width:160px; padding-left:5px; line-height:22px;}


table.list{
	width: 100%;
}

table.list  thead th {
	background-color: #ededed;
	border: 1px solid #d7d7d7;
	font-weight: normal;
	height: 25px;
	text-align: center;
	vertical-align: middle;
}

table.list td {
	border: 1px solid #d7d7d7;
	padding: 3px 5px;
	text-align: center;
	vertical-align: middle;
	height: 25px;
	max-width: 200px;
	min-width: 60px;
}

td .ok,td .cancel{margin:5px;}

.pic-manager2 .upload a,.imgSpaceBar a{background:url(../image/member/file.png) no-repeat}
#itemPic{margin:0 0 0 5px;_width:637px;overflow:hidden}
#itemPic .msg{margin:6px 0 0}
#itemPic .tips{margin:0}
#itemPic .current,.pm-main .first .pm-box{border-color:#ffc097}
#itemPic .pm-main .pm-pwrap{width:auto}
.pm-item .pm-box{background:url(../image/member/upload_sets.png) no-repeat 20px -120px transparent}
.pic-manager2{border:1px solid #d5e4fa;padding:9px 10px 13px 10px;overflow:hidden}
.pm-bar li,.pm-box{border:1px solid #dedede;color:#808080;display:block}

.pm-main{float:left;width:490px}
.pic-info{color:#AAA;position:absolute;}
.pm-pwrap{padding-top:19px;*zoom:1;overflow:hidden;margin-right:-50px}
#itemPic .pm-item{float:left;margin-right:10px;position:relative;width:90px}
.pm-main .pm-box{width:88px;height:88px}
.pm-main .tort-error .pm-box{border:1px solid red}
.submit .tort-msg{margin-top:5px;margin-left:7px}

.pic-manager2 .upload a{background-position:0 0;cursor:pointer;display:block;height:25px;margin-top:3px;overflow:hidden;width:90px;}
.pic-manager2 .upload a:hover{background-position:0 -25px}
#itemPic .pic-manager2 .pm-disabled a{background-position:0 -95px;cursor:not-allowed}
.pic-manager2 .upload input{cursor:pointer;direction:rtl;font-size:40px;height:40px;opacity:0;width:100px;filter:alpha(opacity=0)}

.pic-manager2 .desc{top:26px;height:auto;z-index:5}

.pm-msg{clear:both;padding-top:5px}
.tips-image{color:#AAA;margin-top:5px}
.msg .error,.msg .stop,.msg .alert,.msg .attention,.msg .tips,.msg .ok,.msg .notice,.msg .question,.msg .help,.msg .small-help{color:#404040;background:url(../image/member/msg_bg.png) no-repeat;border:1px solid #ddd;float:left;padding:2px 10px 2px 23px;line-height:18px;}.msg .error{background-position:3px 3px;border-color:#ff8080;background-color:#fff2f2;}.msg .stop{background-position:3px -47px;border-color:#ff8080;background-color:#fff2f2;}.msg .alert{background-position:3px -97px;border-color:#ff8c40;background-color:#fff5f6;}
.msg .attention{background-position:3px -147px;border-color:#40b3ff;background-color:#e5f5ff;}
/* ._btn_{display:inline-block;*display:inline;*zoom:1;text-decoration:none;border:0 none;padding:0 0 0 3px;margin:0;vertical-align:middle;white-space:nowrap;cursor:pointer;*overflow:visible;background:url(../image/member/T1Y0YvXlFnXXX8QSDI-400-340.png) no-repeat -999em -999em transparent} */
/* ._btn_ .btn-txt{display:block;background:url(../image/member/T1Y0YvXlFnXXX8QSDI-400-340.png) no-repeat 0 -110px transparent;height:30px;padding:5px 10px;position:relative;_position:static;font-size:16px;} */
a.disabled,button.disabled{border:1px solid #eee;background-color:#eee;background-image:none;cursor:not-allowed}

a.disabled .btn-txt,button.disabled .btn-txt{background-color:#eee;background-image:none;color:#aaa}



.submit{padding:0;margin-bottom:40px;margin-top:20px}
.submit .floating{-webkit-box-shadow:0 0 6px 0 #808080;-moz-box-shadow:0 0 6px 0 #808080;box-shadow:0 0 6px 0 #808080;filter:progid:dximagetransform.microsoft.shadow(Color=#808080, Direction=0, Strength=4)}
.submit .float-submitbar{padding:0 0 0 310px;background:url(../image/member/T1IQvyXXhiXXbYunYo-199-35.png) repeat-x 0  #fafafa;}
.submit .float-submitbar .btn-submit{margin:0 10px}
.submit .float-submitbar button.disabled{background-position:-999em -999em;background-color:#F2F2F2;border:1px solid #C0C0C0;color:#999;cursor:not-allowed}
.submit .float-submitbar button.disabled .btn-txt{color:#808080}
/* ._btn_{width:95px;font-weight:500;font-size:12px} */


/* 商家中心出售中商品 */



/* .page-nav .next-page a{background:#fff url(../images/page_nav.gif) no-repeat 45px 5px;width:45px;text-align:left;} */
.page-nav .next-page .disabled{background-position:45px -55px;cursor:default;color:#7F7F7F!important;text-decoration:none!important;}
/* .page-nav .prev-page .disabled{background-position:7px -35px;cursor:default;} */
.page-nav li{float:left;line-height:20px;color:#666;margin-left:3px;}
.page-nav li a{display:block;padding:0 6px;background:#fff;border:1px solid #ccc;text-align:center;}
.page-nav .curr-page a{background:#0196CE;border:1px solid #91AAED;color:#fff!important;font-weight:bold;}
.page-nav .prev-page a{background:#fff url(../image/member/page_nav.png) no-repeat 7px -15px;width:8px;text-indent:-9999px;overflow:hidden;}
.page-nav .next-page a{background:#fff url(../image/member/page_nav.png) no-repeat 45px 5px;width:45px;text-align:left;} 
.page{ width:100%;background-color:#f3f3f3; height:26px; padding-top:5px; border-top:#dedede solid 1px;border-bottom:#dedede solid 1px; margin-top:10px;}
.page table{ float:right; padding-right:10px;}

/* #Content #nav-crumbs,#content #nav-crumbs{display:none;} */

.msgs{margin:2px 0 0;}
.msg .notice{background:url("../images/msg_bg.png") no-repeat scroll 5px -295px transparent;color:#404040;float:left;line-height:18px;padding:2px 10px 2px 23px;}


#alignright{ text-align:right;}
#alignleft{ text-align:left;}
.sell{ color:#000; padding-top:6px;margin:0 auto;clear:both;}
.td_top{ border-top:1px #D4E7FF solid; background-color:#E8F2FF; padding-left:6px; text-align:left;}
.item-pic{display:block;border:#cdcdcd 1px solid;width:52px;height:52px;}
.price-now{display:inline-block;padding-left:12px;padding-right:6px;font-family:tahoma;color:#f60;font-size:14px;font-weight:700;background:url("../images/12-12.png") no-repeat 86px 30px;}
.pageRight{width:100%;background-color:#f3f3f3; height:30px; border-top:#dedede solid 1px;border-bottom:#dedede solid 1px; margin-top:10px;}
.pageRight table{ float:right; padding-right:10px;}
.pageRight a{color:#0196CE;margin:0 5px 0 5px;}
.current1{background:#0196CE;color:#FFFFFF;padding:2px 5px 2px 5px;}
.pageRight td .current1{background:#0196CE;color:#FFFFFF;padding:2px 5px 2px 5px;}




.payment_form .required{color:red;}
.payment_form  table{width:100%;border-collapse:collapse;}
.payment_form td{padding-top:3px;text-align:right;padding-right:10px;height:20px;}

/* .payment_form  table tr td.right{text-align:right;} */

.shop-pic{width:80px;height:80px;margin-bottom:10px;display:block;}
.info-tip{display:inline-block;border:1px solid #f39a00;margin-left:10px;padding:2px 10px 2px 6px;background:#ffffe5;margin-top:2px}
.info-tip i{display:block;float:left;width:10px;height:12px;margin:2px 6px 0 0;background:url(../image/76-110.png) 0 -95px no-repeat}
.text1{width:196px;height:18px;line-height:18px}
.text2{width:200px;height:22px;line-height:22px}
.text3{width:100px;height:22px;line-height:22px;display:block;float:left}
.text4{width:360px;height:18px;line-height:18px;display:block}
.form-save{width:54px;height:23px;border:0;color:#fff;background:url(../image/76-110.png) 0 0 no-repeat;}
.form-save:hover{background-position:0 -23px}
.item_list{position:relative;color:#808080;margin:2px auto 10px;clear:both;}
.item_list td{padding:8px 5px;line-height:130%;overflow:hidden;}
.tabs{height:25px; margin:0 auto; margin-top:6px; margin-bottom:10px;}
.tabs_list{ height:25px; border-bottom:1px solid #acd2ff; padding-left:10px;}
.tabs_list li{float:left;background:url(../image/tabs_bg.png) left 0;position:relative;padding:0px 0px 0px 2px;margin-right:3px;}

.tabs_list li span{float:left;background:url(../image/tabs_bg.png) right 0;position:relative;padding:2px 6px 0px; line-height:24px; height:23px;}
.tabs_list .current{background-position:0 -27px; line-height:25px; height:26px;}
.tabs_list li h1{padding:0px 8px;font-size:12px;line-height:25px;border-right: 1px solid #acd2ff;}

.item_list td em{color:#FF0000;}
.ifshop{float:left}
.ifshop input{display:block;float:left;margin-top:3px}
.ifshop label{display:block;float:left;height:20px;line-height:20px;margin:0 6px}
.sh-edit{display:block;float:left;width:500px}
.sh-edit .edit{width:500px;height:280px;resize:none}
.upload-btn{line-height:25px; display:block;border:0;margin-left:5px;width:76px;height:25px;background:url(../image/76-110.png) 0 -46px no-repeat;position:relative;overflow:hidden;cursor:pointer}
.map {width:650px;height:350px;background:#F3F3F3;border:1px solid #D9D9D9;margin-bottom:10px;overflow: hidden;}}


table{ border-collapse:collapse; border-spacing:0; }
.table_details{ margin:0 auto;width:760px; margin-top:10px;}
.table_details table{width:100%; margin-bottom:10px;}
.table_details td{border:#ccc solid 1px; padding:10px;}
.table_details td a{color:#3366CC;}
.table_details .small_pic{}
.small_pic li img{width:50px; height:50px; float:left; padding-right:10px;}
.order_details{ height:27px; line-height:27px; font-size:14px; font-weight:bold; padding-left:30px;border-bottom:solid 1px #AED2FF;}
.order_details li{height:27px;width:130px;background:url(../image/tabview_bg.gif)0 -43px no-repeat;border-bottom:1px solid white;text-align:center;}
.order_details_box {margin-bottom:20px; padding:1px; border:solid 1px #AED2FF; border-top:0px;} 
.order_information{width:760px; margin:0 auto;}
.order_information ul{ border-bottom:solid 1px #ccc; padding-bottom:10px;}
.order_information li{ line-height:30px;}
.order_information li span{ font-weight:bold;}
.order_information table{width:100%;}
.order_information td{ padding:4px;}
.order_information td a{color:#3366CC;}
.order_money{ margin:10px; padding-left:600px;}
.order_money em{ font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#FF9900;}

.clear_float {clear:both;height:0px;line-height:0px;font-size:1px;overflow:hidden;}
.product_class{width:720px;margin:20px auto 20px 14px;padding:15px;background-color:#F5F9FF;border:1px solid #D5E4FA;}
.class_list{float:left;width:160px;height:220px;margin-right:12px;overflow-y:auto;border:1px solid #D5E4FA;}
.class_list li{line-height:26px;text-indent:10px;cursor:pointer;background:url(icon.gif) no-repeat 150px center;}
.class_list li.current{font-weight:bold;background-color:#ECD5FB;}
#loading_info{color:red;display:none;padding-bottom:6px;}

#J_imageView,#imageList{clear:both;}
#J_imageView li{width:89px;height:90px;float:left;}
#J_imageView img{margin-bottom:10px;border:1px solid #0066CC;}
#imageList li{width:89px;height:110px;float:left;}
#imageList img{border:1px solid #CCCCCC;}
#imageList li.current img{border:1px solid #FF0000;}
#imageList div{margin:auto;padding:0px;height:16px;line-height:16px;text-align:center;}

.links{float:right;padding-right:10px;}
/*.links a{display:block;float:left;height:18px;line-height:18px;border:1px solid #999999;background-color:#FFFFFF;padding-left:5px;padding-right:5px;}*/
.results{float:left;padding-right:20px;}

.optionsAdd  table.list{border-collapse:collapse;}

/*配送管理*/
#postage-tpl .manage-list {margin: 0 auto;color: #404040;}
#postage-tpl .manage-list .link-help {float: right;line-height: 25px;margin-right:10px;margin-top:10px;}
#postage-tpl .manage-list .long-btn{display:block;margin-left:10px;margin-top:10px;}
#postage-tpl .manage-list .section {margin-top: 10px;}
#postage-tpl .manage-list .tbl-prefix {padding: 0 10px;height: 38px;line-height: 38px;background-color: #e8f2ff;border-width: 1px 1px 0;border-color: #bbb;border-style: solid;}
#postage-tpl .manage-list .tbl-prefix .meta {float: right;color: #808080;}
#postage-tpl .manage-list .tbl-prefix {line-height: 38px;}
#postage-tpl .manage-list .tbl-prefix a {color: #36c;}
#postage-tpl .manage-list .tbl-head {position: relative;}
#postage-tpl .manage-list table {width: 100%;table-layout: fixed;border-width: 1px 0 0 1px;border-color: #bbb;border-style: solid;}
.item-list-bd  #postage-tpl .tbl-head th {border-bottom:none;}
#postage-tpl .manage-list th {height: 28px;font-weight: 400;}/* background-color: #f5f5f5; */
#postage-tpl .manage-list th, #postage-tpl .manage-list td {border-width: 0 1px 1px 0;border-color: #bbb;border-style: solid;text-align: center;}

.J_Section h3 span{margin-left:20px;font-size:12px;font-weight:normal;}
/* #postage-tpl .manage-list .entity {margin-top: -1px;width: 100%;max-height: 190px;overflow-y: auto;_overflow-y: scroll;height: expression(this.scrollHeight>140 ? "140px":"auto");} */

/* #postage-tpl .list-attach .pagination {float: right;}
.pagination {height: 22px;font-size: 12px;font-family: Tahoma;margin-top: 3px;} */

#postage-tpl .setting {margin: 0 auto;width: 760px;color: #404040;z-index: 1000;}
#postage-tpl .setting h2 {height: 36px;line-height: 36px;font-size: 14px;}
#postage-tpl .setting .form-elem {padding-left: 7em;margin-bottom: 8px;_height: 1%;overflow: hidden;}
#postage-tpl .setting .label-like {float: left;margin-left: -7em;width: 7em;text-align: right;_position: absolute;}
#postage-tpl .setting .input-address {width: 30em;}
#postage-tpl .setting .input-text {height: 15px;line-height: 15px;padding: 1px 0;border: 1px solid #7f9db9;}
#postage-tpl .setting input {vertical-align: middle;}
#postage-tpl .setting a {color: #36c;}
#postage-tpl .setting .field-note {color: #808080;}
#postage-tpl .setting .express .section {margin-bottom: 8px;}
#postage-tpl .setting .postage-detail {margin: 5px 0;padding: 5px;border: 1px solid #b2d1ff;}
#postage-tpl .setting .btns {text-align: center;}
#postage-tpl .setting .postage-detail .default {margin-top: 5px;padding: 0 15px 5px;line-height: 32px;background-color: #f3feed;}
#postage-tpl .setting .tbl-attach {margin-top: 5px;line-height: 24px;}
#postage-tpl .setting .postage-detail .default input {width: 6em;}
#postage-tpl .setting p.msg {margin-top: 5px;}
.default .j_sellerBearFrePrice {text-align: left;}
.j_sellerBearFrePrice {display: none;width: 4em;height: 15px;line-height: 15px;padding: 1px 0;border: 1px solid #7f9db9;text-align: right;}

.msg .error, .msg .stop, .msg .alert, .msg .attention, .msg .tips, .msg .ok, .msg .notice, .msg .question, .msg .help, .msg .small-help {color: #404040;background: url(../image/msg_bg.png) no-repeat;border: 1px solid #ddd;float: left;padding: 2px 10px 2px 23px;line-height: 18px;}
.msg .error {background-position: 3px 3px;border-color: #ff8080;background-color: #fff2f2;}
#postage-tpl .setting span.error, #postage-tpl .setting span.stop {float: none;display: inline-block;}
#postage-tpl .setting span.msg {margin-right: 3px;}

.condition{padding:5px;}
.condition input[type='submit']{margin-top:-10px;}
.trytable td{text-align:center;}