/*
* { font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:21px; text-decoration:none; border:0px; list-style-type:none; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; color:#666666;}
input,textarea{border:1px solid #e1e1e1;}
a{color:#666666; cursor:pointer;}a:hover{text-decoration:underline;}
ul,li{margin:0 0 0 0; padding:0 0 0 0;}


html{background:#FFFFFF;}
body{margin:0 auto 0 auto; background:#FFFFFF;}


.w{width:100%;}
.z{float:left; clear:right;}
.y{float:right;}
.cl{clear:both;}
.cl_div{clear:both; height:0px; overflow:hidden;}
.tz{text-align:left;}
.ty{text-align:right;}
.tc{text-align:center;}
.box{width:100%; min-width:1210px; _width:expression(eval(window.width));}
.boxs{width:100%; min-width:980px; _width:expression(eval(window.width));}
.wp{width:1210px; display:block; margin:0 auto 0 auto;}
.wps{width:980px; display:block; margin:0 auto 0 auto;}
.h{overflow:hidden;}
.dn{display:none;}
.di{display:;}
.l{height:1px; background:#efefef; overflow:hidden; width:100%; margin:3px auto 3px auto;}


.f0{font-size:24px; font-weight:bold;}
.f1{font-size:14px; font-weight:bold;}
.f2{font-size:14px; font-weight:bold;}
.f2n{font-size:14px; font-weight:normal;}
.f3{font-size:12px; font-weight:bold;}
.f3n{font-size:12px; font-weight:normal;}
em{font-size:9px; line-height:26px; float:left; margin:0 5px 0 5px;font-style:normal;}
.fxt{ text-decoration:line-through;}

.f_b{color:#ffffff;}
.f_q{color:#000000;}
.f_h{color:#FF0000;}
.f_dh{color:#b01332;}
.f_l{color:#006600;}
.f_c{color:#FF9900;}
.f_j{color:#ff6600;}
.f_n{color:#808080;}
.f_d{color:#09a1a2;}
.f_la{color:#0066cc;}

.ti1{text-indent:1em;}
.ti2{text-indent:2em;}
.tip{text-indent:1.5em;  background:url(../image/index.png) no-repeat 10px -492px;}
*/

.zoom-icon {
	height: 23px;
	width: 23px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background: url(../image/zoom-icon.png) no-repeat scroll left top transparent;
	z-index: 120;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
}

ul#thumblist li a{display:block;border:1px solid #aaa;height:74px;}
ul#thumblist li a.zoomThumbActive{
    border:1px solid black;
}
/*=====================content=====================*/
#con_z{width:960px;}#con_y{width:240px; margin-left:10px;}
	.classify_promotion_brand{width:960px; height:510px;}
		.classify{width:200px; height:420px; background:#fdf2e4;}
			.classify_z{width:23px; height:420px;}.classify_z li{position:relative; padding-left:5px; clear:both; cursor:pointer;}
			.classify_z li .fonts{color:#FFFFFF; line-height:16px; width:13px; display:block; padding-top:20px;}
			.classify_z .classify_z_lo1,.classify_z .classify_z_lc1{color:#ba915f;min-height:80px; _height:80px; }
			.classify_z_lc2{background:url(../image/index.png) no-repeat left -296px;min-height:80px; _height:80px; }
			.classify_z_lc3{background:url(../image/index.png) no-repeat -46px -296px; top:-20px;min-height:80px; _height:80px; }
			.classify_z_lc4{background:url(../image/index.png) no-repeat -92px -296px; top:-40px;min-height:80px; _height:80px; }
			.classify_z_lc5{background:url(../image/index.png) no-repeat -138px -296px; top:-60px;min-height:80px; _height:80px; }
			.classify_z_lc6{background:url(../image/index.png) no-repeat -184px -296px; top:-80px; min-height:100px; _height:100px;}
			.classify_z_lo2{background:url(../image/index.png) no-repeat -23px -296px;min-height:80px; _height:80px; }
			.classify_z_lo3{background:url(../image/index.png) no-repeat -69px -296px; top:-20px;min-height:80px; _height:80px; }
			.classify_z_lo4{background:url(../image/index.png) no-repeat -115px -296px; top:-40px;min-height:80px; _height:80px; }
			.classify_z_lo5{background:url(../image/index.png) no-repeat -161px -296px; top:-60px;min-height:80px; _height:80px; }
			.classify_z_lo6{background:url(../image/index.png) no-repeat -207px -296px; top:-80px; min-height:100px; _height:100px;}
			.classify_y{width:177px; height:420px;}/*.classify_y li{display:block;}*/
			.classify_y li dl{padding:10px 0 14px 0; width:157px;  margin-left:20px;} 
			.classify_y li dl dt,.classify_y li dl dt a{font-size:15px; font-weight:bold;}
			.classify_y_lo1{width:177px; height:420px;}
			.classify_y_lo2{width:177px; height:420px; background:#ef6284; color:#FFFFFF;}
			.classify_y_lo3{width:177px; height:420px; background:#8eb22c;}
			.classify_y_lo4{width:177px; height:420px; background:#09a1a2;}
			.classify_y_lo5{width:177px; height:420px; background:#3399ff;}
			.classify_y_lo6{width:177px; height:420px; background:#a09c9b;}
		.promotion_box{width:760px; height:420px;}
		.promotion{width:760px; height:420px; position:relative; z-index:11;}.promotion ul li{float:left;}
		#promotion_nv{height:24px; position:relative; top:-48px; z-index:12; float:right; margin-right:24px!important; margin-right:12px;}
		#promotion_nv ul li{ float:left; width:24px; height:24px; background:#efefef; line-height: 24px; margin:0 1px 0 1px; text-align:center; cursor:pointer;filter:Alpha(Opacity=80, Style=0);opacity: 0.80;}
		#promotion_nv .navOn{background:#a09c9b; color:#FFFFFF; filter:Alpha(Opacity=100, Style=0);opacity: 1;}
		.brand_box{width:960px; height:90px; background:#a09c9b;}
			.brand_z{width:75px; height:90px; background:url(../image/index.png) no-repeat left -396px; display:block; cursor:pointer;}
			.brand_c{width:810px; height:90px;}.brand_c ul{height:60px; margin:15px auto 15px auto;}.brand_c ul li{float:left; width:90px; height:60px; overflow:hidden;}
			.brand_y{width:75px; height:90px; background:url(../image/index.png) no-repeat -75px -396px; display:block; cursor:pointer;}
#list_box{clear:both; margin-top:5px;}
#list_z{width:200px;}#list_y{width:1000px; margin-left:10px; display:block; overflow:hidden;}
	#list_z dl,#list_y dl{margin-bottom:10px; clear:both; overflow:hidden;}	
	/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/
	/*===================clothes===================*/
	.ranking_ad_list{width:960px; height:360px; margin-top:10px;}
		.ranking_ad{width:200px; height:360px;}.ranking_list{width:750px; height:360px; margin-left:10px;}
			.ranking_ad_box{width:198px; height:173px; border:1px solid #cccccc; margin-bottom:10px;}
		#ranking_list_ta{width:750px; height:30px;}
			#ranking_list_ta li{width:180px; height:30px; display:block; background:#9d9d9d; float:left; margin-right:2px; cursor:pointer; line-height:30px; text-indent:2em;}
			#ranking_list_ta li:hover{background:#dddddd;}
			#ranking_list_ta .lio,#ranking_list_ta .lio:hover{background:#ef6284;}
		#ranking_list_co{width:738px; height:317px; margin-top:1px; border:6px solid #f0f0f0;}
			#ranking_list_co li dl{width:179px; height:317px; margin:0 2px 0 2px; float:left;}
			#ranking_list_co li dl dt{margin:13px auto 3px auto; height:22px; line-height:22px;}#ranking_list_co li dl .dds{height:12px; line-height:12px; margin-bottom:18px;}
			#ranking_list_co li dl .ddimg{width:179px; height:249px; overflow:hidden;}
	.clothes{width:960px;}
		.clothes dl dt{height:30px; width:960px; margin:10px auto 10px auto;}.clothes dl dd{background:#f0f0f0;}
			.dress dt{height:30px; width:960px; background:url(../image/title.png) no-repeat left top #c5c5c5; display:block;}
			.clothing dt{height:30px; width:960px; background:url(../image/title.png) no-repeat left -30px #c5c5c5; display:block;}
			.sportswear dt{height:30px; width:960px; background:url(../image/title.png) no-repeat left -60px #c5c5c5; display:block;}
			.clothes_ad{width:948px; height:180px; display:block; border:6px solid #f0f0f0;}
			.clothes_pro_box{width:960px; height:498px;}
			.clothes_pro{width:180px; height:240px; margin:0 6px 12px 6px; float:left; display:inline; overflow:hidden;}
	.clothes_bot_ad{width:958px; height:58px; display:block; border:1px solid #e4e4e4; margin-top:10px;}
	/*===================clothes_list===================*/
	.clist_channel_title{width:200px; height:62px; display:block; background:url(../image/title.png) no-repeat left -732px;}
	.clist_channel_title2{width:200px; height:62px; display:block; background:url(../image/title.png) no-repeat left -794px;}
	.clist_channel_title3{width:200px; height:62px; display:block; background:url(../image/title.png) no-repeat left -856px;}
	.clist_channel_title4{width:200px; height:62px; display:block; background:url(../image/title.png) no-repeat left -918px;}
	
	.clist_channel_content{width:180px; border:10px solid #d8d8d8;}
		.clist_channel_content ul li{width:180px; display:block; border-bottom:1px dashed #dddddd; padding:12px 0 14px 0; line-height:24px;}
		.clist_channel_content ul li p{margin-left:26px; line-height:24px;}.clist_channel_content ul li p a{line-height:24px;}
		.clist_channel_content ul li p em{width:4px; height:4px; display:block; background:#333333; margin:10px 10px 10px 0; overflow:hidden;}
			.list_pro{text-indent:14px;}
		.clist_week_ranking{height:25px; background:#000000; line-height:25px;}
		.clist_week_ranking_con,.clist_week_ranking_conf{width:198px; border:1px solid #dcdcdc; margin-top:5px;}
			.clist_week_ranking_con dl dd,.clist_week_ranking_conf dl dd{width:188px; border-bottom:1px solid #dbdbdb; margin:0 5px 10px 5px;}
			.clist_week_ranking_con_z{width:64px; height:64px; border:1px solid #dbdbdb; margin:10px 5px 10px 5px!important;margin:10px 5px 10px 2px;}
			.clist_week_ranking_con_zw{width:65px; height:65px; margin:10px 5px 10px 5px!important;margin:10px 5px 10px 2px;}
				.clist_week_imgs{width:64px; height:64px; overflow:hidden;}
				.clist_week_img{width:178px; height:120px;}
				.clist_week_imgs img{width:64px;}
				.clist_week_img img{width:178px;}
			.clist_week_ranking_con_y{width:108px;}
			.clist_week_ranking_con_cz,.clist_week_ranking_con_cy{width:178px; margin:5px 5px 5px 5px;}
			.clist_week_ranking_con_ts{width:20px; height:20px; display:block; background:url(../image/index.png) no-repeat -423px -486px; line-height:14px; text-indent:2px; position:relative; top:-64px;}
			.clist_week_ranking_con_t{width:25px; height:25px; display:block; background:url(../image/index.png) no-repeat -418px -486px; line-height:14px; text-indent:2px; position:relative; top:-120px;}
			.clist_pro dt{height:24px; margin-bottom:10px;}
			.clist_pro .dt1{ border-bottom:1px solid #da2061;}
			.clist_pro .dt1 .fist_tab{background:url(../image/index.png) repeat-x left -545px; border-left:1px solid #da2061; border-top:1px solid #da2061; border-right:1px solid #da2061; color:#FFFFFF; font-weight:bolder;}			
			.clist_pro .dt2{ border-bottom:1px solid #598700;}
			.clist_pro .dt2 .fist_tab{background:url(../image/index.png) repeat-x left -568px; border-left:1px solid #598700; border-top:1px solid #598700; border-right:1px solid #598700; color:#FFFFFF; font-weight:bolder;}	
			.clist_pro .dt3{ border-bottom:1px solid #09a8a9;}
			.clist_pro .dt3 .fist_tab{background:url(../image/index.png) repeat-x left -591px; border-left:1px solid #09a8a9; border-top:1px solid #09a8a9; border-right:1px solid #09a8a9; color:#FFFFFF; font-weight:bolder;}	
			.clist_pro .dt4{ border-bottom:1px solid #ffa317;}
			.clist_pro .dt4 .fist_tab{background:url(../image/index.png) repeat-x left -614px; border-left:1px solid #ffa317; border-top:1px solid #ffa317; border-right:1px solid #ffa317; color:#FFFFFF; font-weight:bolder;}	
			
			.clist_pro dt ul li{height:23px; width:80px; display:block; float:left; margin-right:5px; text-align:center; line-height:23px; border-left:1px solid #cfcfcf; border-top:1px solid #cfcfcf; border-right:1px solid #cfcfcf; background:url(../image/index.png) repeat-x left -522px; cursor:pointer; color:#000000;}
			.clist_pro dd{}
			.clist_pro dd ul li{width:180px; height:240px; display:inline; overflow:hidden; float:left; margin:10px; position:relative; overflow:hidden;}
				.clist_pro dd ul li img{border:1px solid #dbdbdb; width:178px;}
				.clist_pro_box{border-bottom:1px dashed #dbdbdb;}
				.clist_pro_page{height:24px; line-height:24px; font-size:14px; margin:5px; width:900px;}
				.clist_pro_page font{height:18px; line-height:18px; width:18px; display:block; margin:0 3px 0 3px; float:left; overflow:hidden; text-align:center; border:1px solid #dbdbdb;}
			.list_box_hot{width:1208px; height:298px; border:1px solid #dbdbdb;}
				.list_box_hot dl dt{height:28px; background:url(../image/title.png) repeat-x left -980px; border-bottom:1px solid #dbdbdb; overflow:hidden;}
			.list_box_hot dd ul li{width:180px; height:240px; display:inline; overflow:hidden; float:left; margin:10px; position:relative; overflow:hidden;}
				.list_box_hot dd ul li img{border:1px solid #dbdbdb; width:178px;}
			
	/*===================foods===================*/
	.rankingf_ad_list{width:960px; height:310px; margin-top:10px;}
		.rankingf_ad{width:200px; height:310px;}.rankingf_list{width:750px; height:310px; margin-left:10px;}
			.rankingf_ad_box1{width:198px; height:198px; border:1px solid #cccccc; margin-bottom:10px;}
			.rankingf_ad_box2{width:198px; height:98px; border:1px solid #cccccc; margin-bottom:10px;}
		#rankingf_list_ta{width:750px; height:30px;}
			#rankingf_list_ta li{width:180px; height:30px; display:block; background:#9d9d9d; float:left; margin-right:2px; cursor:pointer; line-height:30px; text-indent:2em;}
			#rankingf_list_ta li:hover{background:#dddddd;}
			#rankingf_list_ta .lio,#rankingf_list_ta .lio:hover{background:#8eb22c;}
		#rankingf_list_co{width:738px; height:267px; margin-top:1px; border:6px solid #f0f0f0;}
			#rankingf_list_co li dl{width:179px; height:267px; margin:0 2px 0 2px; float:left; overflow:hidden;}
			#rankingf_list_co li dl .ddimg{width:150px; height:150px; overflow:hidden; margin:9px auto 9px 18px; border:1px solid #cccccc;}
			#rankingf_list_co li dl .intr{width:150px; margin:0 auto 0 18px;}
			#rankingf_list_co li dl .buy{width:150px; margin:9px auto 9px 18px;}
			#rankingf_list_co li dl .price{height:24px; line-height:24px;}
		.foods{width:960px;}
			.foods dl dt{height:30px; width:960px; margin:10px auto 2px auto; background:url(../image/title.png) repeat-x left -90px;}
			.snacks dt .ftitle{height:30px; width:230px; background:url(../image/title.png) no-repeat left -120px; display:block;}
			.drink dt .ftitle{height:30px; width:230px; background:url(../image/title.png) no-repeat left -150px; display:block;}
			.greengrocer dt .ftitle{height:30px; width:230px; background:url(../image/title.png) no-repeat left -180px; display:block;}
			.foods_ad{width:960px; height:90px; display:block; margin-top:10px;}
			.foods_pro_box{width:954px; height:362px; border:1px solid #cccccc; padding:2px;}
				.foods_pro_box_z,#promotion_snacks,#promotion_drink,#promotion_greengrocer{width:226px; height:362px;}
					#promotion_snacks ul li,#promotion_drink ul li,#promotion_greengrocer ul li{float:left;}
				#promotion_snacks_nv,#promotion_drink_nv,#promotion_greengrocer_nv{height:20px; position:relative; top:-30px; float:right; position:relative; right:20px;}
				#promotion_snacks_nv ul li,#promotion_drink_nv ul li,#promotion_greengrocer_nv ul li{float:left; width:20px; height:20px; line-height:20px; text-align:center; margin:0 2px 0 2px; background:#000000; cursor:pointer; color:#FFFFFF; font-size:12px;}
				#promotion_snacks_nv .navOn,#promotion_drink_nv .navOn,#promotion_greengrocer_nv .navOn{background:#8eae27;}
				.foods_pro_box_y{width:728px; height:362px;}
					.foods_pro_box_y dl{width:180px; height:180px; display:inline; overflow:hidden; margin:0 0 2px 2px; float:left; background:#66CCFF;}
					.fpro_intr_pric_bg{height:37px; width:180px; display:block; position:relative; top:-37px; background:#FFFFFF; filter:Alpha(Opacity=86, Style=0);opacity: 0.86;}
					.fpro_intr_pric{height:37px; position:relative; top:-74px;}
					.fpro_intr{height:37px; width:110px;}.fpro_intr a{color:#000000; line-height:17px; font-size:12px; margin:0 5px 0 5px;}
					.fpro_pric{height:37px; width:70px; background:#78aa1d; line-height:37px;}
	/*===================live===================*/
	.rankingl_ad_list{width:960px; height:310px; margin-top:10px;}
		.rankingl_ad{width:200px; height:310px;}.rankingl_list{width:750px; height:310px; margin-left:10px;}
			.rankingl_ad_box1{width:198px; height:198px; border:1px solid #cccccc; margin-bottom:10px;}
			.rankingl_ad_box2{width:198px; height:98px; border:1px solid #cccccc; margin-bottom:10px;}
		#rankingl_list_ta{width:750px; height:30px;}
			#rankingl_list_ta li{width:180px; height:30px; display:block; background:#9d9d9d; float:left; margin-right:2px; cursor:pointer; line-height:30px; text-indent:2em;}
			#rankingl_list_ta li:hover{background:#dddddd;}
			#rankingl_list_ta .lio,#rankingl_list_ta .lio:hover{background:#09a1a2;}
		#rankingl_list_co{width:738px; height:267px; margin-top:1px; border:6px solid #f0f0f0;}
			#rankingl_list_co li dl{width:179px; height:267px; margin:0 2px 0 2px; float:left; overflow:hidden;}
			#rankingl_list_co li dl dt {margin-top:16px;}
			#rankingl_list_co li dl .ddimg{width:135px; height:135px; overflow:hidden; margin:9px auto 9px 18px;}
	.live{width:960px}
		.live dl dt{height:32px; width:960px; margin:10px auto 0 auto; background:url(../image/title.png) repeat-x left -240px;}
		.staircase dt .ltitle{height:32px; width:230px; background:url(../image/title.png) no-repeat left -272px; display:block;}
		.guesthouse dt .ltitle{height:32px; width:230px; background:url(../image/title.png) no-repeat left -304px; display:block;}
		.fitting dt .ltitle{height:32px; width:230px; background:url(../image/title.png) no-repeat left -336px; display:block;}
		.live_ad{width:960px; height:90px; display:block; margin-top:10px;}
		.live_pro_box{width:958px; height:397px; border-left:1px solid #cccccc;border-bottom:1px solid #cccccc;border-right:1px solid #cccccc;}
			.live_pro_box dl{width:180px; height:182px; display:inline; float:left; margin:12px 0 0 9px;}
			.live_pro_box dl .txt{text-indent:10px;}
		
	/*===================walk===================*/
	.rankingw_ad_list{width:960px; height:310px; margin-top:10px;}
		.rankingw_ad{width:200px; height:310px;}.rankingw_list{width:750px; height:310px; margin-left:10px;}
			.rankingw_ad_box1{width:198px; height:198px; border:1px solid #cccccc; margin-bottom:10px;}
			.rankingw_ad_box2{width:198px; height:98px; border:1px solid #cccccc; margin-bottom:10px;}
		#rankingw_list_ta{width:750px; height:30px;}
			#rankingw_list_ta li{width:180px; height:30px; display:block; background:#9d9d9d; float:left; margin-right:2px; cursor:pointer; line-height:30px; text-indent:2em;}
			#rankingw_list_ta li:hover{background:#dddddd;}
			#rankingw_list_ta .lio,#rankingw_list_ta .lio:hover{background:#ff9900;}
		#rankingw_list_co{width:738px; height:267px; margin-top:1px; border:6px solid #f0f0f0;}
			#rankingw_list_co li dl{width:179px; height:247px; margin:10px 2px 10px 2px; float:left; overflow:hidden; border-left:1px dashed #cccccc;}
			#rankingw_list_co li dl dt {margin:26px 16px 0 16px; width:146px; height:200px;}
			#rankingw_list_co li dl dd {width:146px; height:28px; line-height:28px; color:#FFFFFF; margin:0 16px 0 16px; background:#000000;filter:Alpha(Opacity=50, Style=0);opacity: 0.50; position:relative; top:-28px;}
			#rankingw_list_co li dl dd a{color:#FFFFFF;}
		.tour,.fours,.post{width:960px; height:472px; margin-top:10px;}
			.t_f_p_z{width:200px; height:471px; border-top:1px solid #cccccc;}
				.t_f_p_z dt,.t_f_p_z dt a{width:200px; height:90px; display:block;text-indent:-99999em;}
				.t_f_p_z dd{width:200px; height:380px; margin-top:1px;}
			.t_f_p_y{width:759px; height:470px; border-top:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;}
				.t_f_p_y dd{width:230px; height:218px; overflow:hidden; border:1px solid #ffda7c; margin:10px 0 0 15px; display:inline; float:left;}
					.t_f_p_y dd .dd1{height:35px; background:url(../image/title.png) no-repeat left -668px; text-indent:95px; line-height:35px;}
					.t_f_p_y dd .dd2{height:140px;}
					.t_f_p_y dd .dd3{height:55px; background:#ffeec2;}
						.t_f_p_y dd .dd3 .wtxt{width:220px; margin:auto 5px auto 5px;}
						.t_f_p_y dd .dd3 .wtxt a{line-height:22px; color:#ff8a00;}
			.tour dl dt{background:url(../image/title.png) no-repeat left -398px;}
			.fours dl dt{background:url(../image/title.png) no-repeat left -488px;}
			.post dl dt{background:url(../image/title.png) no-repeat left -578px;}
			
	.ads960_90{width:960px; height:90px; margin-top:10px;}
	
	
	
	/*yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy*/
	#con_y dl{margin-top:10px;}
	#con_y dl dt{height:30px; line-height:30px;}
	#con_y dl dt font,#con_y dl dt a{height:30px; line-height:30px; margin:0 10px 0 10px;}
	/*====================clothes==================*/
	/*.notice_recommend{width:240px; height:510px;}*/
		.notice{width:238px; height:228px; border:1px solid #e4e4e4;margin-top:10px;}
			.notice dt{height:26px; line-height:26px; text-indent:30px; background:url(../image/notice.png) no-repeat 5px center #efeeed;}
			.notice dd{height:28px; line-height:28px;}
		.recommend{width:238px; height:258px; border:1px solid #e4e4e4;margin-top:10px;}
			#recommend_nv{ position:relative; right:12px;}
			#recommend_nv ul li{float:left; height:6px; width:6px; overflow:hidden; text-indent:-9999em; background:url(../image/index.png) no-repeat -6px -486px; margin:12px 2px 12px 2px; cursor:pointer;}
			#recommend_nv .navOn{background:url(../image/index.png) no-repeat left -486px; cursor:pointer;}
			.recommend dd{width:238px; height:228px; overflow:hidden; position:relative;}
			#recommend{margin:0 auto 0 10px!important; margin:0 auto 0 5px; width:238px; height:228px; overflow:hidden;}
			.recommend dd ul li{width:238px; height:228px; overflow:hidden; display:block; float:left;}
			.recommend dd ul li div{width:99px; height:99px; margin:10px 5px 0 5px; float:left; overflow:hidden; position:relative;}
			.recommend dd ul li div span{width:99px; height:18px; overflow:hidden; display:block; position:relative; top:-18px; left:0px; background:#eeeeee; filter:Alpha(Opacity=70, Style=0);opacity: 0.70;}
			.recommend dd ul li div span font{display:block; text-align:right; font-size:11px; line-height:18px; color:#000000;} 
	.hot_sale_brand{width:238px; height:358px; border:1px solid #e4e4e4; margin-top:10px;}
		.hot_sale_brand dt,.hot_sale_brand dt font{height:28px; line-height:28px; text-indent:10px;}.hot_sale_brand dt .brandmore{margin-right:10px;}
		.hot_sale_brand dd div{width:110px; height:58px; display:inline; overflow:hidden; border:1px solid #e4e4e4; margin:5px auto 0 5px; float:left;}
	.style_tag{width:238px; height:358px; border:1px solid #e4e4e4; margin-top:10px;}
		.style_tag dt,.style_tag dt font{height:28px; line-height:28px; text-indent:10px;}.style_tag dt .brandmore{margin-right:10px;}
		.style_tag dd div{width:42px; height:20px; display:inline; line-height:20px; text-align:center; overflow:hidden; border:1px solid #e4e4e4; margin:10px auto 0 12px; float:left;}
		/*====================clothes_list==================*/
		.clist_content_classify{width:998px; border:1px solid #dbdbdb;}
			.clist_content_classify dd{width:972px; margin:13px; border-bottom:1px dashed #dbdbdb;}
			.clist_calssify_z{width:72px; text-indent:20px;}.clist_calssify_y{width:900px;}
			.clist_calssify_y ul li{width:100px; float:left; display:inline; margin:0 20px 5px 0;}
			.clist_calssify_y ul .color{height:18px; width:18px; border:1px solid #dbdbdb; margin-right:15px;}.clist_calssify_y ul .color img{width:16px; height:16px; overflow:hidden; margin:1px;}
			.clist_calssify_more_btn1{width:73px; height:18px; line-height:18px; border-bottom:1px solid #dbdbdb;  border-left:1px solid #dbdbdb;  border-right:1px solid #dbdbdb; background:url(../image/index.png) no-repeat -443px -486px #FFFFFF; display:block; text-align:center; text-indent:1em; position:relative; left:460px; top:-11px; cursor:pointer;}
			.clist_calssify_more_btn2{width:73px; height:18px; line-height:18px; border-bottom:1px solid #dbdbdb;  border-left:1px solid #dbdbdb;  border-right:1px solid #dbdbdb; background:url(../image/index.png) no-repeat -443px -504px #FFFFFF; display:block; text-align:center; text-indent:1em; position:relative; left:460px; top:-11px; cursor:pointer;}
		/*====================clothes_show==================*/
		#product_show{margin-top:5px;}
		.product_show_focus_nature{width:946px; height:422px; margin:20px 17px 20px 17px;}
			.product_focus{width:78px; height:422px;}
				.product_focus_up{width:78px; height:10px; display:block; background:url(../image/index.png) no-repeat -413px -286px; overflow:hidden; cursor:pointer;}
				.product_focus_down{width:78px; height:10px; display:block; background:url(../image/index.png) no-repeat -413px -296px; overflow:hidden; cursor:pointer;}
				.product_focus_img{height:402px; overflow:hidden;}
				.product_focus_img ul li{width:76px; height:76px;  margin:20px 0 20px 0; overflow:hidden;}
				/* .product_focus_img ul li img{width:74px; height:74px; cursor:pointer;} */
			.product_show{width:420px; height:420px; margin-left:10px; border:1px solid #dbdbdb;position:relative;}
				
			.product_info{width:422px; height:422px; margin-left:14px;}
			.product_info dl dt.f1{margin-bottom:10px;}
			.product_info_o{margin-top:10px;}
			.product_info .error {color: #FF0000;}/*换行显示display: block;**/
            .product_info .error_a {color: #FF0000;}
			.product_info_o{background:#eeeeee; height:500px;}
				.product_info_o ul.h_fix{padding:5px 0 10px 0;}
				.product_info_o ul li.cl{ margin:5px 10px 5px 10px!important;  margin:5px 10px 5px 10px; padding:5px 0 5px 0;}
				.product_info_o .options .option{margin-top:10px;margin-bottom:10px;}
				/* .product_info_o .attributes .attribute{margin-top:10px;margin-bottom:10px;} */
				.product_info_o .options .option select{border:1px solid;}
				.clothes_nature_color img{border:1px solid #999999;float:left; margin-left:5px; cursor:pointer;}
				.clothes_nature_color .select_img{border:1px solid #cc0000; }
					.measu{width:27px; height:27px; display:block; border:1px solid #999999; background:#FFFFFF; line-height:27px; text-align:center; float:left; margin-left:5px; cursor:pointer;}
					.measuo{width:27px; height:27px; display:block; border:1px solid #cc0000; background:#FFFFFF; line-height:27px; text-align:center; float:left; margin-left:5px; cursor:pointer;}
					.clothes_nature_measu_table{height:21px; padding:0px 5px 0 5px; background:url(../image/index.png) repeat-x left -667px; overflow:hidden; border:1px solid #999999;}
				#goodsnum{height:26px; width:57px; padding:3px 0px 0px 0px;line-height:20px; border:1px solid #999999; background:url(../image/index.png) no-repeat right -306px; overflow:hidden;}
				.product_nature_num font{line-height:26px;margin:0 5px 0 5px;}
			
				.jia{width:18px; height:14px; display:block; background:url(../image/index.png) no-repeat right -336px; overflow:hidden;cursor: pointer;border: 1px solid #A7A6AB;margin:0 0 3px 3px;}
				.jian{width:18px; height:14px; display:block; background:url(../image/index.png) no-repeat -456px -336px; overflow:hidden;cursor: pointer;border: 1px solid #A7A6AB;margin:0 0 3px 3px;}
				.l2{height:1px; border-bottom:1px solid #999999; padding:0; margin:0; overflow:hidden;}
			.product_info_buy a{float:left; margin-left:10px;}
			.goodsbuy{width:122px; height:31px; display:block; overflow:hidden; background:url(../image/index.png) no-repeat right -350px;}
			.goodscar{width:122px; height:31px; display:block; overflow:hidden; background:url(../image/index.png) no-repeat right -380px;}
				
		.clothes_recommend{width:946px; margin:10px 17px 10px 17px;}
		.clothes_recommend dl dt,.clothes_recommend dl dd{float:left; margin-left:20px; line-height:24px;}
		.clothes_recommend dl dt a,.clothes_recommend dl dd a{line-height:20px;}
			.discuss{width:18px; height:18px; margin:1px; display:block; overflow:hidden; background:url(../image/index.png) no-repeat -454px -412px;}
			.favrate{width:18px; height:18px; margin:1px; display:block; overflow:hidden; background:url(../image/index.png) no-repeat -472px -412px;}
		
		
		.seller_info{width:978px; border:1px solid #e4e4e4;}
		.clothes_show_dt{ height:30px; line-height:30px; background:url(../image/index.png) repeat-x left -637px; overflow:hidden;}
			.seller_info_z{width:500px; height:400px; border:1px solid #e4e4e4; overflow:hidden; }
			.seller_info_y{width:468px; height:376px; overflow:hidden; margin:6px 0 6px 8px;}
			.seller_info_y dl{margin-top:10px;}
				.seller_z_ser{width:56px; height:56px; border:1px solid #dbdbdb; margin:13px;}
				.seller_z_ser_con{margin:13px;width:358px;}
				.seller_gotoshop{width:126px; height:30px; display:block; background:url(../image/index.png) no-repeat right -217px; position:relative; }/*right:-320px;*/
		.lookbefor{width:978px; height:320px; border:1px solid #e4e4e4;margin-top:10px;}
			.lookbefor dl dd dl{width:125px; height:280px; display:inline; float:left; margin:18px; overflow:hidden;}
			.lookbefor dl dd dl dd{list-style:none; text-indent:0px; text-align:left;}
			.lookbefor_img{width:120px; height:126px; overflow:hidden;}
			.lookbefor_btn{width:80px; height:20px; display:block; background:url(../image/index.png) no-repeat right -247px;}
		.pro_info{width:980px; margin-top:10px;}
			.pro_info_tab dt{height:24px; margin-bottom:10px;}
			.pro_info_tab .dt5{ border-bottom:1px solid #da2061;}
			.pro_info_tab .dt5 .fist_tab{background:url(../image/index.png) repeat-x left -545px; border-left:1px solid #da2061; border-top:1px solid #da2061; border-right:1px solid #da2061; color:#FFFFFF; font-weight:bolder;}	
			.pro_info_tab dt ul li{height:23px; width:80px; display:block; float:left; margin-right:5px; text-align:center; line-height:23px; border-left:1px solid #cfcfcf; border-top:1px solid #cfcfcf; border-right:1px solid #cfcfcf; background:url(../image/index.png) repeat-x left -522px; cursor:pointer; color:#000000;}
			
		.pro_info_con{width:978px; background:#f6f6f6; border:1px solid #dbdbdb;}
		.pro_info_con li{width:260px; display:inline; float:left; margin:10px 0 0 10px;} 
		.pro_info_con_intr{margin-top:15px;}
		
		/*state*/
		.state{width:978px; height:148px; border:1px solid #ffcc7f; background:#ffffe5; margin-top:15px;}
			.state_con{width:946px; height:112px; margin:16px; overflow:hidden;}
				.state_con dt{border-bottom:1px dashed #dbdbdb; padding:5px 0 5px 0; margin:5px 0 5px 0 5px;}
				.state_con_title{width:19px; height:19px; display:block; background:url(../image/index.png) no-repeat right -267px;}
		/*=====================foods===================*/
		/*fhotsearch_fpromotion*/
		 .fhotsearch{width238px; height:268px; border:1px solid #e4e4e4;}
		 	.fhotsearch dt{background:#efeeed;}
			.fhotsearch .intr{width:214px; height:36px; margin:3px 12px 3px 12px; line-height:18px;}.fhotsearch .intr a{ line-height:18px;}
			.fhotsearch .pic{width:236px; height:150px; margin:0 1px 0 1px;}
			.fhotsearch .buy{width:236px; height:44px; background:#c52910; margin:1px;}
				.fhotsearch .buy_pric{ line-height:44px; text-indent:2em;}.fhotsearch .buy_buynow{height:30px; width:80px; display:block; background:url(../image/buynow2.png) no-repeat left top; margin:6px;}
		 
		 .fpromotion{width:238px; height:218px; border:1px solid #e4e4e4;}
			.fpromotion dd{width:210px; height:74px; margin:13px;}
				.fpromotion_ddz {width:74px; height:74px;}.fpromotion_ddy {width:130px; height:74px; margin-left:6px;}
		/*flagship_brand*/
		.flagship_brand{width:238px; height:308px; border:1px solid #e4e4e4;}
			.flagship_brand dd div{width:98px; height:38px; border:1px solid #e4e4e4; margin:12px 0 0 12px; display:inline; overflow:hidden; float:left;}
		/*top_ranking*/
		.top_ranking{width:238px; height:398px; border:1px solid #e4e4e4;}
			.top_ranking dt{background:url(../image/title.png) no-repeat left -210px;}
			.top_ranking dd{ height:36px; width:228px; display:block; border-bottom:1px dashed #d0dde6; margin:0 5px 0 5px; clear:both;}
			.top_ranking .ddo{height:75px; background:#ffe6d9; border:0px;}
				.top_ranking dd .codeNum{width:14px; height:14px; line-height:14px; display:block; background:#f7bea4; margin:11px 5px 11px 11px;}.top_ranking dd a{line-height:36px;}
				.top_ranking .ddo .codeNum{width:14px; height:14px; line-height:14px; display:block; background:#f7bea4; margin:30px 5px 30px 11px;}
				.top_ranking .ddo .ddo_img{width:60px; height:60px; margin:7px 5px 8px 0;}
				.top_ranking .ddo .ddo_img img{width:60px;}
				.top_ranking .ddo .ddo_txt{width:133px; height:60px; margin:7px auto 8px auto; line-height:18px;}.top_ranking .ddo .ddo_txt a{line-height:18px;}
		/*====================foods_list==================*/
		.flist_content_classify{width:998px; border:1px solid #dbdbdb;}
			.flist_content_classify dd{width:972px; margin:13px; border-bottom:1px dashed #dbdbdb;}
			.flist_calssify_z{width:122px; text-indent:20px;}.flist_calssify_y{width:850px;}
			.flist_calssify_y ul li{width:100px; float:left; display:inline; margin:0 20px 5px 0;}
			.flist_calssify_y .flist_brand li{width:120px; float:left; display:inline; margin:0 50px 5px 0;}
			.flist_calssify_y .flist_brandbox{height:50px; overflow:hidden;}
			.flist_calssify_y .flist_price a{width:60px; float:left; display:inline; margin:0 10px 5px 0;}
				.flist_calssify_y .flist_search_price{width:200px; float:left; display:inline;}
				.flist_search_price input{width:45px; height:20px; margin:0 3px 0 3px; float:left;}
			.flist_calssify_y .flist_o a{ padding:0 5px 0 5px; float:left; display:inline; margin:0 0px 5px 0;}
			.flist_brand_more_btn1{width:73px; height:18px; line-height:18px;background:url(../image/index.png) no-repeat -443px -486px #FFFFFF; display:block;text-align:center; text-indent:1em;cursor:pointer;position:relative; top:-20px; left:880px; border:1px solid #dbdbdb;}
			.flist_brand_more_btn2{width:73px; height:18px; line-height:18px;background:url(../image/index.png) no-repeat -443px -504px #FFFFFF; display:block;text-align:center; text-indent:1em;cursor:pointer;position:relative; top:-20px; left:880px; border:1px solid #dbdbdb;}
			.flist_calssify_y ul .color{height:18px; width:18px; border:1px solid #dbdbdb; margin-right:15px;}.flist_calssify_y ul .color img{width:16px; height:16px; overflow:hidden; margin:1px;}
			.flist_calssify_more_btn1{width:73px; height:18px; line-height:18px; border-bottom:1px solid #dbdbdb;  border-left:1px solid #dbdbdb;  border-right:1px solid #dbdbdb; background:url(../image/index.png) no-repeat -37px -486px #FFFFFF; display:block; text-align:center; text-indent:1em; position:relative; left:460px; top:-11px; cursor:pointer;}
			.flist_calssify_more_btn2{width:73px; height:18px; line-height:18px; border-bottom:1px solid #dbdbdb;  border-left:1px solid #dbdbdb;  border-right:1px solid #dbdbdb; background:url(../image/index.png) no-repeat -37px -504px #FFFFFF; display:block; text-align:center; text-indent:1em; position:relative; left:460px; top:-11px; cursor:pointer;}
		/*=====================live===================*/
		/*linfomation_lads*/
		 .linfomation{width238px; height:208px; border:1px solid #e4e4e4;}
		 	.linfomation dt{background:#efeeed;}
			.linfomation dd{height:28px; line-height:28px;}
		/*ltools_lfaction*/
		.ltools{width:238px; height:208px; border:1px solid #e4e4e4;}
			.ltools dd{ height:171px; background:#CCCCCC; margin-top:7px; border-top:2px solid #b01332;}
			.ltools dd div{width:78px; height:84px; display:inline; float:left; margin:1px 0 0 1px; background:#ffffff; text-align:center;}
		.lfaction{width:238px; height:88px; border:1px solid #e4e4e4;}
			.lfaction dd{width:119px; height:30px; line-height:30px; display:inline; float:left; margin:0;}
		/*top_lives*/
		.top_live{width:238px; height:428px; border:1px solid #bbddf6;}
		.top_live dt{height:30px; background:url(../image/title.png) repeat-x left -368px; border-bottom:1px solid #bbddf6;}
		.top_live_s dd{width:230px; margin:0 4px 0 4px; height:32px; line-height:32px; border-bottom:1px solid #e4e4e4;}.top_live_s dd:hover{background:#f4faff;}
			.top_live_s dd div,.top_live_s dd div a{float:left; text-indent:8px; height:32px; line-height:32px; overflow:hidden;}
			.top_live_s .top_live_s_ddt{cursor:default;}.top_live_s .top_live_s_ddt:hover{background:#FFFFFF;}
			.top_live_s .top_live_s_ddt div{color:#0066cc; font-weight:bold;}.ldiv1{width:110px;}.ldiv2{width:42px;}.ldiv3{width:78px;}
			
		.top_live_g dd{width:230px; margin:0 4px 0 4px; height:40px; line-height:40px; border:0px;}
			.top_live_g dd div,.top_live_g dd div a{float:left; text-indent:8px; height:40px; line-height:40px; overflow:hidden;}
			.lgdiv1,.lgdiv2,.lgdiv3,.lgdiv1 a,.lgdiv2 a,.lgdiv3 a{ line-height:40px;}
			.lgdiv1{width:30px; font-size:22px; font-weight:bold; text-align:center; font-style:italic;}
			.lgdiv2{width:122px;} .lgdiv3{widows:78px;}
			
		.top_live_f{}			
			.top_live_f dd div{width:90px; height:90px; display:inline; margin:17px 0 0 17px; float:left;}
		/*=====================walk===================*/
		/*winfomation_lads*/
		 .winfomation{width:238px; height:208px; border:1px solid #e4e4e4;}
		 	.winfomation dt{background:#efeeed;}
			.winfomation dd{height:28px; line-height:28px;}
		.wactivity{width:238px; height:308px; border:1px solid #e4e4e4;}
			.wactivity dt{height:30px; text-indent:1.5em; background:url(../image/title.png) repeat-x left -703px; border-bottom:1px solid #e4e4e4;}		
			.wactivity dd div{width:222px; height:86px; margin:8px 0 0 8px; border-bottom:1px solid #e4e4e4;}.wactivity dd div img{margin:0 8px 8px 0;}
		.top_walk{width:238px; height:470px; border:1px solid #e4e4e4;}
		.top_walk dt{height:30px; text-indent:1.5em; background:url(../image/title.png) repeat-x left -703px; border-bottom:1px solid #e4e4e4;}
		.top_walk dd div{width:93px; height:93px; display:inline; margin:14px 0 0 17px; float:left;}
		
/*=================================================瀑布流===========================================================*/
#main{width:1210px; height:590px; background:#FFFFFF; float:left;}

.item{width:230px; overflow:hidden; display:inline; position:relative; float:left; border:1px solid #e4e4e4; margin:3px 8px 3px 0; padding:1px;}
.item img{width:230px;}

.it_box{width:232px; border:0px;}
	.item .it_tag{width:230px; border:1px solid #e4e4e4; margin-bottom:7px;}
	.item .it_tag dl{border-bottom:1px dashed #e4e4e4; margin:12px auto 12px auto;}
	.item .it_tag dl dt{ font-size:14px; font-weight:bold; text-indent:1em; height:30px; line-height:30px; clear:both;}
	.item .it_tag dl dd div{padding:2px; border:1px solid #cccccc; display:inline; float:left; margin:5px; line-height:14px;}
	.item .it_tag dl dd div a{line-height:14px; color:#588c0e;}
	
	.item .it_api{width:230px; border:1px solid #e4e4e4; margin-bottom:7px;}
	.item .it_api ul li div img{width:72px; height:72px; margin:2px;}
		.it_api a{ color:#588c0e;}
	
.itimg{width:230px; height:115px; overflow:hidden;}
	.itz,.ity{width:113px; height:113px; overflow:hidden; margin:1px;}
	
	.itz img,.ity img{min-width:115px; max-width:230px;}
	.itcover{width:113px; height:113px; background:#000000;filter:Alpha(Opacity=50, Style=0);opacity: 0.50; position:relative; top:-113px; float:right; overflow:hidden; text-align:center;}
	.itcover a{color:#FFFFFF; line-height:113px;}

.itintr{width:210px; margin:10px;}.itintr a,.itsharebg a{color:#588c0e;}
	.itshare{width:210px; height:22px; line-height:22px; margin:2px 10px 8px 10px; overflow:hidden;}
	.itshare div{float:left; margin-right:5px;}
		.itsharebg{background:url(../image/share.png) no-repeat left top; width:63px; height:22px; text-indent:2.5em;}
.itmember{height:48px; line-height:48px; border-top:1px solid #e4e4e4;}.itmember a{line-height:48px;}
	.itmember img{width:30px; height:30px; overflow:hidden; margin:9px; float:left;}
	
.product_info .price_old {
	color: gray;
	text-decoration: line-through;
	font-style:italic;
}

.product_info .interval{
	background-color: #f07372;
	color: #fff;
	padding-left: 2px;
	padding-right: 1px;
	margin-left:20px;
}

.product_info .space{
    margin-left:10px;
	margin-right:10px;
}

.pro_info_tab .attr-list-hd {
	padding: 10px 20px 5px;
}

.pro_info_tab div.attributes-list {
	clear: both;
	margin: 10px 0;
	border: 1px solid #e6e6e6;
	background-color: #F6F6F6;
}

.pro_info_tab .attributes-list .attr-list-hd em {
	font-weight: bold;
	display: inline;
	float: left;
}


.clearfix{zoom:1;}

.pro_info_tab .attributes-list ul {
	padding: 0 20px 18px 20px;
	text-indent: 0;
	border-top: 1px solid #fff;
	
}

.pro_info_tab ul:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: " 0020";
}

.pro_info_tab  .attributes-list li {
	display: inline;
	float: left;
	width: 220px;
	height: 14px;
	overflow: hidden;
	margin: 16px 15px 0 0;
	line-height: 14px;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #666;
}



div.attribute{
	float:left;
}


div.attribute ul li{
    position: relative;
	display: inline;
	float: left;
	margin: 0 4px 4px 0;
	padding: 1px;
	line-height: 20px;
	vertical-align: middle;
}

div.attribute ul li a {
	display: inline-block;
	min-width: 10px;
	padding: 0 6px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	color: #000;
	background: #EEEEEE;
	border: 1px solid #C8C9CD;
	_width: 10px;
}

div.attribute ul li a:hover,div.attribute ul li.cy-selected a,div.attribute ul li.cy-selected a:hover {
	margin: -1px;
	border: 2px solid #FF6701;
}

div.attribute .cy-selected i {
   background: url(../image/index.png) no-repeat;
}

div.attribute .cy-selected i {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 12px;
	height: 12px;
	overflow: hidden;
	text-indent: -9999em;
	background-position: -320px -222px;
}

div.attribute  dl dt,div.attribute dl dd{
	display: inline;
	float: left;
}

div.attribute dl dd ul li i{
   display:none;
}

div.attribute{
   margin:5px 0 5px 0;
}

.product_info_buy a{
   margin-top:20px;
}


