
<!--左侧begin-->
<div class="left">
	<div class="leftClass">
		<dl>
			<dt>{$text_store_management}</dt>
			<dd ><a  href="{$merchants}">{$text_store_setup}</a></dd>
			<dd><a  href="{$store}">{$text_store_list}</a></dd>
			<dd><a  href="{$payment}">{$text_payment_management}</a></dd>
			<dd><a  href="{$shipping}">{$text_shipping}</a></dd>
		</dl>
		<dl>
			<dt>{$text_trade_management}</dt>
			<dd><a href="{$sold}">{$text_soldproduct}</a></dd>
			<dd><a href="{$return}">{$text_return}</a></dd>
			<!--<dd><a href="{$remark}">{$remark_management}</a></dd>-->
		</dl>
		<dl>
			<dt>{$text_product_management}</dt>
			<dd><a href="{$release}">{$text_releaseproduct}</a></dd>
			<dd><a href="{$sell}">{$text_sellingproduct}</a></dd>
			<dd><a href="{$warehouse}">{$text_baseproduct}</a></dd>
		</dl>
		<dl>
			<dt>{$text_order_management}</dt>
			<dd><a href="{$order_}">{$text_createorder}</a></dd>
			<dd><a href="{$order}">{$text_waitingorder}</a></dd>
			<dd><a href="{$ordering}">{$text_dealingorder}</a></dd>
			<dd><a href="{$ordered}">{$text_dealedorder}</a></dd>
		</dl>
		<dl>
			<dt>{$text_discount_management}</dt>
			<dd><a href="{$coupon_add}">{$text_coupon_adds}</a></dd>
			<dd><a href="{$coupon}">{$text_coupons}</a></dd>
		</dl>
	</div>
</div>
<!--左侧end-->



<script type="text/javascript">

{if empty($hasShop)}
	$(".leftClass dd a").click(function(){
	   alert('您的店铺正在审核状态中...');
	   return false;

	});
{/if}

$(".leftClass dd ").hover(function(){
   $(this).addClass('current');
},function(){
   $(this).removeClass('current');
});

$(".leftClass dd ").click(function(){
    var href=$(this).children('a').attr('href');
	location.href=href;
});

$(document).ready(function(){
	if(getURLVar('route') == 'merchants/merchants') {
		$('.leftClass dl:eq(0) dd:eq(0)').addClass('selected');
	}else{
	    var s=location.search;
		
		var href;
		$('dd a').each(function(i,w){
		    href=$(w).attr('href');
			console.log(href);
		    if(href.indexOf(s)>=0){
			    $(w).parent().addClass('selected');
				return false;
			}
		})
	}
});




</script>