{$header}
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right"><div class="account_box1">
		<div class="item-list">
			<div class="item-list-hd">
			<ul class="item-list-tabs item-list-tabs-flexible clearfix" >
				<li><a href="?route=merchants/sell" hidefocus="true">出售中的宝贝</a></li>
				<li class="current"><a href="?route=merchants/warehouse" hidefocus="true">等待上架的宝贝</a></li>
			</ul>
			</div>
			<div class="item-list-bd">
				<form name="" action="{$search_url}" method="post">
                <table>
					<tr>
				
						<td width="208"><div class="input-prepend"><span class="add-on">宝贝名称</span><input name="name" type="text"  class="span2" id="name" value="{if isset($name)}{$name}{/if}" placeholder="宝贝名称"/></div></td>
						<td width="208"><div class="input-prepend"><span class="add-on">宝贝编号</span><input name="model" type="text"  class="span2" id="model" value="{if isset($model)}{$model}{/if}" placeholder="宝贝编号"/></div></td>
					    <td width="230"><div class="input-prepend"><span class="add-on">最小价</span><input name="price1" type="text" class="span1" id="price1"  maxlength="10" value="{if isset($price1)}{$price1}{/if}" placeholder="最小价" />到<span class="add-on">最大价</span><input name="price2" type="text" class="span1" id="price2"  maxlength="10" value="{if isset($price2)}{$price2}{/if}" placeholder="最大价"/></div></td>
				        <td width="80"><button onclick="javascript:searchItems()" class="btn" type="submit">搜索</button></td>
				  
				  </tr>
				</table>
                </form>
				<table align="center">
				<thead>
					<tr>
					  <th class="th_topbor" width="18"></th>
						<th class="th_topbor" width="60">宝贝图片</th>
						<th class="th_topbor" width="200">宝贝名称</th>
					  <th class="th_topbor" width="100">价格</th>
						<th class="th_topbor" width="100">库存</th>
					  <th class="th_topbor" width="60">上架</th>
						<th class="th_topbor" width="150">创建时间</th>
						<th width="60" class="th_topbor" >操作</th>
			          <th class="th_topbor" >&nbsp;</th>
				  </tr>
				</thead>
				</table> 
		  </div>  
			<table width="100%">
				<tr bgcolor="#f3f3f3" id="alignleft">
					<td width="60"><input type="checkbox" name="checkbox" value="" onclick="SelectAll('info_id',this)" /> 全选</td>
					<td width="200"><button class="btn" type="button" onclick="SetSelectProduct('?route=merchants/sell/del','删除','宝贝','info_id')">删 除</button>
									<button class="btn" type="button" onclick="SetSelectProduct('?route=merchants/sell/up','上架','宝贝','info_id')">上 架</button><td>
					<td></td>
			</table>
            <div class="sell">
                {loop $list $info}
                <table border="0" align="center" cellpadding="0" cellspacing="0" >
                  <tr>
                    <td colspan="7" class="td_top" id="alignleft"><label>
                      <input type="checkbox" name="info_id" value="{$info['product_id']}" />
                    宝贝编号 {$info['model']} </label></td>
                  </tr>
                  <tr>
                    <td height="72" colspan="7"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="60"><a href=""><img src="{$info['image']}" width="52" height="52" class="item-pic"/></a></td>
                        <td width="220">{$info['name']}</td>
                        <td width="100" class="price-now">￥<span class="bf60">{$info['price']}</span></td>
                        <td width="100">{$info['quantity']}({$info['sku']})</td>
                        <td width="60"><button class="btn" type="button" onclick="SetProduct('?route=merchants/sell/up','上架','宝贝',{$info['product_id']})">上架</button></td>
                        <td width="150" align="center">$info['date_added']</td>
                        <td width="60" align="center"><a href="{$info['edit_url']}">
                        <button class="btn" type="button">编辑宝贝</button></a><!--<a href="{$info['edit_url']}">编辑宝贝</a><br/><button class="trigger-btn" type="button">预览宝贝</button>--></td>
                      </tr>
                    </table></td>
                  </tr>
                </table>
                {/loop}
            </div>
            
      <!--begin  页脚批量操作和列表翻页 begin-->
	    <div class="pageRight">
		<table>
    		<tr>
    			<td>{$page}</td>
    		</tr>		
		</table>
		</div>
 	<!--页脚翻页end-->
		</div>
    </div></div>
 	<!--右侧end-->
</div>
{$footer}
<script type="text/javascript" src="catalog/view/javascript/merchants.js"></script>