{$header}
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right">
	<div class="item-list">
	<div class="item-list-hd">
   	<ul class="item-list-tabs item-list-tabs-flexible clearfix" data-spm="9">
		<li ><a href="index.php?route=merchants/order_create" hidefocus="true">{$createorder}</a></li>
		<li ><a href="index.php?route=merchants/order" hidefocus="true">{$waitingorder}</a></li>
		<li class="current"><a href="index.php?route=merchants/ordering"  >{$dealingorder}</a></li>
		<li><a href="index.php?route=merchants/ordered"  hidefocus="true">{$dealedorder}</a></li>
	</ul>	
    </div>
		 		
	<form  action="" method="post">
		<input type='hidden' value=''>
		<div class="item-list-bd">
			<table id="J_ListTable">
			<thead>
				<tr>
					<th> </th>
					<th width="250">宝贝</th>
					<th width="100">单价(元)</th>
					<th width="40">数量</th>
				  <th width="100">收货人</th>
					<th width="80">交易状态</th>
					<th width="100">实收款(元)</th>
					<th >评价</th>
				</tr>
			</thead>
			<!--<tbody class="act">
				<tr>
					<td colspan="9">
						<div class="operations">
							<input type="checkbox" class="all-selector" /><label>全选</label>
						 		   <a href="">批量发货</a>
	    						   <a href="">批量备忘</a>
	    						   <a href="">批量免运费</a>
						    <span style="display:inline">
								<label class="show-hidden-orders" ><input type="checkbox"onclick="switch_closeorder(this)" />不显示已关闭的订单</label>
						    </span>
							<ul class="page-nav inline-block page-nav-simply">
							<li class="prev-page"><a href="#" class="disabled" onclick="javascript:void(0)">上一页</a></li>
							<li class="next-page"><a href="#" class="disabled" onclick="javascript:void(0)">下一页</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>-->
		</table> 
		</div>   
		</form>
	</div>
 	<!--订单列表-->
		<div class="tab_bor">
        {loop $orderList $order}
		<table width="790" height="100" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#e6e6e6" >
		  <tr>
			<td height="28" colspan="5" bgcolor="#f3f3f3">
				<span class="order_num">订单编号：{$order['orderid']}</span>
				<span class="order_num">成交时间：{$order['date_added']}</span>
                <span class="deal_time">买家：{$order['email']}</span>
			</td>
		  </tr>
		  <tr>
			<td bgcolor="#FFFFFF" width="450">
            {loop $order['product_list'] $product}
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="nostyle">
			  <tr>
				<td width="60" align="center"><a href="index.php?route=product/product&product_id={$product['product_id']}" target="_blank" ><img src="{$product['image']}" width="50" height="50" /></a></td>
				<td width="250">
				<div class="props">
				<a href="index.php?route=product/product&product_id={$product['product_id']}" target="_blank" class="txt_color">{$product['name']}</a> ({$product['model']}){if $product['attribute']}<br><span>{$product['attribute']}</span>{/if}
                </div>
				</td>
				<td width="100" align="center" class="price">{$product['price']}</td>
				<td width="40"  align="center"  class="num">{$product['quantity']}</td>
			  </tr>
			</table>
            {/loop}            </td>
			<td bgcolor="#FFFFFF" width="100" align="center">
				{$order['username']}<br>
				<span>{$order['mobile']}</span>
			</td>
			<td bgcolor="#FFFFFF" width="80" align="center">
			  <a href="javascript:setOrderStatus('wrapGoods','确定所选宝贝已发货完成吗？',{$order['order_id']});">确定发货完成</a><br>
			  <a href="index.php?route=merchants/order/detail&id={$order['order_id']}" target="_blank" class="txt_color">详情</a>			</td>
			<td bgcolor="#FFFFFF" width="100" align="center">
				<span class="price">{$order['total']}</span><p class="post-type">{if !empty($order['shipping'])}(含{$order['shipping']['title']}:{$order['shipping']['text']}){/if}</p>
				<!--(含<span class="post-type"> 快递 </span>:<span class="J_PostFee">12.00</span>)-->				    						    			
			</td>
			<td bgcolor="#FFFFFF">&nbsp;</td>
		  </tr>
		</table>
        {/loop}
	  </div>
 	<!--订单列表end-->
      <!--begin  页脚批量操作和列表翻页 begin-->
	    <div class="page">
		<table>
    		<tr>
    			<td>{$page}</td>
    		</tr>		
		</table>
		</div>
 	<!--页脚翻页end-->
    </div>
 	<!--右侧end-->
</div>

{$footer}
<script type="text/javascript" src="catalog/view/javascript/merchants.js"></script>