{$header}
    <script type="text/javascript" src="catalog/view/javascript/merchants.js"></script>
    <script type="text/javascript" src="catalog/view/javascript/area.js"></script>
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right">
	<div class="account_box1">
		<div class="item-list">
		<div class="item-list-hd">
		<ul class="item-list-tabs item-list-tabs-flexible clearfix" data-spm="9">
			<li><a>配送方式管理</a></li>
		</ul>	
		</div>

 	    <!--begin-->
		<div class="item-list-bd" >	
			<div id="list">
				<div id="content">
				<div id="postage-tpl">
				<div class="setting">
					<h2> {$heading_title}运费模板 </h2>
						<form method="post" id="J_TPLForm" action="{$action}">
	
						<input type="hidden" name="isUpdate" value="1">
						<input id="J_Cube" type="hidden" value="m³">
						<input type="hidden" name="templateId" value="1849257">
						<input type="hidden" name="templateName" value="小于1公斤的产品">
						<input type="hidden" name="auctionids" value="">
						<input type="hidden" name="forceSellerPay" value="false">
						<input type="hidden" name="unique" value="">
						<input type="hidden" name="type" value="">
						<input type="hidden" name="fromType" value="fromListAll">
						<input type="hidden" name="selectedPostageid" value="">
						<input type="hidden" name="postageid" value="">
						<input type="hidden" name="auctionid" value="">
						<input type="hidden" name="categoryid" value="">
						<input type="hidden" name="isSupportWandV" value="">
						<ul>
							<li class="form-elem">
								<label class="label-like" for="J_TemplateTitle">模板名称：</label>
								<input type="text" name="t_x" {if isset($shipping_info['shipping_desc'])}value="{$shipping_info['shipping_desc']}"{else}value=""{/if} class="input-text input-address" autocomplete="off" id="J_TemplateTitle">
								
							</li>
						
							<li class="form-elem">
								<span class="label-like">宝贝地址：</span>
								<span id="J_AddressChoose">
								  <script type="text/javascript">var zone={if !empty($shipping_info['zone'])}{$shipping_info['zone']}{else}{if !empty($shipping_info['city'])}{$shipping_info['city']}{else}220100{/if}{/if};ylmf_area.make_select(zone);</script>
								</span>
							</li>
							<li class="form-elem">
								<span class="label-like">发货时间：</span>
								<span>
									<select name="consignDate" id="J_prescription">
										<option>请选择..</option> 
										<option value="12" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==12}selected="selected"{/if}>12小时内</option>
										<option value="24" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==24}selected="selected"{/if}>24小时内</option>
										<option value="48" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==48}selected="selected"{/if}>48小时内</option>
										<option value="72" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==72}selected="selected"{/if}>72小时内</option>
										<option value="120" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==120}selected="selected"{/if}>5天内</option>
										<option value="168" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==168}selected="selected"{/if}>7天内</option>
										<option value="360" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==360}selected="selected"{/if}>15天内</option>
										<option value="720" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==720}selected="selected"{/if}>30天内</option>
										<option value="1080" {if isset($shipping_info['consignDate']) && $shipping_info['consignDate']==1080}selected="selected"{/if}>45天内</option>
									</select>
								</span>
								<span>承诺买家付款后该时间内录入物流信息并发货，以物流公司收单信息为准。</span>
							</li>
						   
							<li class="form-elem">
								<span class="label-like">是否包邮：</span>
								<span><input type="radio" name="bearFreight" checked="" value="0" id="J_buyerBearFre">
										<label for="J_buyerBearFre">买家承担运费</label>
										<input type="radio" name="bearFreight" value="2" id="J_sellerBearFre">
										<label for="J_sellerBearFre">卖家承担运费</label>
								</span>
							</li>
						
							<li class="form-elem calc-method">
								    <span class="label-like">计价方式：</span>
								{if !empty($shipping_info)}
									{if isset($shipping_info['calc_rule']) && $shipping_info['calc_rule']==1}
									<span><label data-type="number">&nbsp;按件数</label></span>
									{elseif isset($shipping_info['calc_rule']) && $shipping_info['calc_rule']==2}
									<span><label data-type="weight">&nbsp;按重量</label></span>
									{elseif isset($shipping_info['calc_rule']) && $shipping_info['calc_rule']==3}
									<span><label data-type="volume">&nbsp;按体积</label></span>
									{/if}
								{else}
									<span>
										<input type="radio" name="valuation" checked="checked" value="1" class="J_CalcRule" data-type="number" id="J_CalcRuleNumber">
										<label for="J_CalcRuleNumber">&nbsp;按件数</label>
									</span>
									<span>
										<input type="radio" name="valuation" value="2" class="J_CalcRule" data-type="weight" id="J_CalcRuleWeight">
										<label for="J_CalcRuleWeight">&nbsp;按重量</label>
									</span>
									<span>
										<input type="radio" name="valuation" value="3" class="J_CalcRule" data-type="volume" id="J_CalcRuleVolume">
										<label for="J_CalcRuleVolume">&nbsp;按体积</label>
									</span>
								{/if}
							</li>
						
							<li class="form-elem express">
								<span class="label-like">运送方式：</span>
								<p>
									<span class="field-note">除指定地区外，其余地区的运费采用“默认运费”</span>
								</p>
								<div class="section J_Section">
								    {if !empty($shipping_info['express_start']) && !empty($shipping_info['express_postage'])}
										<p>
											<input type="checkbox" name="tplType" value="1" id="J_DeliveryEXPRESS" class="J_Delivery" checked="checked">
											<label for="J_DeliveryEXPRESS">快递</label>
										</p>
									
									
										<div class="postage-detail  J_PostageDetail" data-delivery="express">
											<div class="entity"><div class="default J_DefaultSet">默认运费：<input type="text" name="express_start" value="{$shipping_info['express_start']}"  class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}内，<input type="text"  name="express_postage" value="{$shipping_info['express_postage']}" class="input-text " autocomplete="off" maxlength="6" > 元，
															每增加 <input type="text" name="express_plus" data-field="plus" value="{$shipping_info['express_plus']}" class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}
															，增加运费 <input type="text" name="express_postageplus"  value="{$shipping_info['express_postageplus']}" class="input-text " autocomplete="off" maxlength="6" >元
															<div class="J_DefaultMessage"></div></div><div class="tbl-attach"><div class="J_SpecialMessage"></div><a href="#" class="J_AddRule">为指定地区城市设置运费</a></div></div>
										</div>				
									{else}	
                                        <p>
											<input type="checkbox" name="tplType" value="1" id="J_DeliveryEXPRESS" class="J_Delivery">
											<label for="J_DeliveryEXPRESS">快递</label>
										</p>									
										<div class="postage-detail hidden J_PostageDetail" data-delivery="express"></div>
									{/if}
                                </div>
								
								<div class="section J_Section">
								     {if !empty($shipping_info['ems_start']) && !empty($shipping_info['ems_postage'])}
										<p>
											<input type="checkbox" name="tplType" value="1" id="J_DeliveryEMS" class="J_Delivery" checked="checked">
											<label for="J_DeliveryEMS">EMS</label>
										</p>
									
									
										<div class="postage-detail  J_PostageDetail" data-delivery="express">
											<div class="entity"><div class="default J_DefaultSet">默认运费：<input type="text" name="ems_start" value="{$shipping_info['ems_start']}"  class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}内，<input type="text"  name="ems_postage" value="{$shipping_info['ems_postage']}" class="input-text " autocomplete="off" maxlength="6" > 元，
															每增加 <input type="text" name="ems_plus" data-field="plus" value="{$shipping_info['ems_plus']}" class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}
															，增加运费 <input type="text" name="ems_postageplus"  value="{$shipping_info['ems_postageplus']}" class="input-text " autocomplete="off" maxlength="6" >元
															<div class="J_DefaultMessage"></div></div><div class="tbl-attach"><div class="J_SpecialMessage"></div><a href="#" class="J_AddRule">为指定地区城市设置运费</a></div></div>
										</div>				
									{else}	
										<p>
											<input type="checkbox" name="tplType" value="2" id="J_DeliveryEMS" class="J_Delivery">
											<label for="J_DeliveryEMS">EMS</label>
										</p>
										<div class="postage-detail hidden J_PostageDetail" data-delivery="ems" style=""></div>
									{/if}
								</div>
								<div class="section J_Section">
								    {if !empty($shipping_info['post_start']) && !empty($shipping_info['post_postage'])}
										<p>
											<input type="checkbox" name="tplType" value="1" id="J_DeliveryPOST" class="J_Delivery" checked="checked">
											<label for="J_DeliveryPOST">平邮</label>
										</p>
									
									
										<div class="postage-detail  J_PostageDetail" data-delivery="express">
											<div class="entity"><div class="default J_DefaultSet">默认运费：<input type="text" name="post_start" value="{$shipping_info['post_start']}"  class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}内，<input type="text"  name="post_postage" value="{$shipping_info['post_postage']}" class="input-text " autocomplete="off" maxlength="6" > 元，
															每增加 <input type="text" name="post_plus" data-field="plus" value="{$shipping_info['post_plus']}" class="input-text " autocomplete="off" maxlength="6" > {$calc_rule}
															，增加运费 <input type="text" name="post_postageplus"  value="{$shipping_info['post_postageplus']}" class="input-text " autocomplete="off" maxlength="6" >元
															<div class="J_DefaultMessage"></div></div><div class="tbl-attach"><div class="J_SpecialMessage"></div><a href="#" class="J_AddRule">为指定地区城市设置运费</a></div></div>
										</div>				
									{else}	
										<p>
											<input type="checkbox" name="tplType" value="3" id="J_DeliveryPOST" class="J_Delivery">
											<label for="J_DeliveryPOST">平邮</label>
										</p>
										<div class="postage-detail hidden J_PostageDetail" data-delivery="post"></div>
									{/if}
								</div>
							</li>
							
							<li class="form-elem">
								<span class="label-like">是否启用：</span>
								<span>  
								    {if !empty($shipping_info['enabled']) &&  $shipping_info['enabled']==1}
								        <input type="radio" name="enabled" checked="checked" value="1" id="J_enabled">
										<label for="J_enabled">启用</label>
										<input type="radio" name="enabled" value="0" id="J_disabled">
										<label for="J_disabled">不启用</label>
									{elseif  !empty($shipping_info['enabled']) && $shipping_info['enabled']==0}
								        <input type="radio" name="enabled"value="1" id="J_enabled">
										<label for="J_enabled">启用</label>
										<input type="radio" name="enabled"  checked="checked"  value="0" id="J_disabled">
										<label for="J_disabled">不启用</label>
									{else}
								        <input type="radio" name="enabled" value="1" id="J_enabled">
										<label for="J_enabled">启用</label>
										<input type="radio" name="enabled" value="0"  checked="checked" id="J_disabled">
										<label for="J_disabled">不启用</label>
									{/if}
								</span>
							</li>
						</ul>
						<p class="btns">
							<button type="submit" class="save">保存并返回</button>
							<button type="button" class="cancel">取消</button>
						</p>
						<input type="hidden" name="deliveryJson" id="J_TPLPostData" value="">
						<input type="hidden" name="deliveryAddress" id="J_address" value="">
						<input type="hidden" name="deliveryPrescription" id="J_deliveryPrescription" value="">
						<input type="hidden" name="hasConsignDate" value="false">
					</form>
				</div>
				</div>
				</div>
			</div>
			
	
		</div>   
		<!--end-->
		
		
		</div>
 	</div>
    </div>
 	<!--右侧end-->
</div>


{$footer}

<script type="text/javascript">

	//保存并返回
	$('.btns .save').click(function(){
	    $('p.msg').remove();
		$('span.msg').remove();
	    if(!$('input[name=t_x]').val()){
		    var x_='<p class="msg"><span class="error">请输入模板名称</span></p>';
			$('input[name=t_x]').after(x_);
			
		}
		
		//ADDRESS
		var len=$('select[name=ya_city] option').length;
		var len_=$('select[name=ya_town] option').length;
		if(len==1 || (len>1 && $('select[name=ya_city]').val()==0) || (len>1 && len_>1 && $('select[name=ya_town]').val()==0)){
		    var z_='<p class="msg"><span class="error">请输入宝贝所在地址</span></p>';
			$('#J_AddressChoose').after(z_);
	    }
		
		//INFER SHIPPING
		var sum_=0;
		$('.J_Delivery').map(function(i,w){
		    if($(w).prop('checked')==true){
			    sum_+=$(w).val();
			}
			
		});
		
		if(sum_==0){
			var b_='<p class="msg"><span class="error">请至少选择一种运送方式</span></p>';
			$('.J_Section:last').after(b_);
		}
		
		$('input[name$=_postage]').each(function(i,w){
			if($(w).length>0){
				var f_= parseFloat($(w).val());
				var p_= parseFloat($(w).siblings('input[name$=_postageplus]').val());
				var x_='<span class="msg J_Message"><span class="error">首费应输入0.00至999.99的数字</span></span>';
				var y_='<span class="msg J_Message"><span class="error">续费应输入0.00至999.99的数字</span></span>';
				if(isNaN(f_) || f_>999.99 || f_<0){
					$(w).parent().children('.J_DefaultMessage').append(x_);
				}
				
				if(isNaN(p_) || p_>999.99 || p_<0){
					$(w).parent().children('.J_DefaultMessage').append(y_);
				}
				
			}
		});
		
		if($('.error').length>0){
		    return false;
		}
		
		return true;
	    
	});
	
	//取消
	$('.btns .cancel').click(function(){
	    location.href='index.php?route=merchants/shipping';
	});
	
	var obj={
	     flag:false,
		 freight:'',
		 CalcRule:'件',
		 html:'',
	};
	
	
	$('input[name=valuation]').change(function(e){
	    
	    //if($(this).prop('checked')==true) return false;
	    if(confirm('切换计价方式后，所设置当前模板的运输信息将被清空，确定继续么？')){
		    obj.flag=true;
		}else{
			obj.flag=false;
		}
	});
	
	$('input[name=valuation]').click(function(){
	    return obj.flag;
	});
	
	obj.freight=$('input[name=bearFreight]').val();
	
	
	
	var calc={
	        'number':'件',
			'weight':'kg',
			'volume':'m³'};
	
  
	
	for(var i in calc){
	    if(i==$('.calc-method  span label').attr('data-type')){
		    obj.CalcRule=calc[i];
			break;
		}
	}
	
	
    obj.html='<div class="entity"><div class="default J_DefaultSet">默认运费：<input type="text" name="ems_start" value="1" data-field="start" class="input-text " autocomplete="off" maxlength="6" > '+obj.CalcRule+
														'内，<input type="text" class="j_sellerBearFrePrice" value="0.00" disabled="disabled" style="display: none;"><input type="text" data-field="postage" name="ems_postage" value="" class="input-text " autocomplete="off" maxlength="6" aria-label="默认运费价格" > 元，'+
														'每增加 <input type="text" name="ems_plus" data-field="plus" value="1" class="input-text " autocomplete="off" maxlength="6" > '+obj.CalcRule+
														'，增加运费 <input type="text" class="j_sellerBearFrePrice" value="0.00" disabled="disabled" style="display: none;"><input type="text" name="ems_postageplus" data-field="postageplus" value="" class="input-text " autocomplete="off" maxlength="6" >元'+
														'<div class="J_DefaultMessage"></div></div><div class="tbl-attach"><div class="J_SpecialMessage"></div><a href="#" class="J_AddRule">为指定地区城市设置运费</a></div></div>';
	
    $('input[name=bearFreight]').click(function(){
	    obj.freight=$(this).val();
		if(obj.freight==2){
			alert('选择 卖家承担运费后，所有区域的运费将设置为0元且原运费无法还原，请保存原有运费设置。');
			$('.postage-detail').addClass('hidden');
			$('.entity').remove();
	    }else{
		    alert('您的运费将变为未设置状态，请设置运费！');
			$('.J_Delivery').each(function(i,w){
			    if($(w).prop('checked')==true){
				    $(w).parent().next('div').removeClass('hidden');
					$(w).parent().next('div').append(obj.html);
				}
			});
		}
		
	});
	
			
	$('.J_CalcRule').click(function(){
		if(obj.flag){
		    $('.entity').remove();
		    $('.postage-detail').addClass('hidden');
		    $('.J_Delivery').attr('checked',false);
			
			
			for (var key in calc){
				if($(this).attr('data-type')==key){
					obj.CalcRule=calc[key];
					break;
				}
				
			}
			
			
		}
	});
	
	
	
	
	
	$('.J_Delivery').click(function(){ 
	    var s_=$(this).parent().next('div');
	    if(obj.freight==0){ //买家承担运费
			if(s_.children('.entity').length<=0 && $(this).prop('checked')==true){
			    var delivery_type=s_.attr('data-delivery');

				obj.html='<div class="entity"><div class="default J_DefaultSet">默认运费：<input type="text" name="'+delivery_type+'_start" value="1" class="input-text " autocomplete="off" maxlength="6" > '+obj.CalcRule+
														'内，<input type="text" data-field="postage" name="'+delivery_type+'_postage" value="" class="input-text " autocomplete="off" maxlength="6" > 元，'+
														'每增加 <input type="text" name="'+delivery_type+'_plus"  value="1" class="input-text " autocomplete="off" maxlength="6" > '+obj.CalcRule+
														'，增加运费 <input type="text" name="'+delivery_type+'_postageplus"  value="" class="input-text " autocomplete="off" maxlength="6" >元'+
														'<div class="J_DefaultMessage"></div></div><div class="tbl-attach"><div class="J_SpecialMessage"></div><a href="#" class="J_AddRule">为指定地区城市设置运费</a></div></div>';
			
				s_.removeClass('hidden');
				s_.append(obj.html);
			}else{
				s_.addClass('hidden');
				s_.children('.entity').remove();
			}
		}
	});
	
</script>