{$header}
    <!--左侧begin-->
    {$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right"><div class="account_box1">
		<div class="item-list">
			<div class="item-list-hd">
			<ul class="item-list-tabs item-list-tabs-flexible clearfix" >
				<li ><a href="#" onclick="" hidefocus="true">店铺优惠券</a></li>
				<li class="current" ><a href="#" onclick="" hidefocus="true">店铺礼品券</a></li>
			</ul>
			</div>
			<div class="item-list-bd">
				<table id="J_ListTable">
				<thead>
					<tr>
						<th align="right"><a href="#" class="fa">添加/删除</a></th>
					</tr>
				</thead>
				</table> 
			</div>  
			<table width="100%">
				<tr bgcolor="#EDF5FF">
					<td width="50"><input type="checkbox" name="checkbox" value="checkbox" /></td>
					<td width="100"><b>礼品券代码</b></td>
					<td width="60"><b>发送者</b></td>
					<td width="60"><b>收券人</b></td>
					<td width="60"><b>金额</b></td>
					<td width="100"><b>主题</b></td>
					<td width="60"><b>状态</b></td>
					<td width="100"><b>添加日期</b></td>
					<td width="60"><b>操作</b></td>
				</tr>
				<tr >
					<td><input type="checkbox" name="checkbox" value="checkbox" /></td>
					<td>200012</td>
					<td>神精病者</td>
					<td>医生</td>
					<td>500元</td>
					<td>逛穿悦商城</td>
					<td>未使用</td>
					<td>2012-11-11</td>
					<td><a href="coupons_editor.html" class="fa">发送</a> <a href="coupons_editor.html" class="fa">编辑</a></td>
				</tr>
				<tr >
					<td><input type="checkbox" name="checkbox" value="checkbox" /></td>
					<td>200012</td>
					<td>神精病者</td>
					<td>医生</td>
					<td>500元</td>
					<td>逛穿悦商城</td>
					<td>未使用</td>
					<td>2012-11-11</td>
					<td><a href="coupons_editor.html" class="fa">发送</a> <a href="coupons_editor.html" class="fa">编辑</a></td>
				</tr>
			</table> 
		</div>
	
    </div></div>
 	<!--右侧end-->
</div>
{$footer}