 <div class="payment_form">
    <form action="{$action}" method="post" enctype="multipart/form-data" id="form">
      <table class="form" border="1" cellpadding="2">
	   
		{if $code=='alipay'}
			<tr>
				<td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_code}</td>
				<td>
					<select name="payment_code_" disabled="disabled" >
						{loop $payment_bank $key $pb}
							<option value="{$key}" {if $key==$payment_code}selected="selected"{/if}>{$pb}</option>
						{/loop}
					</select>
					<input type="hidden" name="payment_code" value="{$payment_code}" />
				</td>
			</tr>
			<tr>
			<td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_trade_type}<br>(请根据对应的接口填入正确的参数)</td>
			  <td>
				{if $trade_type=='trade_create_by_buyer'}
					<label for="trade_create_by_buyer">双接口</label>：<input type="radio" name="trade_type" id="trade_create_by_buyer" value="trade_create_by_buyer"  checked="true"/>&nbsp;&nbsp;
					<label for="create_direct_pay_by_user">直接到帐：<input type="radio" name="trade_type" id="create_direct_pay_by_user" value="create_direct_pay_by_user"/>&nbsp;&nbsp;
					<label for="create_partner_trade_by_buyer">担保接口：<input type="radio" name="trade_type" id="create_partner_trade_by_buyer" value="create_partner_trade_by_buyer"/>&nbsp;&nbsp;
				{elseif $trade_type=='create_direct_pay_by_user'}
					<label for="trade_create_by_buyer">双接口：<input type="radio" name="trade_type"  id="trade_create_by_buyer" value="trade_create_by_buyer"/>&nbsp;&nbsp;
					<label for="create_direct_pay_by_user">直接到帐：<input type="radio" name="trade_type"  id="create_direct_pay_by_user" value="create_direct_pay_by_user"  checked="true"/>&nbsp;&nbsp;
					<label for="create_partner_trade_by_buyer">担保接口：<input type="radio" name="trade_type"  id="create_partner_trade_by_buyer" value="create_partner_trade_by_buyer"/>&nbsp;&nbsp;
				{else}
					<label for="trade_create_by_buyer">双接口</label>：<input type="radio" name="trade_type" id="trade_create_by_buyer" value="trade_create_by_buyer"/>&nbsp;&nbsp;
					<label for="create_direct_pay_by_user">直接到帐：<input type="radio" name="trade_type" id="create_direct_pay_by_user"  value="create_direct_pay_by_user"/>&nbsp;&nbsp;
					<label for="create_partner_trade_by_buyer">担保接口：<input type="radio" name="trade_type"  id="create_partner_trade_by_buyer" value="create_partner_trade_by_buyer"  checked="true"/>&nbsp;&nbsp;
				{/if}
			</td>
			</tr>
			<tr>
			  <td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_partner}</td>
			  <td><input type="text" name="partner" value="{$partner}" size="50" />
		  {if $error_partner}
				<span class="error">{$error_partner}</span>
				{/if}</td>
			</tr>

			<tr>
			  <td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_security_code}</td>
			  <td><input type="text" name="security_code" value="{$security_code}" size="50" />
		  {if $error_secrity_code}
				<span class="error">{$error_secrity_code}</span>
			   {/if}</td>
			</tr>
		   <tr>
			  <td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_seller_email}</td>
			  <td><input type="text" name="seller_email" value="{$seller_email}" size="50" />
				{if $error_email}
				<span class="error">{$error_email}</span>
				{/if}</td>
			</tr>
			
			<!--
				<tr>
					  <td><span class="required">*</span> {$entry_anti_phishing}</td>
					  <td>
					   {if ($alipay_anti_phishing==1)}
							Yes:&nbsp;<input type="radio" name="alipay_anti_phishing" value="1" checked="true"/>&nbsp;&nbsp;
							No:&nbsp;<input type="radio" name="alipay_anti_phishing" value="0"/>&nbsp;&nbsp;
						{else}
							Yes:&nbsp;<input type="radio" name="alipay_anti_phishing" value="1"/>&nbsp;&nbsp;
							No:&nbsp;<input type="radio" name="alipay_anti_phishing" value="0" checked="true"/>&nbsp;&nbsp;
						{/if}
					</td>
				</tr>
			-->
			<tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_order_status}</td>
			  <td><select name="order_status_id">
				  {loop $order_statuses  $order_status}
					 {if $order_status['order_status_id'] == $order_status_id}
						<option value="{$order_status['order_status_id']}" selected="selected">{$order_status['name']}</option>
					 {else}
						<option value="{$order_status['order_status_id']}">{$order_status['name']}</option>
					  {/if}
				  {/loop}
				</select></td>
			</tr>
			<tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_status}</td>
			  <td><select name="status">
				  {if $status}
				  <option value="1" selected="selected">{$text_enabled}</option>
				  <option value="0">{$text_disabled}</option>
				  {else}
				  <option value="1">{$text_enabled}</option>
				  <option value="0" selected="selected">{$text_disabled}</option>
				  {/if}
				</select></td>
			</tr>
			<tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_sort_order}</td>
			  <td><input type="text" name="sort_order" value="{$sort_order}" size="10" /></td>
			</tr>
			<!--  <tr>
			  <td style="text-align:right">&nbsp;</td>
			  <td>使用注意已经存在CNY的人民币汇率设置。Code为CNY</td>
			</tr> -->
		{elseif $code=='cod' || $code=='bank' || $code=='post'}
		    <tr>
				<td style="text-align:right;padding-right:10px;"><span class="required">*</span> {$entry_code}</td>
				<td>
					<select name="payment_code_" disabled="disabled" >
						{loop $payment_bank $key $pb}
							<option value="{$key}" {if $key==$payment_code}selected="selected"{/if}>{$pb}</option>
						{/loop}
					</select>
					<input type="hidden" name="payment_code" value="{$payment_code}" />
				</td>
			</tr>
			<tr>
			    <td style="text-align:right;padding-right:10px;width:40%"><span class="required">*</span> {$entry_description}</td>
				<td><textarea name="description" style="width:373px;height:96px" >{$description}</textarea></td>
			</tr>
		    <tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_order_status}</td>
			  <td><select name="order_status_id">
				  {loop $order_statuses  $order_status}
					 {if $order_status['order_status_id'] == $order_status_id}
						<option value="{$order_status['order_status_id']}" selected="selected">{$order_status['name']}</option>
					 {else}
						<option value="{$order_status['order_status_id']}">{$order_status['name']}</option>
					  {/if}
				  {/loop}
				</select></td>
			</tr>
			<tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_status}</td>
			  <td><select name="status">
				  {if $status}
				  <option value="1" selected="selected">{$text_enabled}</option>
				  <option value="0">{$text_disabled}</option>
				  {else}
				  <option value="1">{$text_enabled}</option>
				  <option value="0" selected="selected">{$text_disabled}</option>
				  {/if}
				</select></td>
			</tr>
			<tr>
			  <td style="text-align:right;padding-right:10px;">{$entry_sort_order}</td>
			  <td><input type="text" name="sort_order" value="{$sort_order}" size="10" /></td>
			</tr>
		{/if}
      </table>
	  <input type="hidden" name="id" value="{$id}" />
	  <!-- <input type="submit" name="sbt" value="submit" /> -->
    </form>
  </div>

