{$header}
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
	
    <!--右侧begin-->
	<div class="right">
		<div class="blue_bor">
			<div class="blue_topbg">
				<ul>
					<li class="bl">填写宝贝基本信息</li>
					<li class="br"><span class="red">*</span> 表示该项必填</li>
				</ul>
			</div>
			<div class="blue_r">	
                <form id="formfb" name="formfb" method="post" action="index.php?route=merchants/release/insert" onsubmit="return checkProduct(this)">
                	<input name="category_id" id="category_id" type="hidden" value="{$category_id}" />
                	<input name="product_id" id="product_id" type="hidden" value="{$product_id}" />
                    <input name="product_image" id="product_image" type="hidden" value="" />
				    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="mainTbl">
					    <!--
						<tr>
						    <td  width="90" align="right" ><label>宝贝属性：</label></td>
						    <td>
								<div class="attribute"></div>
							</td>
						</tr>
					    -->
						
						
						
						<tr class="sxtpy_attribute_Jxjx_0909">
						    <td width="90" align="right"><label>宝贝标题：</label></td>
						    <td><label>
							<input name="name" type="text" class="input_txt" onfocus="textCounter(this,'leavings',50);" onblur="textCounter(this,'leavings',50);" onkeyup="textCounter(this,'leavings',50);" size="90" maxlength="60" id="name" value="{$info['name']}" /> <a href="javascript:void(0);" target="_blank" class="etao">etao</a>
							<span >还能输入<em id="leavings">50</em>字</span></label></td>
						</tr>
						<tr>
						    <td width="90" align="right"><label>宝贝价格：</label></td>
						    <td><label>
							<input name="price" type="text" class="input_txt" size="20" maxlength="10" id="price" value="{$info['price']}" />
						  元</label>  <input type="checkbox" name="isSpecial" id="special" value="1" {if !empty($info['special'])}checked="checked"{/if} /><label for="special">是否优惠</label></td>
						</tr>
						
						{if !empty($info['special'])}
						     <tr><td width="90" align="right"><label>优惠价格：</label></td><td><input name="special_price" type="text" class="input_txt" size="20" maxlength="10" id="special_price"  value="{$info['special']['price']}" /><label> 元  开始：</label><input type="textbox" name="date_start"  class="input_txt" value="{$info['special']['date_start']}" /><label> 结束：</label><input type="textbox" name="date_end" class="input_txt" value="{$info['special']['date_end']}" /></td></tr>
						{/if}
						
						<tr>
						  <td width="90" align="right"><label>宝贝数量：</label></td>
						  <td><label>
							<input name="quantity" type="text" class="input_txt" size="20" maxlength="8" id="quantity" value="{$info['quantity']}" />
						  </label></td>
						</tr>
						<tr> 
						  <td align="right"><label>库存单位：</label></td>
						  <td><label><input name="sku" type="text" class="input_txt" size="20" maxlength="10" id="sku"  value="{$info['sku']}" /> 
						  如：件、瓶、盒、套……</label></td>
					  </tr>
						<tr>
						  <td align="right"><label>要求配送：</label></td>
						  <td>
						    {if $info['shipping']==1}
						    <label for="shipping_yes"><input name="shipping" type="radio" id="shipping_yes" value="1"  checked="checked"  />需要</label>　
                            <label for="shiping_no"><input type="radio" name="shipping" id="shiping_no" />不需要</label>
							{elseif $info['shipping']==2}
							<label for="shipping_yes"><input name="shipping" type="radio" id="shipping_yes" value="1"  checked="checked"  />需要</label>　
                            <label for="shiping_no"><input type="radio" name="shipping" checked="checked" id="shiping_no" />不需要</label>
							{else}
							<label for="shipping_yes"><input name="shipping" type="radio" id="shipping_yes" value="1"  checked="checked"  />需要</label>　
                            <label for="shiping_no"><input type="radio" name="shipping" id="shiping_no" />不需要</label>
							{/if}
						  </td>
					  </tr>
						<tr>
						  <td align="right"><label>当前状态：</label></td>
						  <td>
						    {if $info['status']==1}
						    <label for="online"><input name="status" type="radio" id="online"  value="1"  checked="checked" />上架</label>　
                            <label for="offline"><input type="radio" name="status"  id="offline"   value="3"/>下架</label>
							{elseif $info['status']==3}
							 <label for="online"><input name="status" type="radio" id="online"  value="1"  />上架</label>　
                            <label for="offline"><input type="radio" name="status"  id="offline"  checked="checked" value="3"/>下架</label>
							{else}
							 <label for="online"><input name="status" type="radio" id="online"  value="1"  checked="checked" />上架</label>　
                            <label for="offline"><input type="radio" name="status"  id="offline"   value="3"/>下架</label>
							{/if}
						  </td>
					  </tr>
						<tr>
						  <td width="90" align="right"><label>宝贝编号：</label></td>
						  <td><label>
							<input name="model" type="text" class="input_txt" size="30" maxlength="50" value="{$info['model']}" />
						  请输入宝贝编码，方便将来管理查找</label></td>
						</tr>
						<tr>
						    <td width="90" align="right"><label>宝贝图片：</label></td>
						    <td>
								<!-- imageUpload -->
								<div id="itemPic">
								<div class="pic-manager2">
                                    <ul id="imageList">
                                    {loop $image $img}<li id="img_item{$img['id']}"><img src="{$img['image']}" width="80" height="80"/><div><a href="javascript:setProductImage({$img['id']});">设主图</a>　<a href="javascript:delProductImage({$img['id']});">删除</a></div></li>{/loop}
                                    </ul>
                                    <ul id="J_imageView"></ul>
                                    <div style="clear:both;"><span class="upload" id="J_selectImage"><a href="javascript:void(0);"></a></span></div>
                                    <div class="pm-msg">
                                        <div class="msg"><p class="attention" style="width:559px">图片至少上传1张，图片大小不能超过512K，第1张图片默认作为宝贝主图。</p></div>
                                    </div>
								</div>
								</div>							</td>
					    </tr>
						<tr>
						    <td width="90" align="right"><label>宝贝描述：</label></td>
						    <td><div id="editor_body" ><textarea name="description" style="width:100%;height:280px;" id="description">{$info['description']}</textarea></div>	  </td>
						</tr>
						<tr>
							<td height="25" colspan="2" style="padding:0px; margin:0px;"></td>
					    </tr>
		      </table>
                    <div class="submit">
						<div class="float-submitbar">
							<button type="submit" name="" class="J_Submit btn btn-main-primary btn-submit" value="发布" >
							<span class="btn-txt">发布商品</span>  </button>
						</div>
				    </div>
			    </form>
			</div>
		</div>
    
    </div>
 	<!--右侧end-->
	
	<!--属性的选项begin-->

	
	<div id="product_option"  style="display:none" > 
		<table id="option-value" class="list" >
			<thead>
				<tr>
					{loop $groups $v}
					<th>{$v['attribute_group_name']}</th>
					{/loop}
					<th>商品数量</th>
					<th>扣减库存</th>
					<th>销售价格</th>
					<th>操作</th>
			    </tr>
			</thead>
			<tbody id="option-value-row">
			    <!-- {loop $product_options $k $product_option}   
				<input type="hidden" name="product_option[attribute_group][$k][product_option_id]" value="{$product_option['product_option_id']}" />
				<input type="hidden" name="product_option[attribute_group][$k][name]" value="{$product_option['name']}" />
				<input type="hidden" name="product_option[attribute_group][$k][attribute_group_id]" value="{$product_option['attribute_group_id']}" />
				<input type="hidden" name="product_option[attribute_group][$k][option_id]" value="{$product_option['option_id']}" />
				<input type="hidden" name="product_option[attribute_group][$k][type]" value="{$product_option['type']}" />
			    {/loop} -->
			    
				{php $option_value_row = 0}
				
				{if !empty($product_options)}
				{loop $product_options $product_option}
				    {php $row=1;}
					<tr class="attribute{$product_option['attribute_id']}" data-role="{$product_option['attribute_id']}">
					    {loop $product_option['attribute'] $k $a}
					        <td class="attribute_{$k}">{$a}</td>
							<input type='hidden' name="product_option[{$option_value_row}][attribute{$row}]]" value="{$k}" />
							{php $row++;}
					    {/loop}
					    <td><input type="text" name="product_option[{$option_value_row}][quantity]" value="{$product_option['quantity']}" size="3" /></td>
					    <td><select name="product_option[{$option_value_row}][subtract]">
						  {if isset($product_option['subtract'])}
						  <option value="1" selected="selected">是</option>
						  <option value="0">否</option>
						   {else}
						  <option value="1">是</option>
						  <option value="0" selected="selected">否</option>
						  {/if}
						</select></td>
					    <td>
						<input type="text" name="product_option[{$option_value_row}][price]" value="{$product_option['price']}" size="5" />
						</td>
					  
					    <td><a href="javascript:void(0);"  class="deleteOptionRow">删除</a></td>
					</tr>
					{php $option_value_row++;}
                {/loop}
				{/if}
			</tbody>
		</table>	     		
	</div>
	
	
	<!--属性的选项end-->
	
	
	
{$footer}
<script charset="utf-8" src="catalog/view/javascript/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="catalog/view/javascript/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="catalog/view/javascript/merchants.js?v=20130320"></script>
<script type="text/javascript"><!--
$(document).ready(function(){

	productEditor();
	window.json={$attributeGroups};
    //console.log(json);
	if(json.length>0){ 
	    var i=0,maxLen=json.length;
		for(;i<maxLen;i++){
		    var gtype=json[i].gtype;
		    var strAttr=[];
			strAttr.push('<tr id="tr_'+json[i].attribute_group_id+'">');
			
			if(gtype==2){//价格属性
			    strAttr.push('<td  width="90" class="gtype" align="right" ><label>'+json[i].attribute_group_name+'：</label></td>');
			}else{
			    strAttr.push('<td  width="90" align="right" ><label>'+json[i].attribute_group_name+'：</label></td>');
			}
			
			strAttr.push('<td><div class="attribute">');
			strAttr.push('<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="pushAttribute">');
			
			if(gtype==2){
			    strAttr.push('<tr><td  align="left"  class="composite" id="attribute_group_id'+json[i].attribute_group_id+'">');
            }else{
			    strAttr.push('<tr><td  align="left"  id="attribute_group_id'+json[i].attribute_group_id+'">');
			}
			var valList=json[i].attribute;
			if(valList.length>0){
				//根据不同的显示方式，生成不同的表单控件
				
				if(json[i].option_id==4){
					//下拉列表
					strAttr.push('<select name="attribute[]" id="attr_'+ json[i].attribute_group_id +'">');
					strAttr.push('<option value="" selected="selected">请选择'+ json[i].attribute_group_name +'</option>');
					var j=0,max=valList.length;
					for(;j<max;j++){
						strAttr.push('<option value="');
						strAttr.push(valList[j].attribute_id);
			            
						
						if(json[i].product_option_value && json[i].product_option_value.length==1){//只有一个属性，单选项
							if(valList[j].attribute_id==json[i].product_option_value[0].attribute_id){
								strAttr.push('" selected="selected');
							}
						}
						
						strAttr.push('">');
						strAttr.push(valList[j].name);
						strAttr.push('</option>');
					}
					strAttr.push('</select>');
				}else if (json[i].option_id==2){
					//复选框
					var j=0,max=valList.length;
					for(;j<max;j++){
						strAttr.push('<input name="attribute[]" id="attr_');
						strAttr.push(valList[j].attribute_id);
						strAttr.push('" type="checkbox" value="');
						strAttr.push(valList[j].attribute_id);
				        
						if(json[i].product_option_value){
							for(var k=0;k<json[i].product_option_value.length;k++){
								if(valList[j].attribute_id==json[i].product_option_value[k].attribute_id){
									strAttr.push('" checked="checked');
								}
							}
						}
						
						strAttr.push('" /> ');
						strAttr.push("<label for='attr_"+valList[j].attribute_id+"'>");
						strAttr.push(valList[j].name);
						strAttr.push("</label>");
						strAttr.push('　');
					}
				}else if (json[i].option_id==1){
					//单选框
					
					var j=0,max=valList.length;
					for(;j<max;j++){
						strAttr.push('<input name="attribute[]" id="attr_');
						strAttr.push(valList[j].attribute_id);
						strAttr.push('" type="radio" value="');
						strAttr.push(valList[j].attribute_id);
						
						if(json[i].product_option_value){
							for(var k=0;k<json[i].product_option_value.length;k++){
								if(valList[j].attribute_id==json[i].product_option_value[k].attribute_id){
									strAttr.push('" checked="checked');
								}
							}
						}
						strAttr.push('" /> ');
						strAttr.push("<label for='attr_"+valList[j].attribute_id+"'>");
						strAttr.push(valList[j].name);
						strAttr.push("</label>");
						strAttr.push('　');
					}
				}
			}
			strAttr.push('</td></tr>');
			strAttr.push('</table></div></td></tr>');
	
			$(".mainTbl").prepend(strAttr.join(""));
			
			//加载 （显示）属性组的选项
			
			//if($('#product_option_'+json[i].attribute_group_id+" .list tbody td select[name$='option_value_id]'] option:selected").length){
			//	var y='<tr  data-role="optionAddtional" class="optionsAdd"><td  width="90" align="right" ></td><td>'+$('#product_option_'+json[i].attribute_group_id).html()+  '</td></tr>';
			//	$('.sxtpy_attribute_Jxjx_0909').before(y);
			//}
			
			
			
		}
		
		if($('#product_option .list tbody tr').length){
			var y='<tr  data-role="optionAddtional" class="optionsAdd"><td  width="90" align="right" ></td><td>'+$('#product_option').html()+  '</td></tr>';
			$('.sxtpy_attribute_Jxjx_0909').before(y);
		}
			
		i=null;
		j=null;
		y=null;
	}
	
	
	f_set_num();
	
});


//针对checkbox and radio选框单击事件（1）
$("input[name^=attribute]").live('click',function(){
    var option_value=$(this).val();
	if(!option_value) return false;
	
    var attribute_group_id=$(this).parent().attr('id').replace(/attribute_group_id/g,'');
	
	
	
	var that=$(this);
	//判断属性组类型：一般属性还是价格属性
	$.getJSON('index.php?route=merchants/release/getAttributeGroupType',{attribute_group_id:attribute_group_id},function(json){
	    if(json['type']==1){
		    return false;
		}else if (json['type']==2 ){
		    
		    var attribute_id=that.val();
            
			var counter=0;//计数器
			var gtype_len=$('.gtype').length;
			var flag;
			$("td.gtype").each(function(i,w){
			    flag=false;
			    $(this).siblings("td").children('.attribute').children('table').children('tbody').children('tr').children('td').children('input').each(function(j,x){
				    if($(x).attr('checked')=='checked'){
					    flag=true;
						return false;
					}
					
				});
				if(flag==true) counter++;
			});
			//console.log(counter);
			//console.log(gtype_len);
			var attribute_={};
			
			if(counter==gtype_len){
			    $('td.composite').each(function(i,w){
				    var attribute=[];
				    var gid=$(w).attr('id').replace(/[a-z_]*/,'');
				    $(w).children('input').each(function(k,y){
				        if($(y).attr('checked')=='checked'){
						    var x=$(y).val();
							var l=$(y).next('label').text();
						    attribute[x]=l;
						    
						}
				    });
					
					attribute_[gid]=attribute;
				});
				//console.log(attribute_);
				
				
				var attribute__=[];
                for(var name in attribute_){
				    if(attribute_[name]!==undefined && attribute_[name]!==null){
					    attribute__.push(attribute_[name]);//attribute__[name]=(attribute_[name]);
					}
				}
				
				//console.log(attribute__.length);
			
				
				
				if($('.optionsAdd').length<=0){
					var x='<tr data-role="optionAddtional" class="optionsAdd"><td  width="90" align="right" ></td><td>'+$('#product_option').html()+  '</td></tr>';
					$('.sxtpy_attribute_Jxjx_0909').before(x);
				}
				
				
				
				if(that.attr('checked')=='checked'){
				    if(attribute__.length==2){ //两个属性决定的价格
						for(var c in attribute__[1]){
							for (var d in attribute__[0]){							
								//console.log($('.optionsAdd  table.list tbody tr.attribute_'+c+'_'+d+'_').length);
								if($('.optionsAdd  table.list tbody tr.attribute_'+c+'_'+d+'_').length<=0){
									addOptionValue(c,attribute__[1][c],d,attribute__[0][d]);
								}
							}
						}
                    }else if(attribute__.length==1){ //一个属性决定的价格
                        
						for (var d in attribute__[0]){							
							//console.log($('.optionsAdd  table.list tbody tr.attribute_'+c+'_'+d+'_').length);
							if($('.optionsAdd  table.list tbody tr.attribute_'+d+'_').length<=0){
								addOptionValue(d,attribute__[0][d]);
							}
						}
						
                    }					
			    }else{
				    $(".optionsAdd  table.list tbody tr td.attribute_"+attribute_id).parent().remove();
					/*
					if($('.list tbody tr[data-role^=_'+attribute_id+'_]').length>0){
						$('.list tbody tr[data-role^=_'+attribute_id+'_]').remove();
					}else{
						var x=$(".list tbody tr td.attribute_"+attribute_id).parent().attr('data-role');
						
						var y=x.split('_');
		
						var z=y[1];
						
						
						var len=$('.list tbody tr[data-role^=_'+z+'_]').length;
						len=len-1;
						if (len>=1){
							$('.list tbody tr td.attribute_'+z).attr('rowSpan',len);
							
							$(".list tbody tr td.attribute_"+attribute_id).prev().each(function(i,w){
								if($(this).attr('rowSpan')){
								   var s=$(this).text();
								   $('<td class="attribute_'+z+'" rowSpan="'+len+'">'+s+'</td>').prependTo($(this).parent().next());
								}
							});
						}
						
						$(".list tbody tr td.attribute_"+attribute_id).parent().remove();

					}
					*/
					
				}
				
	
			}else if(counter!=gtype_len){
			    $(".optionsAdd").remove();
            }
			f_set_num();
		}
	});
	
	
});

$(".optionsAdd input[name$='[quantity]']").live('blur',function(){  
	var sum=0;
	$(".optionsAdd input[name$='[quantity]']").each(function(i,w){
	    var x=parseInt($(w).val());
	    if(isNaN(x)) return true;
		sum +=x;
	});
	if(sum>0) $('input[name=quantity]').val(sum);
});
//--></script>

<script type="text/javascript"><!--	
var option_value_row = {$option_value_row};

function addOptionValue(attribute_id1,attribute_name1,attribute_id2,attribute_name2) {	
    var html='';
	<!-- html  = '<tbody id="option-value-row">'; -->
	if(attribute_id2 && attribute_name2){
		html += '  <tr class="attribute_'+attribute_id1+'_'+attribute_id2+'_" data-role="_'+attribute_id1+'_'+attribute_id2+'_" >';
		html += '    <td class="attribute_'+attribute_id1+ '">'+attribute_name1+'</td>';
		html += '   <input type="hidden" name="product_option[' + option_value_row + '][attribute1]" value="'+attribute_id1+'" />';
		html += '    <td class="attribute_'+attribute_id2+ '" >'+attribute_name2+'</td>';
		html += '   <input type="hidden" name="product_option[' + option_value_row + '][attribute2]" value="'+attribute_id2+'" />';
	}else{
	    html += '  <tr class="attribute_'+attribute_id1+'_" data-role="_'+attribute_id1+'_" >';
		html += '    <td class="attribute_'+attribute_id1+ '">'+attribute_name1+'</td>';
		html += '   <input type="hidden" name="product_option[' + option_value_row + '][attribute1]" value="'+attribute_id1+'" />';
		<!-- html += '    <td class="attribute_'+attribute_id2+ '" >'+attribute_name2+'</td>'; -->
		<!-- html += '   <input type="hidden" name="product_option[' + option_value_row + '][attribute2]" value="'+attribute_id2+'" />'; -->
	}
	
	html += '    <td><input type="text" name="product_option[' + option_value_row + '][quantity]" value="" size="10" /></td>'; 
	html += '    <td><select name="product_option[' + option_value_row + '][subtract]">';
	html += '      <option value="1">是</option>';
	html += '      <option value="0">否</option>';
	html += '    </select></td>';
	html += '    <td><input type="text" name="product_option[' + option_value_row + '][price]" value="" size="12" /></td>';
	html += '    <td><a href="javascript:void(0);" class="deleteOptionRow">删除</a></td>';
	html += '  </tr>';
	<!-- html += '</tbody>'; -->
    //console.log(html);
	
	
	
	
	var compositeID,flag=false;
    $('.optionsAdd  table.list tbody tr').each(function(i,w){
	    compositeID=$(w).attr('data-role');
		if(compositeID.indexOf(attribute_id1)>=0){
		   flag=true;
		   $(this).before(html);
		   return false;
			
		}
	});
  
	if (flag===false) $('tr.optionsAdd  table.list tbody' ).append(html);
	
	
	option_value_row++;
	/*
	var len=$('.list tbody tr[data-role^=_'+attribute_id1+'_]').length;
	
	if(len>=2) {
	    $('.list tbody tr td.attribute_'+attribute_id1).each(function(i,w){
		    if(i==0){
		        $(this). attr('rowSpan',len);
			}else{
			    $(this).remove();
			}
		});
	}
		
	*/
	
}

$(".deleteOptionRow").live('click',function(){
    
	var compositeID=$(this).parent().parent().attr('data-role');
	//console.log(compositeID);
	var x=compositeID.split('_');

	
	$(this).parent().parent().remove();
	
	
	for(var m in x){
	    if(!x[m]) continue;
	    if($('.optionsAdd  table.list tbody tr td.attribute_'+x[m]).length <=0){
	       $("#attr_"+x[m]).removeAttr("checked");
		}
	}
	
	if($(".optionsAdd  table.list tbody tr").length==0) $(".optionsAdd").remove();
	
	//console.log($(".optionsAdd input[name$='[quantity]']").length);
	f_set_num();
		
});

$("#special").click(function(){
    var x='<tr><td width="90" align="right"><label>优惠价格：</label></td><td><input name="special_price" type="text" class="input_txt" size="20" maxlength="10" id="special_price" value="" /> <label>元  开始：</label><input type="textbox" name="date_start"  class="input_txt"/><label> 结束：</label><input type="textbox" name="date_end" class="input_txt" /></td></tr>';
 
	if($(this).prop('checked')==true){
	    if($("#special_price").length<=0){
		    $(this).parent().parent().after(x);
	   }
	}else{
	    if($("#special_price").length>0){
	       $("#special_price").parent().parent().remove();
		}
	}
});
//--></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script> 
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" /> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/jquery-ui-timepicker-addon.js"></script> 
<script type="text/javascript" src="catalog/view/javascript/jquery/ui/i18n/jquery.ui.datepicker-zh-CN.js"></script> 
<script type="text/javascript"><!--
$("input[name^=date]").live("click", function(){
    $(this).datepicker({
    	dateFormat: 'yy-mm-dd',
		numberOfMonths: 2 //显示两个月
	});
});

function f_set_num(){
	if($(".optionsAdd input[name$='[quantity]']").length>0){
		$('input[name=quantity]').attr('readonly',true);
		$('input[name=quantity]').css({'background':'#ECE9D8'});
	}else{
		$('input[name=quantity]').removeAttr('readonly');
		$('input[name=quantity]').css({'background':'#FFFFFF'});
	}
	
	var sum=0;
	$(".optionsAdd input[name$='[quantity]']").each(function(i,w){
	    var x=parseInt($(w).val());
	    if(isNaN(x)) return true;
		sum +=x;
	});
    
	if (sum>0) $('input[name=quantity]').val(sum);
}

//链接ETAO
$('.etao').click(function(){
	var now = new Date();

	var year = now.getFullYear();       //年
	var month = now.getMonth() + 1;     //月
	var day = now.getDate();            //日

   
	var today = year + "";
   
	if(month < 10)
		today += "0";
   
	today += month + "";
   
	if(day < 10)
		today += "0";
	   
	today += day ;
	
    var productName=$('input[name=name]').val();
	productName=productName.replace(/\s*/g,'');
    if(!productName) return false;
	productName=productName.substr(0,20);
	//productName=encodeURIComponent(productName);
	var href='http://s.etao.com/search?q='+productName+'&initiative_id=setao_'+today+'&style=grid';
	window.open(href,'','height=600,width=800,scrollbars=yes,status =yes');
});
//--></script> 
