{$header}
 	<!--左侧begin-->
	{$left}
 	<!--左侧end-->
    <!--右侧begin-->
	<div class="right">
	<div class="account_box1">
		<div class="item-list">
		<div class="item-list-hd">
		<ul class="item-list-tabs item-list-tabs-flexible clearfix" data-spm="9">
			<li><a>配送方式管理</a></li>
		</ul>	
		</div>
					
		<!--begin-->
		<div class="item-list-bd">
			<form name="templateList" id="templateList" action="template_list.htm" method="post">
			<input type="hidden" name="fromType" value="fromListAll">
			<input type="hidden" name="selectedPostageid" value="">
			<input type="hidden" name="fenxiaoid" value="">
			<input type="hidden" name="auctionid" value="">
			<input type="hidden" name="auctionids" value="">
			<input type="hidden" name="toolAuth" value="">
			<input type="hidden" name="categoryid" value="">
			
            <div id="list">
                <div id="content">
                    <div id="postage-tpl">
                        <div class="manage-list" id="J_TemplateList">
                            <p style="overflow:hidden;*zoom:1">
                               <span class="skin-gray">
							        <a href="javascript:void(0)" target="blank" class="link-help">使用帮助</a>
								    <a href="javascript:void(0)"  class="long-btn">新增运费模板 </a>
								</span>
                            </p>
							
							{loop $shippings $shipping}
                            <div class="section J_Section" data-id="{$shipping['shipping_id']}">
                                <div class="tbl-prefix">
                                    <span class="meta">|<a href="javascript:void(0);" class="J_Modify"> 修改</a> | <a href="#postage-tpl" data-action="http://delivery.taobao.com/user/template_delete.do?_tb_token_=e5eeb03418eee&amp;categoryid=&amp;uid={uid}" class="J_Delete">删除 </a></span>
                                    <h3 class="J_Title">{$shipping['shipping_desc']}</h3>
                                </div>
								<div class="tbl-head">
                                    <table border="0" cellpadding="0" cellspacing="0">
										<colgroup>
											<col class="col-express">
											<col class="col-area">
											<col class="col-starting">
											<col class="col-postage">
											<col class="col-plus">
											<col class="col-postageplus">
										</colgroup>
										<tbody><tr>
											<th>运送方式</th>
											<th>运送到</th>
											<th>首件(个)</th>
											<th>运费(元)</th>
											<th>续件(个)</th>
											<th>运费(元)</th>
										</tr>
										</tbody>
									</table>
                                </div>
								<div class="entity">
									<table border="0" cellpadding="0" cellspacing="0">
										<colgroup>
											<col class="col-express">
											<col class="col-area">
											<col class="col-starting">
											<col class="col-postage">
											<col class="col-plus">
											<col class="col-postageplus">
										</colgroup>
										<tbody>
											<tr>
												<td>{$shipping['shipping_name']}</td>
												<td class="cell-area">全国</td>
													<td>{$shipping['first_num']}</td>
													<td>{$shipping['first_price']}</td>
													<td>{$shipping['step_num']}</td>
													<td>{$shipping['step_price']}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>	
                            {/loop}							
                        </div>
					
                        <div class="page">
							<table>
								<tr>
									<td>{if !empty($pagination)}<div class="pagination">{$pagination}</div>{/if}</td>
								</tr>		
							</table>
						</div>
                    </div>
			    </div>
			</div>
			</form>
		</div>   
	    <!--end-->
		
		</div>
 	</div>
    </div>
 	<!--右侧end-->
</div>
{$footer}
<script type="text/javascript" src="catalog/view/javascript/merchants.js"></script>
<script type="text/javascript">
	//修改
	$('.J_Modify').click(function(){
	    var shipping_id=$(this).parents('.J_Section').attr('data-id');
	    location.href='index.php?route=merchants/shipping/update&shipping_id='+shipping_id;
	});
	
	//新增
	$('.long-btn').click(function(){
	    location.href='index.php?route=merchants/shipping/insert';
	});
</script>