<!--修改begin-->
<!-- <form action="{$action}" method="post" enctype="multipart/form-data" id="form"> -->
    <table class="form">
	  <tr>
		<td><span class="required">*</span> {$entry_name}</td>
		<td>
		  <select name="attribute_group">
		  <option value=''>--请选择--</option>
		  {loop $attributeGroups $attributeGroup}
			<option  value="{if isset($attributeGroup['attribute_group_id'])}{$attributeGroup['attribute_group_id']}{/if}" >{$attributeGroup['attribute_group_id']}:{$attributeGroup['name']}</option>
		  {/loop}
		  </select>
		  {if isset($error_name)}
		  <span class="error">{$error_name}</span><br />
		  {/if}
		  </td>
	  </tr>
	  <tr>
		<td>{$entry_type}</td>
		<td>
		    <select name="attribute_cid0" class="oned">
				<option value=''>--请选择--</option>
				{if !empty($firstDir)}
			        {loop $firstDir $v}
		                <option value="{$v['id']}" {if $firstid==$v['id']}selected="selected"{/if}>{$v['id']}：{$v['name']}</option>
					{/loop}
				{/if}
			</select>	
		</td>
	  </tr>
	  <tr>
	    <td></td>
		<td>
		    <select name="attribute_cid1" class="twod">
			    <option value=''>--请选择--</option>
			    {if !empty($secondDir)}
			        {loop $secondDir $v}
		                <option value="{$v['id']}" {if $secondid==$v['id']}selected="selected"{/if}>{$v['id']}：{$v['name']}</option>
					{/loop}
				{/if}
		    </select>
		</td>
	  </tr>
	  
	  <tr>
	    <td></td>
		<td>
			<select name="attribute_cid2" class="threed">
			    <option value=''>--请选择--</option>
			    {if !empty($thirdDir)}
			        {loop $thirdDir $t}
		                <option value="{$t['id']}" {if $thirdid==$t['id']}selected="selected"{/if}>{$t['id']}：{$t['name']}</option>
					{/loop}
				{/if}
		    </select>
	    </td>
	  </tr>
	  
	  <tr>
	    <td></td>
		<td>
		    <select name="attribute_cid3" class="fourd">
			    <option value=''>--请选择--</option>
			    {if !empty($forthDir)}
			        {loop $forthDir $f}
		                <option value="{$f['id']}" {if $forthid==$f['id']}selected="selected"{/if}>{$f['id']}：{$f['name']}</option>
					{/loop}
				{/if}
		    </select>
		</td>
	  </tr>
	  
	  
	  
	  
	   <!-- <tr>
		<td>{$entry_show}</td>
		<td><select name='isShow'>
		      <option value=''>--请选择--</option>
			  <option value='1' {if $isShow=='1'}selected="selected"{/if}>yes</option>
			  <option value='0' {if $isShow==='0'}selected="selected"{/if}>no</option>
		    </select></td>
	  </tr>
	  
	  
	  
	  <tr>
		<td>{$entry_sort_order}</td>
		<td><input type="text" name="sort_order" value="{$sort_order}" size="5" /></td>
	  </tr> -->
	 <!--  <input type='hidden' name='category_id' value="{if isset($category_id)}{$category_id}{/if}" />
	  <input type='hidden' name='attribute_group_id' value="{if isset($attribute_group_id)}{$attribute_group_id}{/if}" /> -->
	</table>
<!-- </form> -->
<!--修改end-->
 
<script type="text/javascript">
  
  var sel={ 
            getOne:function(){
				var id=$('.oned').find("option:selected").val();
				$.ajax({
				    url:'index.php?route=catalog/attribute_group/getAjaxCategory&token={$token}&id='+id,
				    dataType:'json',
					success:function(json){
					    var l=json.length;
						var x="<option value=''>--请选择--</option>";
						if (l>0){
						    for(var i=0;i<l;i++){
							    x=x+"<option value="+json[i]['id']+">"+json[i]['id']+"："+json[i]['name']+"</option>";
							}
						}else{
						    x='';
						}
					
					    $('.twod').html(x);
						$('.threed').html('');
						$('.fourd').html('');
					},
					error:function(){
					    alert('数据返回错误！');
					}
				});
			    
			},
			getTwo:function(){
			    //var url=sel.getUrl();
				var id=$('.twod').val();
				$.ajax({
				    url:'index.php?route=catalog/attribute_group/getAjaxCategory&token={$token}&id='+id,
				    dataType:'json',
					success:function(json){
					    var l=json.length;
						var x="<option value=''>--请选择--</option>";
						if (l>0){
						    for(var i=0;i<l;i++){
							    x=x+"<option value="+json[i]['id']+">"+json[i]['id']+"："+json[i]['name']+"</option>";
							}
						}else{
						    x='';
						}
					
					    $('.threed').html(x);
						$('.fourd').html('');
					},
					error:function(){
					    alert('数据返回错误！');
					}
				});
			    
			},
			
			getThree:function(){
			    //var url=sel.getUrl();
				var id=$('.threed').val();
				$.ajax({
				    url:'index.php?route=catalog/attribute_group/getAjaxCategory&token={$token}&id='+id,
				    dataType:'json',
					success:function(json){
					    var l=json.length;
						var x="<option value=''>--请选择--</option>";
						if (l>0){
						    for(var i=0;i<l;i++){
							    x=x+"<option value="+json[i]['id']+">"+json[i]['id']+"："+json[i]['name']+"</option>";
							}
						}else{
						    x='';
						}
					
					    $('.fourd').html(x);
					},
					error:function(){
					    alert('数据返回错误！');
					}
				});
			    
			},
			
			getUrl:function(){
			    var pathname=location.pathname;
				var query=location.search;
				var url=pathname+query;
				return url;
			}
	};
	
	$('.oned').bind('change',sel.getOne);
	$('.twod').bind('change',sel.getTwo);
	$('.threed').bind('change',sel.getThree);

	
</script>