<div class="bothua"></div>

<!--帮助中心-->
<div class="bothelp">
	<ul>
		<li>
			<dl>
				<dt>购物指南</dt>
				<dd>购物流程</dd>
				<dd>配送方式</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>支付方式</dt>
				<dd>如何付款</dd>
				<dd>发票制度</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>商品说明</dt>
				<dd>商品尺码</dd>
				<dd>商品包装</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>客服中心</dt>
				<dd>七天退换</dd>
				<dd>常见问题</dd>
			</dl>
		</li>
		<li><img src="catalog/view/theme/default/image/try/zhaoshang.jpg"/></li>
	</ul>
</div>

<!--备案图片-->
<div class="botlink">
	<ul>
		<li><img src="catalog/view/theme/default/image/try/botlink1.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink2.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink3.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink4.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink5.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink6.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink7.jpg" width="112" height="40"/></li>
	</ul>
</div>

<!--版权-->
<div class="botcopy">
{$bottom}<p>{$address} {$telphone} {$icp}</p>
</div>

</body>
</html>