<div class="try_footer">
	<div class="w1000">
		<div class="try_footer_pic"><img src="catalog/view/theme/default/image/try/footz.jpg"/></div>
		<div class="try_footer_help">
			<div class="try_footer_tel"><img src="catalog/view/theme/default/image/try/foottel.jpg"/></div>
			<div class="try_footer_helplist">
				<ul>
					<li>
						<dl>
							<dt>{$text_manual}</dt>
							<dd><a href="{$register}">{$text_register}</a></dd>
							<dd><a href="{$shoppingProcess}">{$text_shoppingProcess}</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>{$text_shoppingMethod}</dt>
							<dd><a href="{$diy}">{$text_diy}</a></dd>
							<dd><a href="{$transport}">{$text_transport}</a></dd>
							<dd><a href="{$arrivedIntime}">{$text_arrivedIntime}</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>{$text_payMethod}</dt>
							<dd><a href="{$payment}">{$text_payment}</a></dd>
							<dd><a href="{$onlinePay}">{$text_onlinePay}</a></dd>
							<dd><a href="{$installments}">{$text_installments}</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>{$text_support}</dt>
							<dd><a href="{$exchange}">{$text_exchange}</a></dd>
							<dd><a href="{$warrant}">{$text_warrant}</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>{$text_help}</dt>
							<dd><a href="{$forgotten}">{$text_forgotten}</a></dd>
							<dd><a href="{$faq}">{$text_faq}</a></dd>
							<dd><a href="{$feedback}">{$text_feedback}</a></dd>
							<dd><a href="{$contact}">{$text_contact}</a></dd>
						</dl>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="try_footer_copy">
			<ul>
				<li class="f33">{$bottom}</li>
				<li class="f66">{$address} {$telphone} {$icp}
				
				    <script type="text/javascript" src="http://s14.cnzz.com/stat.php?id=5377085&web_id=5377085&show=pic1" language="JavaScript"></script>
					<script type="text/javascript"> 
						var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
						document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F670e7bff54cbd8462df65fd6ba632c63' type='text/javascript'%3E%3C/script%3E"));
					</script>
				</li>
			</ul>
		</div>
	</div>
</div>

</body>
</html>
