<div class="try_footer">
	<div class="w1000">
		<div class="try_footer_pic"><img src="catalog/view/theme/default/image/try/footz.jpg"/></div>
		<div class="try_footer_help">
			<div class="try_footer_tel"><img src="catalog/view/theme/default/image/try/foottel.jpg"/></div>
			<div class="try_footer_helplist">
				<ul>
					<li>
						<dl>
							<dt>新手指南</dt>
							<dd><a href="">会员注册</a></dd>
							<dd><a href="">购物流程</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>配送方式</dt>
							<dd><a href="">上门自提</a></dd>
							<dd><a href="">快速运输</a></dd>
							<dd><a href="">限时到达</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>支付方式</dt>
							<dd><a href="">货到付款</a></dd>
							<dd><a href="">在线支付</a></dd>
							<dd><a href="">分期付款</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>售后服务</dt>
							<dd><a href="">退换退款流程</a></dd>
							<dd><a href="">假一罚三</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>帮助中心</dt>
							<dd><a href="">找回密码</a></dd>
							<dd><a href="">常规问题</a></dd>
							<dd><a href="">意见反馈</a></dd>
							<dd><a href="">联系我们</a></dd>
						</dl>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="try_footer_copy">
			<ul>
				<li class="f33">{$bottom}</li>
				<li class="f66">{$address} {$telphone} {$icp}</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
