<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>试中心</title>
<link href="catalog/view/theme/default/stylesheet/bootstrap.css" rel="stylesheet" type="text/css" /> 
<link href="catalog/view/theme/default/stylesheet/try.css?v=20130624" type="text/css" rel="stylesheet">
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
</head>

<body>
<!------------网页顶部页头-------------->
<div class="try_topbg333">
<div class="try_top w1000">
	<ul>
		<li>
		    <img src="catalog/view/theme/default/image/try/header01.jpg" usemap="#Map"/> 
			<map name="Map" id="Map">
			<area shape="rect" coords="4,3,61,30" href="?route=try/try" />
			<area shape="rect" coords="60,4,140,28" href="?route=common/home" /></map>
			<!-- <a href="?route=try/try" class="on" />试中心</a>
			<a href="?route=common/home" />本地购</a> -->
		</li>
		<li class="r_side">
		联系电话：<span>0551-64374866</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服QQ：232139336
		</li>
	</ul>
</div>
</div>

<!------------头部LOGO部分-------------->
<div class="try_head w1000">
	<div class="try_head_logo"><img src="catalog/view/theme/default/image/try/logo.png"/></div>
    <div class="try_head_zheng"><img src="catalog/view/theme/default/image/try/header_btn.png"/></div>
    <div class="try_head_login">
	{if empty($username)}
		<form  method="post" action="{$login}">
			<ul>
				<li><span>帐户</span><input class="login_input" maxlength="30" type="text" name="username" /></li>
				<li><span>密码</span><input class="login_input" maxlength="30" type="password" name="password" /></li>
				<li><input type="submit" value="" class="login_but"><span class="login_wel">欢迎您来到试用中心！</span></li>
			</ul>
			<input type="hidden" name="referer" value="?route=try/try" />
		</form>
	{else}
		<div class="login login_wel">欢迎您！{$username}<p><a class="logout" href="javascript:void(0)">【退出】</a> <a href="?route=account/account">【我的帐户】</a></p></div>
	{/if}
    </div>
</div>
