{$header}
<!------------关键字搜索-------------->
<div class="try_search w1000">
	<b class="b1"><img src="catalog/view/theme/default/image/try/search01.jpg"/></b>
	<div class="try_search_body">
		<div class="try_search_key">
			<ul>
				<!-- <li><a href="">穿悦商城自营店</a></li>
				<li><a href="">最新韩版连衣裙</a></li>
				<li><a href="">超实惠幼儿套装</a></li> -->
			</ul>
		</div>
		<div class="try_search_box">
		<!-- <form   method="post" action=""> -->
			<ul>
				<li><input type="text" value="{$searchp}" name="searchp" class="sear_input" ></li>
				<li><input type="submit" value="搜&nbsp;索"  class="sear_imgbut"/></li>
				<!-- <input type="hidden" name="search" value="1" /> -->
			</ul>
		<!-- </form> -->
		</div>
	</div>
	<b class="b2"><img src="catalog/view/theme/default/image/try/search02.jpg"/></b>
</div>
<!------------免费试用规则-------------->
<div class="try_rules w1000">
	<div class="try_rules_l">
		<ul>
			<li class="bg1">试中心所有商品均支持免费送货上门试用，不满意无需付款。</li>
			<li class="bg2">每日16：00前下单当时送达，16：00之后下单次日送达。</li>
			<li class="bg3">试中心所有商品均由本地实体商家提供，便利售后、退换货。</li>
		</ul>
	</div>
	<div class="try_rules_r">
		<ul>
			<li><img src="catalog/view/theme/default/image/try/guize.jpg"/></li>
			<li>1、请选择试中心的商品并留下联系方式</li>
			<li>2、下单后15分钟内，客服会致电确定送货地址和时间</li>
			<li>3、请等待快递人员送货上门</li>
			<li>4、不满意无需付款</li>
		</ul>
	</div>
</div>
<div class="blank10"></div>
<div class="blank10"></div>
<!------------广告横幅-------------->
<div class="try_adv_banner"><img src="catalog/view/theme/default/image/try/6253_0.jpg"/></div>


<div class="blank10"></div>
<!------------产品列表-------------->
<div class="try_pro_list w1020">
    {if !empty($products)}
    {loop $products $k $product}
		<div class="try_pro320">
			<a href="?route=try/product&product_id={$product['product_id']}&store_id={$product['store_id']}"><img src="{$product['image']}" class="try_pro_img lazy" data-original="{$product['image']}" title="{$product['name']}" width="300" height="210"/></a>
			<noscript><img src="{$product['image']}" width="300" height="210"></noscript>
			<strong>{$product['shortname']}</strong>
			<b class="try_pro_details">新品上线，赶快来试试！</b>
			<b class="try_pro_time" data-end="{$product['date_end']}"></b>
			<div class="try_pro_price" >
			    <a href="?route=try/product&product_id={$product['product_id']}&store_id={$product['store_id']}"><img src="catalog/view/theme/default/image/try/pro_btn.png" width="318" height="38" usemap="Map_{$k}"  /></a>
				<map name="Map_{$k}" id="Map_{$k}" ><area shape="rect" coords="241,2,317,37" href="#"  /></map>
			    <span class="price">{$product['special_price']}</span><label>市场价：<span class="marketprice">￥{$product['price']}</span></label>
			</div>
		</div>
	{/loop}
	{/if}
	
	{if !empty($pagination)}
	<div class="pagination">{$pagination}</div>
	{/if}
</div>

<div class="blank10"></div>
<!------------广告横幅-------------->
<div class="try_adv_banner01"><img src="catalog/view/theme/default/image/try/6253_1.jpg"/></div>
<div class="blank10"></div>

<script src="catalog/view/javascript/jquery/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript">
    
	/*
	function stopBubble(e) {
        //如果提供了事件对象，则这是一个非IE浏览器
        if ( e && e.stopPropagation )
            //因此它支持W3C的stopPropagation()方法
            e.stopPropagation();
        else
            //否则，我们需要使用IE的方式来取消事件冒泡
            window.event.cancelBubble = true;
    }
	*/
	
	
	

	
	function _remainderTimer(){
		var current_timestamp=Math.ceil(new Date().getTime()/1000);
		$('.try_pro_time').each(function(i,w){
			var day;
			var hour;
			var minute;
			var second;
			
			var end_timestamp=$(w).attr('data-end');
			
			var remainder=end_timestamp-current_timestamp;
			
			day=Math.floor(remainder/86400);
			
			hour=Math.floor((remainder-day*86400)/3600);
			
			minute=Math.floor((remainder - day*86400 -hour*3600)/60);
			
			second=remainder - day*86400 - hour*3600 - minute*60;
			
			var _time_='剩余';
			_time_ +='<span class="time">'+day+'</span> 天<span class="time">'+hour+'</span> 时<span class="time">'+minute+'</span> 分<span class="time">'+second+'</span> 秒';
			$(this).html(_time_);
		});
		
		setTimeout(_remainderTimer,1000);
	}
		
	_remainderTimer();
	
	/*search*/
	$('.sear_imgbut').click(function(){
	    var s=$('input[name=searchp]').val();
		if(!(s.replace(/\s*/gi,''))) return;
		location.href='?route=try/try&s='+encodeURIComponent(encodeURIComponent(s));
	
	});
	
	
	$('input[name=\'searchp\']').bind('keydown', function(e) {
		if (e.keyCode == 13) {
			console.log('fff');
			var filter_name = $('input[name=\'searchp\']').attr('value');
			var url='?route=try/try';
			
			if (filter_name) {
				url +='&s='+  encodeURIComponent(encodeURIComponent(filter_name));
			}
			
			location = url;
		}
	});
    
	$("img.lazy").show().lazyload({
	    effect : "fadeIn"
	});
</script>


<!------------网页底部页脚-------------->
{$footer}