<!DOCTYPE html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>试中心</title>
<link href="catalog/view/theme/default/stylesheet/try.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery-1.7.1.min.js"></script>
<style type="text/css">

</style>
</head>

<body>
<div class="try_topbg">
	<div class="try_width">
		<div class="try_topleft"><a href="?route=common/home"><img src="catalog/view/theme/default/image/try/home.jpg"/></a></div>
		<div class="try_topright"><span><a href="?route=module/general/faq">帮助中心 │</a><a href="?route=module/general/company">关于我们</a></span><img src="catalog/view/theme/default/image/try/try_tel.jpg"/></div>
	</div>
</div>
<div class="try_logo">
	<div class="try_logoleft"><img src="catalog/view/theme/default/image/try/try_logo.jpg"/></div>
	<div class="try_logoright">
	    {if !empty($username)}
			<div class="rectangle">欢迎你！{$username} <a href="?route=account/logout">【退出】</a> <br><a href="?route=account/account">我的帐户</a></div>
		{else}
			<div class="welcome">欢迎您来到试中心！<span>【<a href="?route=account/register">注册</a>│<a class="login" href="javascript:void(0);">登录</a>】</span></div>
	    {/if}
	</div>
</div>
	<div class="try_menu">
		<ul>
			<li><a href="javascript:void(0);">所有品牌</a></li>
			<li><a href="{$clothes}">服装配饰</a></li>
			<li><a href="{$foods}">美食特产</a></li>
			<li><a href="{$house}">家居建材</a></li>
			<li><a href="{$travel}">运动户外</a></li>
			<li><a href="{$joy}">文化娱乐</a></li>
		</ul>
		<!-- <div class="sort">在售商品分类></div> -->
	</div>

<!--banner广告-->
<div class="banner">
	<div class="bannerl">
		<ul>
			<li><img src="catalog/view/theme/default/image/try/banner01.jpg"/></li>
		</ul>
	</div>
	<div class="bannerr">
		<ul>
			<li><img src="catalog/view/theme/default/image/try/try01.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/try02.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/try03.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/try04.jpg"/></li>
		</ul>
	</div>
</div>

<!--在售品牌-->
<div class="salebrand">
	<div class="brandbg">
		<ul>
			<li><img src="catalog/view/theme/default/image/try/brand1.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand2.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand3.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand4.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand5.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand6.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand7.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand8.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand9.jpg"/></li>
		</ul>
	</div>
</div>
<!-------------------------产品列表begin------------------------->
<div class="products">   
	    {loop $products $k $product}
		<div class="trylist {if $k%2==0}mr{/if}">
			<div class="listleft">
			<ul>
				<!-- <li><img src="catalog/view/theme/default/image/try/logo03.png"/></li> -->
				<li><a class="category" href="?route=product/category&category_id={$product['category']['category_id']}">{$product['category']['name']}</a></li>
				<li><span class="discount">{$product['discount']}</span>折起</li>
				<!-- <li class="pingpai"><a href="#"class="pingpai2">品牌介绍</a></li> -->
				<li><img src="catalog/view/theme/default/image/try/time.png" width="14" height="14"> <span class="_time_" data-end="{$product['date_end']}"></span></li>
				<li>派送：<span class="distance">二环</span> 以内</li>
			</ul>
			</div>
			<div class="listright">
				<ul>
					<li class="s_mod">
						<div class="s_pic"><a href="?route=product/product&product_id={$product['product_id']}"><img src="{$product['image']}" title="{$product['name']}"/></a></div>
						<div class="s_info"><span class="s_info_name">{$product['shortname']}</span><span class="s_info_price "><b class="s_info_price_">￥</b><span class="price">{$product['price']}</span></span><span class="s_info_price"><b class="s_info_price_">￥</b>{$product['special_price']}</span></div>
					</li>
				</ul>
			</div>
		</div>
		{/loop}
</div>

<!-------------------------底部版权begin------------------------->
<div class="bothua"></div>

<!--帮助中心-->
<div class="bothelp">
	<ul>
		<li>
			<dl>
				<dt>购物指南</dt>
				<dd>购物流程</dd>
				<dd>配送方式</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>支付方式</dt>
				<dd>如何付款</dd>
				<dd>发票制度</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>商品说明</dt>
				<dd>商品迟码</dd>
				<dd>商品包装</dd>
			</dl>
		</li>
		<li>
			<dl>
				<dt>客服中心</dt>
				<dd>七天退换</dd>
				<dd>常见问题</dd>
			</dl>
		</li>
		<li><img src="catalog/view/theme/default/image/try/zhaoshang.jpg"/></li>
	</ul>
</div>

<!--备案图片-->
<div class="botlink">
	<ul>
		<li><img src="catalog/view/theme/default/image/try/botlink1.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink2.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink3.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink4.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink5.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink6.jpg" width="112" height="40"/></li>
		<li><img src="catalog/view/theme/default/image/try/botlink7.jpg" width="112" height="40"/></li>
	</ul>
</div>

<!--版权-->
<div class="botcopy">
{$bottom}<br>{$address} {$telphone} {$icp}
</div>

<!-------------------------底部版权end------------------------->

</body>
<script type="text/javascript">
    $('.login').click(function(){
	    var login="{$login}";
		var referer=encodeURIComponent('{$referer}');
	    location.href=login+'&referer='+referer;
	});
	
	//$(function(){
	    function _remainderTimer(){
			var current_timestamp=Math.ceil(new Date().getTime()/1000);
			$('li ._time_').each(function(i,w){
				var day;
				var hour;
				var minute;
				var second;
				
				var end_timestamp=$(w).attr('data-end');
				
				var remainder=end_timestamp-current_timestamp;
				
				day=Math.floor(remainder/86400);
				
				hour=Math.floor((remainder-day*86400)/3600);
				
				minute=Math.floor((remainder - day*86400 -hour*3600)/60);
				
				second=remainder - day*86400 - hour*3600 - minute*60;
				
				var _time_='剩余';
				_time_ +='<span class="time">'+day+'</span> 天<span class="time">'+hour+'</span> 时<span class="time">'+minute+'</span> 分<span class="time">'+second+'</span> 秒';
				$(this).html(_time_);
			});
			
			setTimeout(_remainderTimer,1000);
		}
		
		_remainderTimer();
	//});
</script>
</html>
