{$header}
<!------------试中心head end-------------->
<script type="text/javascript" src="catalog/view/javascript/bootstrap/bootstrap-modal.js"></script>
<!--在售品牌-->
<div class="salebrand">
	<div class="brandbg">
		<ul>
			<li><img src="catalog/view/theme/default/image/try/brand1.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand2.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand3.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand4.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand5.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand6.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand7.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand8.jpg"/></li>
			<li><img src="catalog/view/theme/default/image/try/brand9.jpg"/></li>
		</ul>
	</div>
</div>

<!------------产品展示 begin-------------->
<div class="products">
	<div class="productsl">
		<dl>
			<dt> {$productInfo['product']['name']}</dt>
		</dl>
	</div>
	<div class="productsr">
		<dl>
			<dt><span class="font18"></span><img src="catalog/view/theme/default/image/try/time.png"/> <span class="remainder">正在加载...</span></dt>
		</dl>
	</div>
    <div class="clear"></div>
    
    <div class="left_get_p_b">
		{loop $products $k $product}
		<div class="productinfo {if $product['productInfo']['product_id']!=$product_id} tSbox{/if}" data-id="{$product['productInfo']['product_id']}">
			<div class="_large_img_thumb_">
			    {loop $product['images'] $k $image}
			     <span   data-id="{$image['product_image_id']}" {if $k<=0}{else}class="tSbox"{/if}><img src="{$image['large_image']}"  width="459" height="459" /></span>
				{/loop}
			</div>
			<div class="productDesc tSbox">
			    {$product['productInfo']['description']}
			</div>
			<div class="b_p_img_thumb">
			    <!-- <a class="leftArrow"></a> -->
				<div class="proThumb-wrap">
			    {loop $product['images'] $k $image}
				<span data-id="{$image['product_image_id']}" {if $k==0}class="sleb"{/if}><img src="{$image['small_image']}" width="58" height="58" /></span>
				{/loop}
				</div>
				<!-- <a class="rightArrow"></a> -->
			</div>
            <div class=" border clear "></div>
			<ul data-name="{$product['productInfo']['name']}">
				{loop $product['attribute'] $attribute_}
				    <li class="attribute" ><span class="title">{$attribute_['attribute_group_name']}：</span>
					    {loop $attribute_['product_option_value'] $option}
						<a class="size_sel" data-aid="{$option['attribute_id']}">{$option['name']}<i></i></a>
						{/loop}
					</li>
				{/loop}
				<li><span>原价：</span><span class="price__">{$product['productInfo']['price']}</span>　<span >现价：</span><span class="price">{$product['productInfo']['special']['price']}</span>　</li>
				
				<li><a href="#" class="company">本产品由穿悦公司提供</a></li>
				<!-- <li class="address">试用商家地址：{$store['address']}</li> -->
				
				<div class="abs_b" data-id="{$product['productInfo']['product_id']}" ></div>
				<!-- <span class="_m_b"><label >请选择是否试用：<i class="checkP"></i></label></span> -->
			</ul>
			
        </div>
		{/loop}
    </div>
    
    <div class="right_get_p_x">
	
    	<ul class="small_p_b">
		    
        	{loop $products $product}
				<li class="pSelect" data-id="{$product['productInfo']['product_id']}" data-name="{$product['productInfo']['name']}"><img src="{$product['productInfo']['image']}"  width="110" height="110" title="{$product['productInfo']['name']}"></a><span>{$product['productInfo']['shortname']}</span><i class="checkP"></i></li>
            {/loop}
		   
		</ul>
		
		<div class="sy_info">
            <h4>我的试用包</h4>
            <div class="showHTML"></div>
            
		    <div class="p_x_tig">
        	    <strong>您已选择 <span class="selected">0</span> 件产品</strong><br />每个会员帐号一次可以选择 <span>1-9</span> 件产品 
		    </div>
		</div>
        <div class="p_x_button">
			<a href="javascript:void(0);" class="a1" title="我要试用"></a>
			<!-- <a href="?route=store/store&store_id={$store_id}" class="a2" title="进入店铺"></a> -->
		</div>
        		
			
		
    </div>

    <div class="clear"></div>
	
</div>

<!------------产品展示 end-------------->


<!--试用详情-->
<div class="details">
	<dl >
		<dt><span class="selected">产品详情</span><span >试用详情</span> </dt>
			<dd >{$productInfo['product']['description']}</dd>
		
			<dd class="tSbox"><img src="catalog/view/theme/default/image/try/try_details.jpg"/></dd>
	</dl>
</div>


<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
    <h3>试用中心</h3>
  </div>
  <div class="modal-body">
    {if !empty($customer_id)}<p>您确定试用您选中的产品吗？</p>{else}<div class="input-prepend input-append"><span class="add-on">请输入您的手机号码：</span><input name="mobile" class="input-xlarge" type="text" placeholder="手机号码"></div>{/if}
  </div>
  <div class="modal-footer">
    <button class="btn confirm" data-dismiss="modal" aria-hidden="true">确定</button>
    {if !empty($customer_id)}<button class="btn btn-primary inmytryspace">进入我的试用空间</button>{/if}
  </div>
</div>

<script type="text/javascript">
$(function(){
    

	$('ul').on('click','li a.size_sel',function(){
	    $(this).siblings().removeClass('cy-selected');
	    if($(this).hasClass('cy-selected')){
	        $(this).removeClass('cy-selected');
		}else{
		    $(this).addClass('cy-selected');
		}
	});
	
	$('.p_x_button a.a1').click(function(){
	    /*
	    var customer_id={$customer_id};
		if(!customer_id){
		    var referer='{$referer}';
	        location.href="?route=account/login&referer="+encodeURIComponent(referer);
			return false;
		}
	    */
		

		var _sl_=$('.right_get_p_x ul li i.checkPN').length;
		if (_sl_<=0) { 
		    alert("请选择要试用的产品！");
			return false;
		}
		
		/*
		var attributes_=[];
		var flag;
	    $('.productinfo>ul').each(function(i,w){
		    var name=$(w).attr('data-name');
			var id=$(w).parent().attr('data-id');
			var cont=false;
		
			
			if($(w).children('span').children('label').children('i').hasClass('checkPN')){
				cont=true;
			}
			
			
			if (cont==false) return true;
			
		    var attributes=[];
			$(w).children('li.attribute').each(function(i,x){
			    flag=true;
				var attribute=$(x).children('span').html().replace(/[:：]/gi,'');
				$(x).children('a').each(function(i,u){
				    
					if($(u).hasClass('cy-selected')){
					   flag=false;
					}		
					
					
				});
			
				if(flag){
				   attributes.push(attribute);
				}
			})
			
			if(attributes.length>0){
			   attributes.unshift(name);
			   attributes_[id]=attributes;
			}
		});
		
		
		if(attributes_.length>0){
		    var strMsg='请选择属性：\n';
		    for(var k in attributes_){
			    for(var l in attributes_[k]){
				    strMsg += attributes_[k][l];
				}
				strMsg +='\n';
			}
			    
		    alert(strMsg);
			return false;
		}
		*/
		
		$('.modal').modal('show');
	
	});
	
	$('.right_get_p_x ul li').hover(function(){
	    $(this).addClass('borderR');
	},function(){
	    $(this).removeClass('borderR');
	});
	
	
	
	//倒计时
	var ttt;
	if(ttt) clearInterval(ttt);
	
	function _remainderTimer_(end_timestamp){ 
		var current_timestamp=Math.ceil(new Date().getTime()/1000);
		
		var day='';
		var hour='';
		var minute='';
		var second='';
		
		var remainder=end_timestamp-current_timestamp;
		
		day=Math.floor(remainder/86400);
		
		hour=Math.floor((remainder-day*86400)/3600);
		
		minute=Math.floor((remainder - day*86400 -hour*3600)/60);
		
		second=remainder - day*86400 - hour*3600 - minute*60;
		
		
		var _time_='剩余';
		_time_ +='<span class="time">'+day+'</span> 天<span class="time">'+hour+'</span> 时<span class="time">'+minute+'</span> 分<span class="time">'+second+'</span> 秒';
		
		
		$('.productsr dl dt span.remainder').html(_time_);

		
	}
	ttt=setInterval(function(){_remainderTimer_($productInfo['product']['special']['date_end'])},1000);
	
	$('.right_get_p_x ul li').click(function(){
	    var product_id=$(this).attr('data-id');
		$('div.productinfo').each(function(i,w){
		    if($(w).attr('data-id')==product_id){
		        if($(w).hasClass('tSbox')) {
				    $(w).removeClass('tSbox');
				}
				
				$('.details dl dd:eq(0)').html($(w).children('.productDesc.').html());
			}else{
			    if(!$(w).hasClass('tSbox')) {
				    $(w).addClass('tSbox');
				}
			}
		});
	});
	
	
	$('.right_get_p_x ul li').click(function(){
	    var product_id=$(this).attr('data-id');
	    $.ajax({
		    url:'?route=try/product/selectProduct',
			type:'post',
			data:{product_id:product_id},
			dataType:'json',
			success:function(json){
			    //console.log(json);
				/*$('.productinfo').each(function(i,w){
				    if($(w).attr('data-id')==product_id){
					    if($(w).children('div._large_img_thumb_').children('span').length==$(w).children('div._large_img_thumb_').children('span.tSbox').length){
							$(w).children('div._large_img_thumb_').children('span').addClass('tSbox');
							$(w).children('div._large_img_thumb_').children('span:eq(0)').removeClass('tSbox');
						}
					}
				});*/
			
				$('.products .productsl dl dt').html(json[product_id]['product']['name']);
				
  
				if(ttt) clearInterval(ttt);
				ttt=setInterval(function(){_remainderTimer_(json[product_id]['product']['special']['date_end']);},1000);
				
			}
		});
	});
	
	var t;
	
	$('.b_p_img_thumb').on('mouseover','span',function(){
	    var image_id=$(this).attr('data-id');
		var that=$(this);
		
		if(!($(this).hasClass('sleb'))){
		    t=setTimeout(function(){
			   that.siblings().removeClass('sleb');
			   that.addClass('sleb');
			   
			   that.parents('.b_p_img_thumb').siblings('._large_img_thumb_').children('span').addClass('tSbox');
			   that.parents('.b_p_img_thumb').siblings('._large_img_thumb_').children('span[data-id='+image_id +']').removeClass('tSbox');
		    },300);
		}
	}).mouseout(function(){
        clearTimeout(t);
	});
	
	/*
	$('i.checkP').click(function(){
	    var _AM_95668o=0;
        var that=$(this);
	    
	    $('.productinfo').children('ul').children('span').children('label').each(function(i,w){
		    if($(w).children('i').hasClass('checkPN')){
			   ++_AM_95668o;
			}
		});
		 
		
		if($(this).hasClass('checkPN')){
		    //$(this).removeClass("checkPN");
		    --_AM_95668o;
			$('.p_x_tig span.selected').html(_AM_95668o);
		}else{
		
		    var product_id=$(this).parents('.productinfo').attr('data-id');
			var store_id = {$productInfo['product']['store_id']};
		    $.ajax({
			    url:'?route=try/product/isTry',
				dataType:'html',
				type:'post',
				data:{product_id:product_id,store_id:store_id},
				success:function(str){
				    if(str>0){
					   alert('此产品已添加到您的试用空间了，请不要重复添加！');
					   return false;
					}else if(str==-1){
					    alert('不能添加自己店铺的产品到您的试用空间！');
					    return false;
					}else{ 
					    //that.addClass("checkPN");
		                ++_AM_95668o;
						$('.p_x_tig span.selected').html(_AM_95668o);
					}
				}
			});
		   
		  
		}
		
	});
	*/
})



</script>

<script type="text/javascript">
    $('.details dl dt span').mouseover(function(){
	    if(!$(this).hasClass('selected')){
		    $(this).siblings().removeClass('selected');
			$(this).addClass('selected');
		}
	    var order_=$(this).index();
	
		$(this).parent().siblings('dd').addClass('tSbox');
		$(this).parent().siblings('dd:eq('+order_+')').removeClass('tSbox');
	
	});
</script>
<script type="text/javascript">
    $('.confirm').click(function(){
	    var mobile='';
	    {if empty($customer_id)}
		    mobile=$('input[name=mobile]').val();
			if(!(/^1[3|4|5|8]\d{9,9}$/.test(mobile))){
			    alert('输入的手机号码格式不正确！');
				return false;
			}
		{else}
		    mobile={$mobile};
		{/if}
	
	
	    var product_id_list={};
		/*
		$('.left_get_p_b ul').each(function(i,w){
		    var product_attribute='';
			var product_id;
			
			if($(w).children('span').find('i').hasClass('checkPN')){
				product_id=$(w).parent().attr('data-id');
				
				
				$(w).find('li.attribute').each(function(i,z){
					 product_attribute+=$(z).find('.cy-selected').html().replace(/<[^>].*?>/g,"");
				})
				
				product_id_list[product_id]=product_attribute;
			}
			
		});
		*/
		
		var product_id;
		var product_attribute;
		var attribute_id;
		
		if(('.showHTML .sy_infoDiv').length>0){
			$('.showHTML .sy_infoDiv').each(function(i,w){
				
				product_id=$(w).attr('data-id');
				attribute_id=$(w).children('span').attr('data-aid');
				product_attribute=$(w).children('span').html();
				
				product_id_list[product_id+'|'+attribute_id]=product_attribute;
			
			});
		}
		
		//console.log(product_id_list);return false;
		var store_id={$productInfo['product']['store_id']};
		
		$.ajax({
			url:'?route=try/product/ConfirmSelectProduct',
			type:'post',
			data:{product_id_list:product_id_list,mobile:mobile,store_id:store_id},
			dataType:'json',
			success:function(json){
			    console.log(json);
			    if(json['exists']){
				    
				    var _Y_=[];
					for (var k in json['exists']){
					    _Y_.push(k+'：'+json['exists'][k]+'\n');
							
				    }
					
					if(_Y_.length>0) {
					    alert(_Y_.toString().replace(/,/gi,'')+'已经添加到试用空间，请不要重复添加!');
					    return false;
					}
				}else if (json['noexists']){
				    //alert('已添加到试用空间！');
					//$('.modal').modal('show');
					var _Y_=[];
					
					for (var k in json['noexists']){
					    _Y_.push(json['noexists'][k]);
					}
					
					///console.log(_Y_.toString());
					location.href='?route=try/confirm&t='+encodeURIComponent(_Y_.toString())+'&m='+mobile;
				}
				
			}
		});
	});

    $('button.inmytryspace').click(function(){
	    location.href='?route=account/mytry';
	});
	
	
	$('.showHTML').on('click','.del',function(){
	    
		var _zzz_=0;
		var product_id=$(this).parents('.sy_infoDiv').attr('data-id');
		$('.sy_infoDiv').each(function(i,y){
		    if($(y).attr('data-id')==product_id){
			    ++_zzz_;
			}
		});
		
		if(_zzz_==1) {
		    $('.right_get_p_x ul li').each(function(i,c){
			    if($(c).attr('data-id')==product_id){
				    $(c).children('i').removeClass('checkPN');
				}
			});
		}
		
	    $(this).parents('.sy_infoDiv').remove();
		
		var _AM_7009;
		_AM_7009=$('.sy_infoDiv').length;
		$('.p_x_tig span.selected').html(_AM_7009);
		
		
	    
	});
	
	$(".abs_b").click(function(){
	    var _AM_95668o=0;
        
		_AM_95668o=$('.sy_infoDiv').length;
		
		if(_AM_95668o>=9) return false;
	    
	    var product_id=$(this).attr('data-id');
		
	    var that=$(this);
		var flag;
        var name=$(this).parent('ul').attr('data-name');
		var attributes=[];
		$(this).siblings('.attribute').each(function(i,x){
			flag=true;
			var attribute=$(x).children('span').html().replace(/[:：]/gi,'');
			$(x).children('a').each(function(i,u){
				
				if($(u).hasClass('cy-selected')){
				   flag=false;
				}		
	
			});
		
			if(flag){
			   attributes.push(attribute);
			}
		})
		
		if(attributes.length>0){
		   alert('请选择属性：'+attributes);
		   return false;
		}
		
		var aids='';
		var aid;
		var comma='';
		$(this).siblings('.attribute').each(function(i,z){
		    aid=$(z).find('.cy-selected').attr('data-aid');
			aids+=comma;
		    aids+=aid;
			comma=',';
		
		});
		
		
		
		/*
	    $('.right_get_p_x ul li').each(function(i,w){
		    if($(w).children('i').hasClass('checkPN')){
			   ++_AM_95668o;
			}
		});
		*/
		
		var store_id = {$productInfo['product']['store_id']};
		$.ajax({
			url:'?route=try/product/isTry',
			dataType:'html',
			type:'post',
			data:{product_id:product_id,attribute_ids:aids,store_id:store_id},
			success:function(str){
				if(str>0){
				   alert('此产品已添加到您的试用空间了，请不要重复添加！');
				   return false;
				}else if(str==-1){
					alert('不能添加自己店铺的产品到您的试用空间！');
					return false;
				}else{ 
				
					$('.right_get_p_x ul li' ).each(function(i,w){
						var product_id_=$(w).attr('data-id');
						if(product_id===product_id_ && !$(w).children('i').hasClass('checkPN')){
							$(w).children('i').addClass("checkPN");
							
						}
					});
					
					var attributes_=[];
					var attribute_ids=[];
					that.siblings('.attribute').each(function(i,v){
					    var attributes=[];
					    var attribute=[];
						
					    attributes['title']=$(v).children('span').html().replace(/[:：]/gi,'');
						$(v).children('a').each(function(i,z){
						    if($(z).hasClass('cy-selected')){
							    attributes['attribute']=$(z).html().replace(/<i>.*<\/i>/gi,'');
								attribute_ids.push($(z).attr('data-aid'));
							}
						});
						
						attributes_.push(attributes);
					});
					
					var attributes__='';
					var comma='';
	
					if(attributes_.length>0){
					    for(var i in attributes_){
						    attributes__ +=comma;
						    attributes__ += attributes_[i]['title']+'：'+attributes_[i]['attribute'];
							comma='，';
						}
					}

					if($('.sy_infoDiv').length<=0){
						$(".showHTML").append('<div class="sy_infoDiv" data-id="' + product_id + '"><p><span class="name">'+name+'</span><span class="del" >【删除】</span></p><span data-aid='+attribute_ids.toString()+'>'+attributes__+'</span></div>');
			            _AM_95668o++;
				    }else{
			
						var _flag_=true;
					    $('.sy_infoDiv').each(function(i,y){
						    if($(y).attr('data-id')==product_id && $(y).children('span').attr('data-aid')==attribute_ids.toString()){
							    _flag_=false;  
								return false;
							}
						});
						
						if(_flag_){
							$(".showHTML").append('<div class="sy_infoDiv" data-id="' + product_id + '"><p><span class="name">'+name+'</span><span class="del" data-aid=>【删除】</span></p><span data-aid='+attribute_ids.toString()+'>'+attributes__+'</span></div>');
						    _AM_95668o++;
						}
					
					}
					
					$('.p_x_tig span.selected').html(_AM_95668o);
				}
			}
		});
		   
		  
		
		
		
	});
</script>
<!-------------------------底部版权begin------------------------->
{$footer}

<!-------------------------底部版权end------------------------->

