<link rel="stylesheet" type="text/css" href="view/stylesheet/general.css">
<link rel="stylesheet" type="text/css" href="view/stylesheet/main.css">
<script type="text/javascript" src="view/javascript/jquery/jquery-1.7.1.min.js"></script><!--这里只能用1.7.1的版本,否则自带的图片处理有问题-->

<style type="text/css">
tr.over td {
	background:#cfeefe;
} 
</style>
    <h1><img src="view/image/setting.png" alt="" /> {$heading_title}
        <span class="action-span">
		    <!-- <a href="{$insert}" class="button">{$button_insert}</a> -->
			<a href="javascript:;" onclick="$('form').submit();" class="button">{$button_delete}</a>
			<a href="{$refresh}" class="button">{$button_refresh}</a>
			
		</span>
    </h1>
    <div class="list-div" id="listDiv">
      <form action="{$delete}" method="post" enctype="multipart/form-data" id="form" onsubmit="return checkForm();">
        <table class="list">
          <thead>
            <tr>
              <td  style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
              <td style="text-align:center">logo</td>
			  <td style="text-align:center">ID</td>
			  <td style="text-align:center">网店名称</td>
              <td style="text-align:center">店主</td>
              <td style="text-align:center">电话</td>
			  <td style="text-align:center">手机</td>
			  <td style="text-align:center">地址</td>
			  <td style="text-align:center" width="30%">介绍</td>
			  <td style="text-align:center">开店时间</td>
			  <td style="text-align:center">状态</td>
			  <td style="text-align:center">操作</td>
            </tr>
          </thead>
          <tbody>
            {if $stores}
				{loop $stores   $store}
				<tr>
				  <td style="text-align: center;">{if $store['selected']}
					<input type="checkbox" name="selected[]" value="{$store['store_id']}" checked="checked" />
					 {else}
					<input type="checkbox" name="selected[]" value="{$store['store_id']}" />
					{/if}</td>
				  <td class="left"><img src="{$store['logo']}" /></td>
				  <td class="left">{if isset($store['store_id'])}{$store['store_id']}{/if}</td>
				  <td class="left">{if isset($store['name'])}{$store['name']}{/if}</td>
				  <td class="left">{if isset($store['owner'])}{$store['owner']}{/if}</td>
				  <td class="left">{if isset($store['tel'])}{$store['tel']}{/if}</td>
				  <td class="left">{if isset($store['mobile'])}{$store['mobile']}{/if}</td>
				  <td class="left">{if isset($store['address'])}{$store['address']}{/if}</td>
				  <td class="left">{if isset($store['introduce'])}{$store['introduce']}{/if}</td>
				  <td class="left">{if isset($store['createtime'])}{$store['createtime']}{/if}</td>
				  <td class="left">{if isset($store['status'])}{$store['status']}{/if}</td>
				  <td class="right">{loop $store['action']   $action}
					<a href="{$action['href']}">{$action['text']}</a>
					{/loop}</td>
				</tr>
				{/loop}
            {else}
				<tr>
				  <td class="center" colspan="12">{$text_no_results}</td>
				</tr>
            {/if}
          </tbody>
        </table>
      </form>
	  <div class="pagination">{$pagination}</div>
    </div>
<script type="text/javascript">
$(function(){
	$(".list tr").mouseover(function(){
		$(this).addClass("over");
	}).mouseout(function(){
		$(this).removeClass("over");	
	})

});



function checkForm(){
    var sum=0;
    $("input[name^='select']").each(function(i,n){
		if($(this).prop("checked")==true){
		   sum++;
		}
  
    });
  
    if(sum<1) {
       alert("请选择要删除的项！");
	   return false;
    }

};
</script>